<div class="pageContent">
	<form method="post" action="?action=admin&opt=edituser&callbackType=closeCurrent&navTabId=userList" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<div class="pageFormContent" layoutH="68">
			<div class="unit">
				<label>登录账号：</label>
				<input readonly="readonly" name="account" type="text" size="30" value="<{$data.account}>" />
				<input name="uid" type="hidden" value="<{$data.uid}>" />
			</div>
            <div class="unit">
				<label>新密码：</label>
				<input name="newpass" type="text" size="30" value=""/>
			</div>
            <div class="unit">
				<label>确认新密码：</label>
				<input name="newpassagain" type="text" size="30" value=""/>
			</div>
			<{if $data.groupid != 1}>
			<div class="unit">
				<label>所属分组：</label>
				<select name="groupid">
				<{foreach item=vo from =$groupdata}>
				<option value="<{$vo.id}>" <{if $data.groupid == $vo.id}>selected="selected"<{/if}> ><{$vo.title}></option>
				<{/foreach}>
				</select>
			</div>
			<{/if}>
			<div class="unit">
				<label>真实姓名：</label>
				<input class="required" name="name" type="text" size="30" value="<{$data.name}>"/>
			</div>
			<div class="unit">
				<label>职务：</label>
				<input name="dep" type="text" size="30" value="<{$data.dep}>"/>
			</div>
			<div class="unit">
				<label>办公室电话：</label>
                <input name="phone" type="text" size="30" class="phone" value="<{$data.phone}>"/>
			</div>
            <div class="unit">
				<label>手机号码：</label>
                <input name="mobel" type="text" size="30"  class="digits" value="<{$data.mobel}>"/>
			</div>
            <div class="unit">
				<label>邮件地址：</label>
                <input name="email" type="text" size="30"
    class="email" value="<{$data.email}>"/>
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>