<{include file="sysmanage/head.html"}>
<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box green">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>操作日志
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse">
								</a>
								<!-- <a href="#portlet-config" data-toggle="modal" class="config">
								</a> 
								<a href="javascript:;" class="reload">
								</a> -->
								<a href="javascript:;" class="remove">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							
							<form action=?action=admin&opt=handleLogs  method="post"  id="pagerForm">
							<table class="table table-striped table-bordered table-hover"  id="datatable_orders" >
							<thead>
							<tr>
								<th>
									 Uid
								</th>
								<th>
									 内容
								</th>
								<th>
									 操作
								</th>
								<th>
									 模块
								</th>
								<th>
									函数
								</th>
								<th>
									 IP
								</th>
								<th>
									 操作时间
								</th>
							</tr>
							</thead>
							<tbody>
							
							<tr role="row" class="filter" style="text-align: center;">
									<td>
										<input size="6" type="text" name="uid" value="<{$request.uid}>"/>	
									</td>
									
									<td style="width: 20%">
										<div class="input-group input-medium date-picker input-daterange" data-date="2012-10-11" data-date-format="yyyy-mm-dd">
												<input type="text" class="form-control" name="from" style="font-size: 10px" value="<{$startime}>">
												<span class="input-group-addon">
												to </span>
												<input type="text" class="form-control" name="to" style="font-size: 10px" value="<{$endtime}>">
											</div>
											<!-- /input-group -->
									</td>
									<td>
									</td>
									<td>
										<input size="8" type="text" name="module" value="<{$request.module}>"/>	
									</td>
									<td>
										<input size="11" type="text" name="option" value="<{$request.option}>"/>	
									</td>
									<td>
										<input size="11" type="text" name="ip" value="<{$request.ip}>"/>	
									</td>
									<td>
										<div class="margin-bottom-5">
											<button class="btn btn-sm yellow filter-submit margin-bottom" ><i class="fa fa-search"></i> Search</button>
										</div>
									</td>
								</tr>
							
							
							<{foreach key=key item=vo from =$data}>
							<tr class="odd gradeX" style="text-align: center;">
								<td>
									<{$vo.uid}>
								</td>
								<td>
									 <{$vo.content}>
								</td>
								<td>
									 <{$vo.handle}>
								</td>
								<td>
									 <{$vo.module}>
								</td>
								<td>
									<{$vo.option}>
								</td>
								<td>
									<{$vo.ip}>
								</td>
								<td>
									<{$vo.addtime}>
								</td>
							</tr>
							<{/foreach}>
							
							<input type="hidden" value=""  name="pageNum"  id="pageNum">
							<input type="hidden" value="<{$numPerPage}>"  name="numPerPage" id="numPerPage">
							</tbody>
							</table>
							</form>
							
							<{include file="sysmanage/page.html"}>
							
												
						</div>				
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
					
				</div>
			</div>		
<{include file="sysmanage/foot.html"}>
	