<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="start active ">
            <a href="/">
                <i class="icon-home"></i>
                <span class="title">首页</span>
            </a>
        </li>
        <li>
            <a href="index.php?controller=qdpay">
                <i class="icon-basket"></i>
                <span class="title">渠道充值明细</span>
                <!--<span class="arrow"></span>-->
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="icon-rocket"></i>
                <span class="title">访问量统计</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="index.php?controller=article&method=chaptervisit">章节点击订阅</a>
                </li>
                <!--<li>-->
                    <!--<a href="index.php?controller=visit&method=weekly">按周统计</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="index.php?controller=visit&method=monthly">按月统计</a>-->
                <!--</li>-->
            </ul>
        </li>
        <li>
            <a href="index.php?controller=articlevisit">
                <i class="icon-diamond"></i>
                <span class="title">小说阅读统计</span>
                <span class="arrow "></span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="icon-puzzle"></i>
                <span class="title">推广效果评估</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="index.php?controller=ad&method=daily">今日数据</a>
                </li>
                <li>
                    <a href="index.php?controller=ad&method=cost">回本情况统计</a>
                </li>
                <li>
                    <a href="components_dropdowns.html">成本设置</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;">
                <i class="icon-settings"></i>
                <span class="title">渠道数据维护</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="index.php?controller=qd">
                        <span class="badge badge-roundless badge-danger">new</span>渠道列表</a>
                </li>
                <li>
                    <a href="index.php?controller=qd&method=group">
                        渠道打包</a>
                </li>
            </ul>
        </li>

    </ul>
    <!-- END SIDEBAR MENU -->
</div>