<table align="center" cellpadding="2" cellspacing="1" class="grid" width="100%">
  <caption>站点管理</caption>
  <tr>
    <td><a href='{?$adminprefix?}&method=add'><font color="red">添加站点</font></a> | <a href='{?$adminprefix?}&method=main'>返回站点列表</a></td>
  </tr>
</table>
<form method="post" action="?" name="myform" id="myform">
<table cellpadding="0" cellspacing="1" class="grid" id="list">
    <caption>《{?$channel.channelname?}》推送文章列表</caption>
    <tr><th width="2%">全选</th>
    	<th width="2%">序号</th>
        <th width=3%">原ID</th>
        <th width="13%">文章名称</th>
		<th width="42%">文章简介</th>
		<!-- <th width="5%">接口状态</th> -->
		<th width="8%">建立时间</th>
		{?if $channel.type == 0?}
			<th width="8%">最后推送</th>
		{?/if?}
		<th width="3%">状态</th>
        <th>管理操作</th>
    </tr>{?section name=i loop=$rows?}
    <tr>
	<td class="align_c"><input type="checkbox" name="paids[]" value="{?$rows[i]['paid']?}" id="content_{?$_PAGE['rows'][i]['paid']?}" /></td>
      <td>{?$i.order?}</td><td>{?$rows[i]['articleid']?}</td>
        <td><a href="{?function geturl:'article':'index':aid=$rows[i]['articleid']?}" target="_blank">{?$rows[i]['articlename']?}{?if $_PAGE['rows'][i]['image']!=''?} <font color=red>封</font>{?/if?}</a></td>
		<td>{?$rows[i]['intro']|truncate:'95':'……':'0'?}</td>
		<!-- <td class="align_c">{?if $rows[i]['pushflag']>0?}<font color=blue>完成</font>{?else?}更新中{?/if?}</td> -->
        <td class="align_c" align="center">{?if $rows[i]['adddate']>0?}{?$rows[i]['adddate']|date:'Y-m-d H:i'?}{?/if?}</td>
		{?if $channel.type == 0?}
			<td class="align_c" align="center">{?if $rows[i]['lastdate']>0?}{?$rows[i]['lastdate']|date:'Y-m-d H:i'?}{?/if?}</td>
		{?/if?}
		<td class="align_c" align="center">{?if $rows[i]['pushflag']=='1'?}正常{?else?}<font color=blue>封禁</font>{?/if?}</td>										
		<td class="align_c" align="center">
			{?if $channel['setting']['getdata']['chaptersource'] == 1?}
				<a href="{?$adminprefix?}&method=synchronization&cid={?$channel.channelid?}&paid={?$rows[i]['paid']?}" target="_blank" title="章节同步">同步</a> | 
				<a href="{?$adminprefix?}&method=chapterList&cid={?$channel.channelid?}&paid={?$rows[i]['paid']?}" title="章节管理">章节</a> | 
			{?/if?}
			<a href="{?$adminprefix?}&method=editArticle&cid={?$channel.channelid?}&paid={?$rows[i]['paid']?}">修改</a> | 
			<a href="javascript:confirmurl('{?$adminprefix?}&method=delArticle&cid={?$channel.channelid?}&paid={?$rows[i]['paid']?}', '确认删除推送文章：{?$rows[i]['articlename']?}')">删除</a>
			{?if $channel.type == 0?} | 
				<a href="{?$adminprefix?}&method=push&cid={?$channel.channelid?}&paid={?$rows[i]['paid']?}" target="_blank">推送</a>
			{?/if?}
		</td>
    </tr>{?/section?}  
</table>																																																																																																																																																																																																																																																																																													
<div class="button_box">
	<span style="width:60px">
		<a href="###" onclick="javascript:$('input[type=checkbox]').attr('checked', true)">全选</a>/<a href="###" onclick="javascript:$('input[type=checkbox]').attr('checked', false)">取消</a>
	</span>
	<input type="hidden" name="formhash" value="{?eval echo form_hash();?}" /><input name="dosubmit" type="button" value=" 解禁 "  onclick="javascript:if(confirm('批量：解禁？')){myform.action='{?$adminprefix?}&method=editStatu&cid={?$channel.channelid?}&value=1';myform.submit();}" class="text"/>
	<input name="dosubmit" type="button" value=" 封禁 " onclick="javascript:if(confirm('批量：封禁？')){myform.action='{?$adminprefix?}&method=editStatu&cid={?$channel.channelid?}&value=0';myform.submit();}" class="text"/>
	<input type="button" name="delete" value=" 删除 " onclick="javascript:if(confirm('确认批量删除选中的推送文章？')){myform.action='{?$adminprefix?}&method=delArticle&cid={?$channel.channelid?}';myform.submit();}">
	{?if $channel.type == 0?}
		<input type="button" name="delete" value=" 推送 " onclick="javascript:if(confirm('确认批量推送文章？')){myform.action='{?$adminprefix?}&method=push&cid={?$channel.channelid?}';myform.target='_blank';myform.submit();}">
	{?/if?}
	{?if $channel['setting']['getdata']['chaptersource'] == 1?}
		<input type="button" name="delete" value=" 同步 " onclick="javascript:if(confirm('确认批量同步？')){myform.action='{?$adminprefix?}&method=synchronization&cid={?$channel.channelid?}';myform.target='_blank';myform.submit();}">
	{?/if?}
</div>{?$url_jumppage?}
</form>
<table cellpadding="0" cellspacing="1" class="grid" width="100%">
<form action="{?$adminprefix?}&method=pushArticles&cid={?$channel.channelid?}" method="post">

    <caption>《{?$channel.channelname?}》添加推送文章</caption>
	<tr> 
      <th width='15%'><strong>请填写文章ID号</strong></th><th style="text-align:left">多个书号之前请用逗号分隔，不要出现换行</th>
	</tr>
	<tbody id="getdata">
	<tr> <th width='15%'></th>
      <td>
		  <table>
			<tr>
			  <th><strong>文章ID</strong></th>
			  <td><textarea name="articleids" cols="80" rows="10"></textarea><br />多个文章ID请用逗号","分隔</td>
			</tr>
		  </table>
	  </td>
    </tr>	</tbody>

	<tr> 
      <th><font color="red">*</font> <strong>状态</strong></th>
      <td><input type='radio' name='statu' value='1' checked/> 开启更新&nbsp;
	  <input type='radio' name='statu' value='0' /> 关闭更新(在没有确定推送之前，请先设置关闭更新)</td>
    </tr>	

    <tr> 
      <th></th>
      <td> 
	  <input type="hidden" name="formhash" value="{?eval echo form_hash();?}" />
	  <input type="submit" name="dosubmit" value=" 确定 "> 
      &nbsp; <input type="reset" name="reset" value=" 清除 ">
	  </td>
    </tr>
	</form>
</table>
<table cellpadding="0" cellspacing="1" class="grid" width="100%">
  <caption>提示信息</caption>
  <tr>
    <td>
	１、显示封禁状态的书，系统不会向合作网站推送！<br />
	２、显示推送完本状态的书，系统不会再向合作网站推送新的章节！<br />
	３、在不确定书是否推送之前，请在添加书之前先将书设置为"关闭更新"状态,在开启更新之前，可以修改书名和简介。
	</td>
  </tr>
</table>
<script>
$(document).ready(function(){
	$("#list tr:not(':first')").bind("mouseover",function(){
		 $(this).css("background","#DDF2FF");
	});
	$("#list tr:not(':first')").bind("mouseout",function(){
		if($(this).find("input[name='paids[]']").attr("checked")){
			$(this).css("background","#C3E8FF");
		}else{
			$(this).css("background","#ffffff");
		}
	});
})
</script>