{?set jieqi_page_template = "/modules/news/themes/empty.html"?}{?eval $contentid = $_PAGE['data']['contentid'];?}{?eval $catid = $_PAGE['data']['catid'];?}{?eval $keywords = $_PAGE['data']['keywords'];?}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{?$_PAGE['data']['title']?} 赶游网图片频道</title>
<link href="{?$_SGLOBAL['TPL_DIR']?}/photo/css/spzs.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="{?$_SGLOBAL['news']['url']?}/images/js/common.js"></script>
<script type="text/javaScript" src="{?$_SGLOBAL['localurl']?}/lib/html/fckeditor/jquery.min.js"></script>
<script src="{?$_SGLOBAL['TPL_DIR']?}/photo/images/xsbortsImageBrowser.js" type="text/javascript"></script>
<SCRIPT src="{?$_SGLOBAL['TPL_DIR']?}/photo/images/tbhb.js" type=text/javascript></SCRIPT>

<script language="javascript">
<!--
var articleid = '{?$_PAGE['data']['contentid']?}';
var siteurl = '{?$_SGLOBAL['localurl']?}';
//-->
</script> 
</head>

<body class="m1">

<div class="header">
<!--header-->
<div class="contain">
	<div class="logo"><a href="{?function jieqi_geturl:'news':'lists':14:1?}"><img src="{?$_SGLOBAL['TPL_DIR']?}/photo/images/logo1.jpg" width="384" height="100" border="0" /></a></div>
	<div class="top_right">
	<a href="#" class="blue">登录</a> | <a href="#" class="blue">注册</a> | <a href="{?function jieqi_geturl:'news':'lists':77:1?}">游戏资讯</a> | <a href="{?function jieqi_geturl:'news':'lists':110:1?}" class="blue">游戏攻略</a> | <a href="{?function jieqi_geturl:'news':'lists':130:1?}">游戏视频</a>
	<div class="search">
		<ul><form name="fmt_search_form" id="fmt_search_form" action="{?function jieqi_geturl:'news':'lists':8:1?}" method="get" target="_blank">
		<li class="sear_01"><input name="" type="button" class="s1"/>综合 </li>
		<li class="sear_02"><input type="text" value="输入您要查询的关键字" onClick="javascript:this.value='';" name="k" id="k" /></li>
		<li><input name="" type="button" class="go" style="cursor:pointer;" onClick="javascript:document.fmt_search_form.submit();"/></li></form>
		</ul>
	</div>	
	</div>	
	<div class="clear"></div>
	<ul id="nav">
	<li><a href="{?function jieqi_geturl:'news':'lists':14:1?}" id="m1" onfocus="blur()">图库首页</a></li>
	<li><a href="{?function jieqi_geturl:'news':'lists':114:1?}" id="m2" onfocus="blur()" target="_blank">游戏壁纸</a></li>
	<li><a href="{?function jieqi_geturl:'news':'lists':117:1?}" id="m3" onfocus="blur()" target="_blank">游戏截图</a></li>
	<li><a href="{?function jieqi_geturl:'news':'lists':15:1?}" id="m4" onfocus="blur()" target="_blank">美女玩家</a></li>
	<li><a href="{?function jieqi_geturl:'news':'lists':16:1?}" id="m5" onfocus="blur()" target="_blank">图工场</a></li>
	<li><a href="{?function jieqi_geturl:'news':'lists':92:1?}" id="m6" onfocus="blur()" target="_blank">八天下</a></li>
	<li><a href="{?function jieqi_geturl:'news':'lists':93:1?}" id="m7" onfocus="blur()" target="_blank">Cosplay</a></li>
	<li><a href="{?function jieqi_geturl:'news':'lists':121:1?}" id="m8" onfocus="blur()" target="_blank">游戏周边</a></li>
	</ul>
</div>
<div style="padding:8px 0 8px 0; text-align:center;"><img src="{?$_SGLOBAL['TPL_DIR']?}/photo/images/gg.jpg" align="absmiddle" /></div>

<!--header end-->
<div class="box_hy">
<div class="spym_a1"><img src="{?$_SGLOBAL['TPL_DIR']?}/photo/images/sp_01.jpg" align="absmiddle" />当前位置: <a href="{?$_SGLOBAL['localurl']?}/">{?$_SGLOBAL['sitename']?}首页</a> -> <a href="{?$_PAGE['data']['url_catelist']?}">{?$_PAGE['data']['catname']?}</a> -> <a href="{?$_PAGE['data']['url_articleinfo']?}">{?$_PAGE['data']['title']?}</a></div>
<div class="spym_nr">
<!--图库首页幻灯片-->
<DIV class=main-wrap>
	<DIV id=slide-box>
		<B class=corner></B>
		<DIV class=slide-content id=J_slide>
			<DIV class=wrap>
				<UL class=ks-switchable-content>
				  {?tag_news_41_[图片]大图推?}

				</UL>
			</DIV>
			<DIV class=ks-switchable-triggers>
				<A class=prev id=J_prev href="javascript:void(0);">
				<B class=corner></B><SPAN>&#8249;</SPAN><B class=corner></B></A> 
				<A class=next id=J_next href="javascript:void(0);">
				<B class=corner></B><SPAN>&#8250;</SPAN><B class=corner></B></A>			</DIV>
		</DIV>
		<B class=corner></B>	</DIV>
</DIV>
<SCRIPT type=text/javascript>
	var D=YAHOO.util.Dom, E=YAHOO.util.Event;

	KISSY().use("*", function(S) {
		var el = D.get('J_slide'),
			activeIndex = parseInt(el.getAttribute('data-active-index')) || 0;

		var carousel = new S.Carousel(el, {
			hasTriggers: false,
			navCls: 'ks-switchable-nav',
			contentCls: 'ks-switchable-content',
			activeTriggerCls: 'current',
			effect: "scrollx",
			steps: 2,
			viewSize: [620],
			activeIndex: activeIndex
		});
		
		E.on('J_prev', 'click', carousel.prev, carousel, true);
		E.on('J_next', 'click', carousel.next, carousel, true);
	});

	KISSY().use("*", function(S) {
		var el = D.get('J_shoppingGuide');
		if(!el){
			return;
		}
		var	activeIndex = parseInt(el.getAttribute('data-active-index')) || 0;

		var carousel = new S.Carousel(el, {
			navCls: 'ks-switchable-nav',
			contentCls: 'ks-switchable-content',
			activeTriggerCls: 'current',
			effect: "scrollx",
			steps: 4,
			viewSize: [660],
			activeIndex: activeIndex
		});
		
		E.on('J_shoppingGuidePrev', 'click', carousel.prev, carousel, true);
		E.on('J_shoppingGuideNext', 'click', carousel.next, carousel, true);
	});
</SCRIPT>

<!--图库首页幻灯片 end-->
<div class="clear"></div>
</div>
<div class="top10 spym_kuang">
<div class="spym_r_bt"><div style=" float:left;">思无邪</div><div style=" float:right;"><a href="{?function jieqi_geturl:'news':'lists':15:1?}" target="_blank">更多>></a> </div></div>

<div class="tpk_zsnr_r2">
{?tag_news_21_[新闻]通用查询<{inputtime,6,15,0,0,0,20}><{photo/block_piclist.html}>?}
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>

<div class="top10 spym_kuang">
<div class="spym_r_bt">
<div style=" float:left;">图工场</div>
<div style=" float:right;"><a href="{?function jieqi_geturl:'news':'lists':16:1?}">更多>></a></div>
</div>
<div class="tpk_zsnr_l">
<p><a href="http://www.ganyou.com/pic/51756.html" target="_blank"><img src="http://www.ganyou.com/tp/pic/tugongchang.jpg" width="300" height="188" border="0" alt="兔耳娘来袭 ACG美少女兔女郎同人图赏" /></a></p>
<p><a href="http://www.ganyou.com/pic/51756.html" target="_blank"><br>兔耳娘来袭 ACG美少女兔女郎同人图赏</br></a></p>
</div>
<div class="tpk_zsnr_r">
{?tag_news_21_[新闻]通用查询<{inputtime,8,16,0,0,0,20}><{photo/block_piclist.html}>?}
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>

<div class="top10 spym_kuang">
<div class="spym_r_bt"><div style=" float:left;">游戏壁纸</div><div style=" float:right;"><a href="{?function jieqi_geturl:'news':'lists':95:1?}" target="_blank">电脑游戏</a> | <a href="{?function jieqi_geturl:'news':'lists':115:1?}" target="_blank">电视游戏</a> | <a href="{?function jieqi_geturl:'news':'lists':116:1?}" target="_blank">网络游戏</a></div></div>

<div class="tpk_zsnr_r2">
{?tag_news_21_[新闻]通用查询<{inputtime,6,114,0,0,0,20}><{photo/block_piclist.html}>?}
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>

<div class="top10 spym_kuang">
<div class="spym_r_bt">
<div style=" float:left;">八天下</div>
<div style=" float:right;"><a href="{?function jieqi_geturl:'news':'lists':92:1?}">更多>></a></div>

</div>
<div class="tpk_zsnr_l">
<p><a href="http://www.ganyou.com/pic/51778.html" target="_blank"><img src="http://www.ganyou.com/tp/pic/batianxia.jpg" width="300" height="188" border="0" alt="真人版僵尸新娘：最惊世骇俗的婚礼" /></a></p>
<p><a href="http://www.ganyou.com/pic/51778.html" target="_blank"><br>真人版僵尸新娘：最惊世骇俗的婚礼</br></a></p>
</div>
<div class="tpk_zsnr_r">
{?tag_news_21_[新闻]通用查询<{inputtime,8,92,0,0,0,20}><{photo/block_piclist.html}>?}
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>

<div class="top10 spym_kuang">
<div class="spym_r_bt"><div style=" float:left;">游戏截图</div><div style=" float:right;"><a href="{?function jieqi_geturl:'news':'lists':118:1?}" target="_blank">电脑游戏</a> | <a href="{?function jieqi_geturl:'news':'lists':119:1?}" target="_blank">电视游戏</a> | <a href="{?function jieqi_geturl:'news':'lists':120:1?}" target="_blank">网络游戏</a></div></div>

<div class="tpk_zsnr_r2">
{?tag_news_21_[新闻]通用查询<{inputtime,6,117,0,0,0,20}><{photo/block_piclist.html}>?}
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>

<div class="top10 spym_kuang">
<div class="spym_r_bt"><div style=" float:left;">Cosplay</div><div style=" float:right;"><a href="{?function jieqi_geturl:'news':'lists':93:1?}" target="_blank">更多>></a> </div></div>
<div class="tpk_zsnr_r2">
<div class="tpk_zsnr_lp">
<p><a href="http://www.ganyou.com/pic/40433.html" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/photo/images/mm_1.jpg" border="0" alt="混血美女：阳光娇媚 明眸嫩肤，欲遮还露" /></a></p>
<p><a href="http://www.ganyou.com/pic/40433.html" target="_blank">混血美女：阳光娇媚 明眸嫩肤，欲遮还露</a></p>
</div>
<div class="tpk_zsnr_lp">
<p><a href="http://news.ganyou.com/38467.html" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/photo/images/mm_2.jpg" border="0" alt="美女coser樱桃MM绝美演绎LOL风女"  /></a></p>
<p><a href="http://news.ganyou.com/38467.html" target="_blank">美女coser樱桃MM绝美演绎LOL风女</a></p>
</div>
<div class="tpk_zsnr_lp">
<p><a href="http://www.ganyou.com/pic/33756.html" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/photo/images/mm_3.jpg" border="0" alt="黑丝软妹 《缘之空》柔弱女主角春日野穹COS"  /></a></p>
<p><a href="http://www.ganyou.com/pic/33756.html" target="_blank">黑丝软妹 《缘之空》柔弱女主角春日野穹COS</a></p>
</div>
<div class="tpk_zsnr_lp">
<p><a href="http://www.ganyou.com/pic/33813.html" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/photo/images/mm_4.jpg" border="0" alt="娇羞恶魔娘的碎衣诱惑《恶魔战士》莉莉丝COS"  /></a></p>
<p><a href="http://www.ganyou.com/pic/33813.html" target="_blank">娇羞恶魔娘的碎衣诱惑《恶魔战士》莉莉丝COS</a></p>
</div>
<div class="tpk_zsnr_lp">
<p><a href="http://www.ganyou.com/pic/59104.html" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/photo/images/mm_5.jpg" border="0" alt="坐拥美女 尽在《魔域》吸血圣战"  /></a></p>
<p><a href="http://www.ganyou.com/pic/59104.html" target="_blank">坐拥美女 尽在《魔域》吸血圣战</a></p>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
</div>
</div>


</div>

<!--footer-->
<div class="footer">
 <div class="foot_nav"><span>@ 2008-2010 All rights reserved.京ICP证090052号</span>
 <a href="#">投稿说明</a> | <a href="#">我们的团队</a> | <a href="#">关于我们</a> | <a href="#">联系我们</a>
 </div>
</div>
<!--footer end-->
<script type="text/javaScript" src="{?$_SGLOBAL['news']['url']?}/images/js/dataload.js"></script>
<script language="javascript">
<!--
$().ready(function() {
	GData.pageLoad();
	GData.digg('show', null);
});
//-->
</script> 
</div>
</body>
</html>
