{?set jieqi_page_template = "/modules/news/themes/default/theme_news.html"?}{?eval $meta_title = $_SGLOBAL['cate']['setting']['meta_title'];?}{?eval $meta_keywords = $_SGLOBAL['cate']['setting']['meta_keywords'];?}{?eval $meta_description = $_SGLOBAL['cate']['setting']['meta_description'];?}{?set $jieqi_pagetitle = "$meta_title"?}
{?set $meta_keywords = "$meta_keywords"?}{?set $meta_description = "$meta_description"?}
<SCRIPT src="{?$_SGLOBAL['localurl']?}/images/news/js/dicengComm_pack_v1.0.1.js" type=text/javascript></SCRIPT>

<SCRIPT type=text/javascript>
TencentArticl.onload();
</SCRIPT>
	<div id="news_mid">
	   <div id="news_mid_1">
	      <div id="mid_1_a">
		     <div align="center">
<object 
codebase=http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0 
height=419 width=282 align=middle 
classid=clsid:d27cdb6e-ae6d-11cf-96b8-444553540000>
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="movie" value="{?$_SGLOBAL['localurl']?}/images/news/flash/picslider.swf?data={?$_SGLOBAL['localurl']?}/images/news/xml/headpic.xml" />
    <param name="quality" value="high" />
    <param name="wmode" value="transparent" />
    <param name="bgcolor" value="#ffffff" />
    <embed 
src="{?$_SGLOBAL['localurl']?}/images/news/flash/picslider.swf?data={?$_SGLOBAL['localurl']?}/images/news/xml/headpic.xml" 
quality="high" wmode="transparent" bgcolor="#ffffff" width="282" height="419" 
align="middle" allowscriptaccess="sameDomain" 
type="application/x-shockwave-flash" 
pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>
</div>
		  </div>
		  <div id="mid_1_b">
		     <div id="mid_b_1">
			    <div style="float:left;" class="t_black">今日要闻</div>
				<div style="float:right; margin-right:10px;" class="t_blue"><a href="{?function jieqi_geturl:'news':'lists':88:1?}">访谈</a> - <a href="{?function jieqi_geturl:'news':'lists':83:1?}">深度</a> - <a href="{?function jieqi_geturl:'news':'lists':83:1?}">八卦</a></div>
			 </div>
			 <div id="mid_b_2">
			    <DIV class=colM>
<DIV class=content style="ZOOM: 1"><SPAN class=blank3></SPAN>
{?tag_news_22_[新闻]今日要闻?}
<SPAN class=dotLine></SPAN><SPAN class=blank12></SPAN></DIV>
			 </div>
		  </div>
		  <div style="height:420px; float:right">
		    <div id="mid_1_c">
<!--right start-->
<div>
<div class="djyx1_bt3">
<ul id="menu2">
<li class="hover" onMouseOver="setTab(2,0)"><a href="javascript:void(0);">今日热点榜</a> </li>
<li onMouseOver="setTab(2,1)"><a href="javascript:void(0);">每周热点榜</a></li>
</ul>
</div>  
<div class="main_lt_315">
<div id="main2">
	<ul>
	{?tag_news_21_[新闻]通用查询<{hits_day,10,77,0,0,2,36}>?}
	</ul>
  <ul  style="display:none">
	{?tag_news_21_[新闻]通用查询<{hits_week,10,77,0,0,2,36}>?}
  </ul>
  </div></div></div>
<!--right end -->

			</div>
<!--热点推荐-->
<DIV class="mod-left bottom-Article-QQ sildPic-Article-QQ">

<DIV class=hd>

<H2>热点推荐</H2>
<DIV class=sildPicBar id=sildPicBar>
	<SPAN class=pre></SPAN>
	<UL id=dot></UL>
        <SPAN class=next></SPAN>
</DIV>

</DIV>


<DIV class=bd>
<DIV class=cnt-wrap id=cnt-wrap>
<DIV class=cnt id=cnt>
<UL>
  {?tag_news_23_[新闻]热点推荐?}
  </UL>
 </DIV></DIV>
  </DIV>
</DIV>
<!--热点推荐-->
		  </div>
	   </div>
	   <div class="news_mid_2">
	      <div id="mid_2_1">
		     <div style="float:left;"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/new_9.jpg" /></div>
			 <div class="t_bt1" id="title_1">单机游戏</div>
			 <div id="title_2">
			    <div class="t_blue" id="title_2_1"><a href="{?function jieqi_geturl:'news':'lists':86:1?}" target="_blank">业内</a> | <a href="{?function jieqi_geturl:'news':'lists':102:1?}" target="_blank">前瞻</a> | <a href="{?function jieqi_geturl:'news':'lists':103:1?}" target="_blank">点评</a> | <a href="{?function jieqi_geturl:'news':'lists':104:1?}" target="_blank">硬件资讯</a> | <a href="{?function jieqi_geturl:'news':'lists':105:1?}" target="_blank">硬件评测</a></div>
				<div style="float:left;"><a href="{?function jieqi_geturl:'news':'lists':97:1?}" target="_blank"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/new_10.jpg" border="0" /></a></div>
			 </div>
		  </div>
		  <div id="pic_1">
		   <ul class="clearfix">
			{?tag_news_24_[新闻]单机游戏图推?}
		  </ul>
		</div>
		  <div id="pic_2">
		     <div id="pic_2_1">
			    <div id="mid_b_3">
			    <div style="float:left;" class="t_black">业内</div>
				<div style="float:right; margin-right:10px;" class="t_blue"><a href="{?function jieqi_geturl:'news':'lists':86:1?}" target="_blank">更多>></a></div>
			   </div>
			   <div id="aq">
				   <ul class="news_list_aq">
					{?tag_news_21_[新闻]通用查询<{inputtime,9,86,0,0,0,26}><{news/block_li.html}>?}
				  </ul>
				</div>
			   
			 </div>
			 <div id="pic_2_2">
<!--right start-->
<div>
<div class="djyx1_bt3">
	<ul id="menu4">
		<li class="hover" onMouseOver="setTab(4,0)"><a href="javascript:void(0);">硬件资讯</a> </li>
		<li onMouseOver="setTab(4,1)"><a href="javascript:void(0);">硬件测评</a></li>
		<li onMouseOver="setTab(4,2)"><a href="javascript:void(0);">点评</a></li>
	</ul>
</div>  
	<div class="main_lt_315">
		<div id="main4">
		<ul>
			<div class="tu_1">
			    <div class="tu_2">
				   {?tag_news_21_[新闻]通用查询<{inputtime,9,104,0,0,0,38}><{news/block_tui.html}>?}
				</div>
				<div class="tu_3">
				   {?tag_news_27_[新闻]单机硬件资讯?}
				</div>
			</div>
			</ul>
			
		  <ul  style="display:none">
			<div class="tu_1">
			    <div class="tu_2">
				   {?tag_news_21_[新闻]通用查询<{inputtime,9,105,0,0,0,38}><{news/block_tui.html}>?}
				</div>
				<div class="tu_3">
				   {?tag_news_28_[新闻]单机硬件测评?}
				</div>
			</div>
		  </ul>
		  
		  <ul  style="display:none">
			<div class="tu_1">
			    <div class="tu_2">
				   {?tag_news_21_[新闻]通用查询<{inputtime,9,103,0,0,0,38}><{news/block_tui.html}>?}
				</div>
				<div class="tu_3">
				   {?tag_news_29_[新闻]单机点评?}
				</div>
			</div>
		  </ul>
		  </div>
	  </div>
  </div>
<!--right end -->

			 </div>
			 <div id="pic_2_3">
			    <div id="mid_b_4">
			    <div style="float:left;" class="t_black">前瞻</div>
				<div style="float:right; margin-right:10px;" class="t_blue"><a href="{?function jieqi_geturl:'news':'lists':102:1?}" target="_blank">更多>></a></div>
			   </div>
			   <div id="aq2">
				   <ul class="news_list_aq2">
					{?tag_news_21_[新闻]通用查询<{inputtime,10,102,0,0,0,38}><{news/block_li.html}>?}
				  </ul>
				</div>
			 </div>
		  </div>
	   </div>
	   <div class="news_mid_2">
	      <div id="mid_2_1">
		     <div style="float:left;"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/new_9_1.jpg" /></div>
			 <div class="t_bt2" id="title_1">电视游戏</div>
			 <div id="title_2">
			    <div class="t_blue2" id="title_2_1"><a href="{?function jieqi_geturl:'news':'lists':99:1?}" target="_blank">业内</a> | <a href="{?function jieqi_geturl:'news':'lists':106:1?}" target="_blank">前瞻</a> | <a href="{?function jieqi_geturl:'news':'lists':107:1?}" target="_blank">点评</a> | <a href="{?function jieqi_geturl:'news':'lists':108:1?}" target="_blank">硬件资讯</a></div>
				<div style="float:left;"><a href="{?function jieqi_geturl:'news':'lists':98:1?}" target="_blank"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/new_11.jpg" border="0" /></a></div>
			 </div>
		  </div>
		  <div id="pic_1">
		   <ul class="clearfix">
			{?tag_news_30_[新闻]电视游戏图推?}
		  </ul>
		</div>
		  <div id="pic_2">
		     <div id="pic_2_1">
			    <div id="mid_b_3">
			    <div style="float:left;" class="t_black">业内</div>
				<div style="float:right; margin-right:10px;" class="t_blue2"><a href="{?function jieqi_geturl:'news':'lists':99:1?}" target="_blank">更多>></a></div>
			   </div>
			   <div id="aq">
				   <ul class="news_list_aq">
					{?tag_news_21_[新闻]通用查询<{inputtime,9,99,0,0,0,26}><{news/block_li.html}>?}
				  </ul>
				</div>
			   
			 </div>
			 <div id="pic_2_2">
<!--right start-->
<div>
<div class="djyx1_bt3">
	<ul id="menu6">
		<li class="hover" onMouseOver="setTab(6,0)"><a href="javascript:void(0);">硬件资讯</a> </li>
		<li onMouseOver="setTab(6,1)"><a href="javascript:void(0);">点评</a></li>
	</ul>
</div>  
	<div class="main_lt_315">
		<div id="main6">
		<ul>
			<div class="tu_1">
			    <div class="tu_2">
				   {?tag_news_21_[新闻]通用查询<{inputtime,9,108,0,0,0,38}><{news/block_tui.html}>?}
				</div>
				<div class="tu_3">
				   {?tag_news_31_[新闻]电视硬件资讯?}
				</div>
			</div>
		    </ul>
			
		  
		  <ul  style="display:none">
			<div class="tu_1">
			    <div class="tu_2">
				   {?tag_news_21_[新闻]通用查询<{inputtime,9,107,0,0,0,38}><{news/block_tui.html}>?}
				</div>
				<div class="tu_3">
				   {?tag_news_32_[新闻]电视点评?}
				</div>
			</div>
		  </ul>
		  </div>
	  </div>
  </div>
<!--right end -->

			 </div>
			 <div id="pic_2_3">
			    <div id="mid_b_4">
			    <div style="float:left;" class="t_black">前瞻</div>
				<div style="float:right; margin-right:10px;" class="t_blue2"><a href="{?function jieqi_geturl:'news':'lists':106:1?}" target="_blank">更多>></a></div>
			   </div>
			   <div id="aq2">
				   <ul class="news_list_aq2">
					{?tag_news_21_[新闻]通用查询<{inputtime,10,106,0,0,0,38}><{news/block_li.html}>?}
				  </ul>
				</div>
			 </div>
		  </div>
	   </div>
	   <div class="news_mid_2">
	      <div id="mid_2_1">
		     <div style="float:left;"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/new_9_2.jpg" /></div>
			 <div class="t_bt3" id="title_1">网络游戏</div>
			 <div id="title_2">
			    <div class="t_blue3" id="title_2_1"><a href="{?function jieqi_geturl:'news':'lists':12:1?}" target="_blank">大陆</a> | <a href="{?function jieqi_geturl:'news':'lists':81:1?}" target="_blank">欧美</a> | <a href="{?function jieqi_geturl:'news':'lists':79:1?}" target="_blank">韩日</a> | <a href="{?function jieqi_geturl:'news':'lists':78:1?}" target="_blank">港台</a> | <a href="{?function jieqi_geturl:'news':'lists':82:1?}" target="_blank">业内</a> | <a href="{?function jieqi_geturl:'news':'lists':101:1?}" target="_blank">前瞻</a> | <a href="{?function jieqi_geturl:'news':'lists':109:1?}" target="_blank">点评</a></div>
				<div style="float:left;"><a href="{?function jieqi_geturl:'news':'lists':100:1?}" target="_blank"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/new_12.jpg" border="0" /></a></div>
			 </div>
		  </div>
		  <div id="pic_1">
		   <ul class="clearfix">
			{?tag_news_33_[新闻]网络游戏图推?}
		  </ul>
		</div>
		  <div id="pic_2">
		     <div id="pic_2_1">
			    <div id="mid_b_3">
			    <div style="float:left;" class="t_black">业内</div>
				<div style="float:right; margin-right:10px;" class="t_blue3"><a href="{?function jieqi_geturl:'news':'lists':82:1?}" target="_blank">更多>></a></div>
			   </div>
			   <div id="aq">
				   <ul class="news_list_aq">
					{?tag_news_21_[新闻]通用查询<{inputtime,9,82,0,0,0,26}><{news/block_li.html}>?}
				  </ul>
				</div>
			   
			 </div>
			 <div id="pic_2_2">
<!--right start-->
<div>
<div class="djyx1_bt3">
	<ul id="menu5">
		<li class="hover" onMouseOver="setTab(5,0)"><a href="javascript:void(0);">大陆</a> </li>
		<li onMouseOver="setTab(5,1)"><a href="javascript:void(0);">欧美</a></li>
		<li onMouseOver="setTab(5,2)"><a href="javascript:void(0);">韩日</a></li>
		<li onMouseOver="setTab(5,3)"><a href="javascript:void(0);">港台</a></li>
		<li onMouseOver="setTab(5,4)"><a href="javascript:void(0);">点评</a></li>
	</ul>
</div>  
	<div class="main_lt_315">
		<div id="main5">
		<ul>
			<div class="tu_1">
			    <div class="tu_2">
				   {?tag_news_21_[新闻]通用查询<{inputtime,9,12,0,0,0,38}><{news/block_tui.html}>?}
				</div>
				<div class="tu_3">
				   {?tag_news_34_[新闻]网络大陆?}
				</div>
			</div>
			</ul>
			
		  <ul  style="display:none">
			<div class="tu_1">
			    <div class="tu_2">
				   {?tag_news_21_[新闻]通用查询<{inputtime,9,81,0,0,0,38}><{news/block_tui.html}>?}
				</div>
				<div class="tu_3">
				   {?tag_news_35_[新闻]网络欧美?}
				</div>
			</div>
		  </ul>
		  
		  <ul  style="display:none">
			<div class="tu_1">
			    <div class="tu_2">
				   {?tag_news_21_[新闻]通用查询<{inputtime,9,79,0,0,0,38}><{news/block_tui.html}>?}
				</div>
				<div class="tu_3">
				   {?tag_news_36_[新闻]网络韩日?}
				</div>
			</div>
		  </ul>
		  <ul  style="display:none">
			<div class="tu_1">
			    <div class="tu_2">
				   {?tag_news_21_[新闻]通用查询<{inputtime,9,78,0,0,0,38}><{news/block_tui.html}>?}
				</div>
				<div class="tu_3">
				   {?tag_news_37_[新闻]网络港台?}
				</div>
			</div>
		  </ul>
		  <ul  style="display:none">
			<div class="tu_1">
			    <div class="tu_2">
				   {?tag_news_21_[新闻]通用查询<{inputtime,9,109,0,0,0,38}><{news/block_tui.html}>?}
				</div>
				<div class="tu_3">
				   {?tag_news_38_[新闻]网络点评?}
				</div>
			</div>
		  </ul>
		  </div>
	  </div>
  </div>
<!--right end -->

			 </div>
			 <div id="pic_2_3">
			    <div id="mid_b_4">
			    <div style="float:left;" class="t_black">前瞻</div>
				<div style="float:right; margin-right:10px;" class="t_blue3"><a href="{?function jieqi_geturl:'news':'lists':101:1?}" target="_blank">更多>></a></div>
			   </div>
			   <div id="aq2">
				   <ul class="news_list_aq2">
					{?tag_news_21_[新闻]通用查询<{inputtime,10,101,0,0,0,38}><{news/block_li.html}>?}
				  </ul>
				</div>
			 </div>
		  </div>
	   </div>
	</div>

