{?set $jieqi_pagetitle = "赶游网 | 赶快来游戏吧-畅享网络游戏,最受玩家欢迎的游戏网站门户"?}
{?set $meta_keywords = "游戏,网游,网络游戏,玩家,游戏网站"?}
{?set $meta_description = "赶游网提供最权威的游戏资讯,最具活力的游戏玩家社区,超高速的单机游戏下载资源,最丰富的游戏相关攻略、音乐、视频等,玩家需要的就是我们去做的,我们同时还提供PSP、PS3、XBOX等家用机信息,以及网页游戏小游戏在线娱乐资源,努力做玩家最喜爱的网络游戏门户网站。"?}
<script type="text/javaScript" src="{?$_SGLOBAL['localurl']?}/lib/html/fckeditor/jquery.min.js"></script>
<img src="{?$_SGLOBAL['localurl']?}/images/news/images/ganyou_7.jpg" /></div>
   </div>
   <div id="ganyou_mid">
      <div id="ganyou_mid_top">
	     <div style="overflow:hidden;">
			 <div id="gy_mid_left">
				<DIV id="swfContent3"></DIV>
	<SCRIPT type="text/javascript">
		var xmlData="<data>{?tag_news_17_首页左上解图推?}</data>";
		var flashvars = {xmlData:xmlData};
		var params = {menu:false};
		var attributes = {};
		swfobject.embedSWF("{?$_SGLOBAL['localurl']?}/images/news/flash/index.swf", "swfContent3", "300", "400", "9","", flashvars, params, attributes);
	</SCRIPT>
	   <div id="gy_mid_a">
		  <div id="ganyou_bt"><div id="ganyou_bt2"><a href="{?function jieqi_geturl:'news':'lists':77:1?}" target="_blank">热议话题</a></div>
		  <div id="gy_more"><a href="{?function jieqi_geturl:'news':'lists':77:1?}" target="_blank">更多>></a></div>
		  </div>
		  {?tag_news_19_首页热议话题?}
	   </div>
	   
	   <div id="gy_mid_a">
		  <div id="ganyou_bt"><div id="ganyou_bt2"><a href="{?function jieqi_geturl:'news':'lists':9:1?}" target="_blank">你问我答</a></div>
		  <div id="gy_more"><a href="{?function jieqi_geturl:'news':'lists':9:1?}" target="_blank">更多>></a></div>
		  </div>
		  <div>
		     <div class="gy_ser"><form name="fmt_search_form" id="fmt_search_form" action="{?function jieqi_geturl:'news':'lists':8:1?}" method="get" target="_blank">
			 <input id="k" class="inputser" maxlength="50" size="15" value="请输入关键字" onclick="if(this.value=='请输入关键字')this.value=''" name="k">  
                      <label><input name="type" type="hidden" class="gy_button" value="ask" />
                      <input name="Submit" type="submit" class="gy_button" value=" " /> 
                      </label>
		              <span class="gy_blue2"><a href="{?function jieqi_geturl:'news':'lists':9:1?}" target="_blank">我要提问</a></span></form></div>
		  </div>
		  <div class="gyt_3"><a href="http://baike.ganyou.com/475.html" style="color:#DB3701;" target="_blank">什么单机游戏最好玩?</a></div>
		  <div id="aq2">
					   <ul class="gy_t">
						<li>·<a href="http://baike.ganyou.com/820.html" target="_blank">浩方dota英雄出装表?</a></li>
						<li>·<a href="http://baike.ganyou.com/3173.html" target="_blank">征途2125智取任务怎么做?</a></li>
						<li class="t_blue">·<a href="http://baike.ganyou.com/107.html" target="_blank">植物打僵尸阳光无数怎么弄?</a></li>
						<li>·<a href="http://baike.ganyou.com/3143.html" target="_blank">征途2道士自然和毁灭那个厉害</a></li>
					  </ul>
			</div>
	   </div>
			 </div>
		   <div id="gy_mid_left2">
			   {?tag_news_15_首页中部第一屏?}
			   {?tag_news_16_首页中部第二屏?}
		   </div>
		   <div id="gy_mid_left3">
		      <div id="gy_left_w1">
			     <div id="ganyou_bt"><div id="ganyou_bt2">精彩下载内容</div>
					  <div id="gy_more"><a href="{?function jieqi_geturl:'news':'lists':64:1?}" target="_blank">更多>></a></div>
			    </div>
				  {?tag_news_14_首页精彩下载内容?}
			  </div>
			  <div id="gy_left_w1">
			     <div id="ganyou_bt"><div id="ganyou_bt2"><a href="{?function jieqi_geturl:'news':'lists':130:1?}" target="_blank">精彩视频欣赏</a></div>
					  <div id="gy_more"><a href="{?function jieqi_geturl:'news':'lists':130:1?}" target="_blank">更多>></a></div>
			    </div>
				  {?tag_news_12_首页左上角精彩视频?}
			  </div>
			  <div style="margin-bottom:7px;"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/ganyou_12.jpg" width="250" height="60" /></div>
			  
			  <div id="gy_left_w2">
			     <div class="djyx1_bt3">
					<ul id="menu1">
					<li class="hover" onmouseover="setTab(1,0)"><a href="#">今日热点榜</a> </li>
					<li onmouseover="setTab(1,1)"><a href="#">每周热点榜</a></li>
					</ul>
				 </div>
				 <div class="main_lt_315">
					<div id="main1" style="margin:9px 0 9px 0;">
						<ul>
						{?tag_news_21_[新闻]通用查询<{hits_day,10,77,0,0,2,32}>?}
						</ul>
					  <ul  style="display:none">
						{?tag_news_21_[新闻]通用查询<{hits_week,10,77,0,0,2,32}>?}
					  </ul>
				    </div>
				 </div>
			  </div>
		   </div>
			 </div>
			 
		 </div>
		 <div class="clear"></div>
		 <div><img src="{?$_SGLOBAL['localurl']?}/images/news/images/ganyou_9.jpg" /></div>
	  </div>
	  <div id="ganyou_mid_dj">
	     <div id="dj_1">
		    <div id="dj_bt"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/ganyou_14.jpg" /></div>
			<div id="dj_lb"><a href="#">游戏新闻</a> | <a href="#">新作快报</a> | <a href="#">游戏点评</a> | <a href="#">硬件资讯</a> | <a href="#">硬件评测</a> | <a href="#">攻略</a> | <a href="#">秘籍</a> | <a href="#">游戏下载</a> | <a href="#">试玩</a> | <a href="#">动画</a> | <a href="#">补丁</a> | <a href="#">工具</a> | <a href="#">存档</a> | <a href="#">截图</a> | <a href="#">壁纸</a></div>
		 </div>
		 <div id="dj_2">
			   <div style="height:28px;">
			   <div style="float:left;"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/ganyou_16.jpg" /></div>
			   <div class="gy_hs" id="dj_lb2">{?tag_news_42_首页单机栏目导航?} </div>
			   </div>
			   <div>
			     <div class="gy_hs" id="dj_lb2">{?tag_news_46_字母索引?}</div>
			   </div>
		 </div>
		 <div class="clear"></div>
		 <div id="dj_3">
             <div id="ganyou_bt"><div id="ganyou_bt2"><a href="{?function jieqi_geturl:'news':'lists':64:1?}" target="_blank">精品单机推荐</a></div>
					  <div id="gy_more"><a href="{?function jieqi_geturl:'news':'lists':64:1?}" target="_blank">更多>></a></div>
			    </div>
			 <div >
			   <ul class="clearfix">
				{?tag_news_45_首页精品单机推荐?}
			  </ul>
			</div>
	    </div>
		<div id="dj_4">
		   <div id="gy_mid_left">
				
	   <div id="dj_mid_a">
		  <div id="ganyou_bt">
		    <div id="ganyou_bt2"><a href="{?function jieqi_geturl:'news':'lists':86:1?}" target="_blank">单机资讯</a></div>
		    <div id="gy_more"><a href="{?function jieqi_geturl:'news':'lists':86:1?}" target="_blank">更多>></a></div>
		  </div>
			<div id="aq2">
				<ul class="gy_t">
					{?tag_news_21_[新闻]通用查询<{inputtime,9,86,0,0,0,44}><{news/block_li.html}>?}
				</ul>
			</div>
	   </div>
	   <div id="gy_mid_a">
		  <div class="djyx1_bt3">
			<ul id="menu20">
			<li class="hover" onmouseover="setTab(20,0)"><a href="{?function jieqi_geturl:'news':'lists':104:1?}" target="_blank">硬件资讯</a> </li>
			<li onmouseover="setTab(20,1)"><a href="{?function jieqi_geturl:'news':'lists':105:1?}" target="_blank">硬件评测</a></li>
			<li onmouseover="setTab(20,2)"><a href="{?function jieqi_geturl:'news':'lists':103:1?}" target="_blank">点评</a></li>
			</ul>
		  </div>
			<div class="main_lt_315">
				  <div id="main20" style="padding-top:4px;">
					   <ul class="gy_t">
						{?tag_news_21_[新闻]通用查询<{inputtime,8,104,0,0,0,42}><{news/block_li.html}>?}
					  </ul>
					  	<ul class="gy_t" style="display:none">
						{?tag_news_21_[新闻]通用查询<{inputtime,8,105,0,0,0,42}><{news/block_li.html}>?}
					  </ul>
					  <ul class="gy_t" style="display:none">
						{?tag_news_21_[新闻]通用查询<{inputtime,8,103,0,0,0,42}><{news/block_li.html}>?}
					  </ul>
		         </div>
		  </div>
	   </div>
	   <div id="gy_mid_a">
		  <div id="ganyou_bt">
		    <div id="ganyou_bt2"><a href="{?function jieqi_geturl:'news':'lists':95:1?}" target="_blank">精美壁纸</a></div>
		    <div id="gy_more"><a href="{?function jieqi_geturl:'news':'lists':95:1?}" target="_blank">更多>></a></div>
		  </div>
		  <div style="margin:5px 0 7px 0">
			 {?tag_news_43_首页单机精美壁纸?}
		  </div>
	   </div>
		  </div>
		  <div id="dj_mid">
		     <div id="dj_mid_top">
			     <div id="ganyou_bt">
					<div id="ganyou_bt2"><a href="{?function jieqi_geturl:'news':'lists':64:1?}" target="_blank">热门单机下载</a></div>
					<div id="gy_more"><a href="{?function jieqi_geturl:'news':'lists':64:1?}" target="_blank">更多>></a></div>
				  </div>
				  {?tag_news_44_首页热门单机下载?}
			 </div>
			 <div id="dj_mid_b">
			    <div id="dj_mid_b1">
				   <div id="ganyou_bt"><div id="ganyou_bt2"><a href="{?function jieqi_geturl:'news':'lists':64:1?}" target="_blank">最新加入的单机游戏</a></div></div>
				   <div style="margin-top:6px;">{?tag_news_21_[新闻]通用查询<{inputtime,11,64,0,0,2,22}><{danji/block_indexlist.html}>?}
</div>
				</div>
				<div style="float:left;"><a href="http://www.2100book.com/"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/ganyou_17.jpg" height="323" border="0" /></a></div>
			 </div>
		  </div>
			 <div id="gy_mid_left3">
		      <div id="gy_left_w1">
				  <div class="djyx1_bt3">
					<ul id="menu11">
					<li class="hover" onmouseover="setTab(11,0)"><a href="{?function jieqi_geturl:'news':'lists':97:1?}" target="_blank">今日热点榜</a> </li>
					<li onmouseover="setTab(11,1)"><a href="{?function jieqi_geturl:'news':'lists':97:1?}" target="_blank">每周热点榜</a></li>
					</ul>
				 </div>
				 <div class="main_lt_315">
					<div id="main11" style="margin:10px 0 10px 0;">
						<ul>
						{?tag_news_21_[新闻]通用查询<{hits_day,10,97,0,0,2,32}>?}
						</ul>
					  <ul  style="display:none">
						{?tag_news_21_[新闻]通用查询<{hits_week,10,97,0,0,2,32}>?}
					  </ul>
				    </div>
				 </div>
			  </div>
			  <div id="gy_left_w1">
			     <div id="ganyou_bt"><div id="ganyou_bt2"><a href="{?function jieqi_geturl:'news':'lists':102:1?}" target="_blank">游戏前瞻</a></div>
					  <div id="gy_more"><a href="{?function jieqi_geturl:'news':'lists':102:1?}" target="_blank">更多>></a></div>
			    </div>
				  <div id="aq">
				   <ul class="news_list_aq">
					{?tag_news_21_[新闻]通用查询<{inputtime,7,102,0,0,0,36}><{news/block_li.html}>?}
				  </ul>
				</div>
			  </div>
			  <div id="gy_left_w2">
			     <div class="wl_bt3">
					<ul id="menu4">
						<li class="hover" onmouseover="setTab(4,0)"><a href="{?function jieqi_geturl:'news':'lists':96:1?}" target="_blank">攻略</a> </li>
						<li onmouseover="setTab(4,1)"><a href="{?function jieqi_geturl:'news':'lists':122:1?}" target="_blank">秘籍</a></li>
						<li onmouseover="setTab(4,2)"><a href="{?function jieqi_geturl:'news':'lists':123:1?}" target="_blank">心得</a></li>
					</ul>
				</div>
				<div class="main_lt_315">
				   <div id="main4">
					   <ul class="gy_t">
							{?tag_news_21_[新闻]通用查询<{inputtime,10,96,0,0,0,34}><{news/block_li.html}>?}
					  </ul>
					  	<ul class="gy_t" style="display:none">
							{?tag_news_21_[新闻]通用查询<{inputtime,10,122,0,0,0,34}><{news/block_li.html}>?}
					  </ul>
					  	<ul class="gy_t" style="display:none">
							{?tag_news_21_[新闻]通用查询<{inputtime,10,123,0,0,0,34}><{news/block_li.html}>?}
					  </ul>
			      </div>
				</div>
			  </div>
		   </div> <div class="clear"></div><div style="margin-top:8px;"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/ganyou_19.jpg" /></div>
		</div>
		
	  </div>
	  <div class="clear"></div>
	  <div id="ganyou_mid_ds">
	     <div id="ds_1">
		    <div id="dj_bt"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/ganyou_20.jpg" width="211" height="30" /></div>
			<div id="dj_lb"><a href="#">游戏资讯</a> | <a href="#">新作快报</a> | <a href="#">游戏评测</a> | <a href="#">硬件信息</a> | <a href="#">攻略</a> | <a href="#">秘籍</a> | <a href="#">游戏下载</a> | <a href="#">动画</a> | <a href="#">截图</a> | <a href="#">壁纸</a></div>
		 </div>
		 <div class="clear"></div>
		 <div id="dj_4">
		   <div id="gy_mid_left">
				
	   <div id="dj_mid_a">
		  <div id="ganyou_bt">
		    <div id="ganyou_bt2"><a href="{?function jieqi_geturl:'news':'lists':99:1?}" target="_blank">电视游戏资讯</a></div>
		    <div id="gy_more"><a href="{?function jieqi_geturl:'news':'lists':99:1?}" target="_blank">更多>></a></div>
		  </div>
			<div id="aq2">
				<ul class="gy_t">
					{?tag_news_21_[新闻]通用查询<{inputtime,11,99,0,0,0,44}><{news/block_li.html}>?}
				</ul>
			</div>
	   </div>
	   <div id="gy_mid_a">
		  <div class="djyx1_bt3">
			<ul id="menu5">
			<li class="hover" onmouseover="setTab(5,0)"><a href="{?function jieqi_geturl:'news':'lists':108:1?}" target="_blank">硬件信息</a> </li>
			<li onmouseover="setTab(5,1)"><a href="{?function jieqi_geturl:'news':'lists':106:1?}" target="_blank">前瞻</a></li>
			<li onmouseover="setTab(5,2)"><a href="{?function jieqi_geturl:'news':'lists':107:1?}" target="_blank">点评</a></li>
			</ul>
			</div>
			<div class="main_lt_315">
				  <div id="main5">
					   <ul class="gy_t">
						{?tag_news_21_[新闻]通用查询<{inputtime,10,108,0,0,0,42}><{news/block_li.html}>?}
					  </ul>
					  <ul class="gy_t" style="display:none">
						{?tag_news_21_[新闻]通用查询<{inputtime,10,106,0,0,0,42}><{news/block_li.html}>?}
					  </ul>
					  	<ul class="gy_t" style="display:none">
						{?tag_news_21_[新闻]通用查询<{inputtime,10,107,0,0,0,42}><{news/block_li.html}>?}
					  </ul>
		  </div>
		  </div>
	   </div>
	       </div>
		   <div id="dj_mid">
		     <div id="dj_mid_t1">
			     <div id="ganyou_bt">
					<div id="ganyou_bt2"><a href="{?function jieqi_geturl:'news':'lists':98:1?}" target="_blank">电视游戏热点资讯</a></div>
					<div id="gy_more"><a href="{?function jieqi_geturl:'news':'lists':98:1?}" target="_blank">更多>></a></div>
			   </div>
				  {?tag_news_47_首页电视游戏热点资讯?}
			 </div>
			 <div id="dj_mid_b">
			    <div id="ds_mid_b1">
				   <div id="ganyou_bt"><div id="ganyou_bt2"><a href="{?function jieqi_geturl:'news':'lists':115:1?}" target="_blank">电视游戏美图</a></div></div>
			 <div>
			   <ul class="gy_clearfix">
				{?tag_news_48_首页电视游戏美图?}
			  </ul>
			</div>
			    </div>
			 </div>
		   </div>
			 <div id="gy_mid_left3">
		      <div id="gy_left_w1">
			     <div class="djyx1_bt3">
					<ul id="menu15">
					<li class="hover" onmouseover="setTab(15,0)"><a href="{?function jieqi_geturl:'news':'lists':98:1?}" target="_blank">今日热点榜</a> </li>
					<li onmouseover="setTab(15,1)"><a href="{?function jieqi_geturl:'news':'lists':98:1?}" target="_blank">每周热点榜</a></li>
					</ul>
				 </div>
				 <div class="main_lt_315">
					<div id="main15" style="margin:10px 0 10px 0;">
						<ul>
						{?tag_news_21_[新闻]通用查询<{hits_day,10,98,0,0,2,32}>?}
						</ul>
					  <ul  style="display:none">
						{?tag_news_21_[新闻]通用查询<{hits_week,10,98,0,0,2,32}>?}
					  </ul>
				    </div>
				 </div>
			  </div>
			  <div id="gy_left_w2">
			     <div class="wl_bt3">
					<ul id="menu24">
						<li class="hover" onmouseover="setTab(24,0)"><a href="{?function jieqi_geturl:'news':'lists':124:1?}" target="_blank">攻略</a> </li>
						<li onmouseover="setTab(24,1)"><a href="{?function jieqi_geturl:'news':'lists':125:1?}" target="_blank">秘籍</a></li>
						<li onmouseover="setTab(24,2)"><a href="{?function jieqi_geturl:'news':'lists':126:1?}" target="_blank">金手指</a></li>
					</ul>
				</div>
				<div class="main_lt_315">
				   <div id="main24" style="margin:8px 0 8px 0;">
					   <ul class="gy_t">
							{?tag_news_21_[新闻]通用查询<{inputtime,11,124,0,0,0,34}><{news/block_li.html}>?}
					  </ul>
					  	<ul class="gy_t" style="display:none">
							{?tag_news_21_[新闻]通用查询<{inputtime,11,125,0,0,0,34}><{news/block_li.html}>?}
					  </ul>
					  	<ul class="gy_t" style="display:none">
							{?tag_news_21_[新闻]通用查询<{inputtime,11,126,0,0,0,34}><{news/block_li.html}>?}
					  </ul>
			      </div>
				</div>
			  </div>
		   </div>
		</div>
	  </div>
	<div style="margin-bottom:9px;"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/ganyou_22.jpg" width="980" height="63" /></div>
	  <div id="ganyou_mid_wl">
	     <div id="wl_1">
		    <div id="dj_bt"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/ganyou_21.jpg" width="213" height="30" /></div>
			<div id="dj_lb"><a href="#">欧美</a> | <a href="#">韩日</a> | <a href="#">大陆</a> | <a href="#">港台</a> | <a href="#">网游前瞻</a> | <a href="#">评测</a> | <a href="#">客户端</a> | <a href="#">截图</a> | <a href="#">壁纸 	</a></div>
		 </div>
		 <div class="clear"></div>
		 <div id="wl_4">
		   <div id="gy_mid_left">
				
	   <div id="dj_mid_a">
		  <div class="djyx1_bt3">
			<ul id="menu33">
			<li class="hover" onmouseover="setTab(33,0)"><a href="{?function jieqi_geturl:'news':'lists':81:1?}" target="_blank">欧美</a> </li>
			<li onmouseover="setTab(33,1)"><a href="{?function jieqi_geturl:'news':'lists':79:1?}" target="_blank">韩日</a></li>
			</ul>
			</div>
					 <div id="main33">
					   <ul class="gy_t">
						{?tag_news_21_[新闻]通用查询<{inputtime,9,81,0,0,0,42}><{news/block_li.html}>?}
					  </ul>
					  	<ul class="gy_t" style="display:none">
						{?tag_news_21_[新闻]通用查询<{inputtime,9,79,0,0,0,42}><{news/block_li.html}>?}
					  </ul>
		  </div>
	   </div>
	   <div id="dj_mid_a" style="margin-top:8px;">
		  <div class="djyx1_bt3">
			<ul id="menu3">
			<li class="hover" onmouseover="setTab(3,0)"><a href="{?function jieqi_geturl:'news':'lists':12:1?}" target="_blank">大陆</a> </li>
			<li onmouseover="setTab(3,1)"><a href="{?function jieqi_geturl:'news':'lists':78:1?}" target="_blank">港台</a></li>
			</ul>
			</div>
					 <div id="main3">
					   <ul class="gy_t">
						{?tag_news_21_[新闻]通用查询<{inputtime,9,12,0,0,0,42}><{news/block_li.html}>?}
					  </ul>
					  	<ul class="gy_t" style="display:none">
						{?tag_news_21_[新闻]通用查询<{inputtime,9,78,0,0,0,42}><{news/block_li.html}>?}
					  </ul>
		  </div>
	   </div>
	       </div>
		   <div id="wl_mid" style="padding-bottom:11px;">
		     <div id="wl_mid_top">
			     <div id="ganyou_bt" style="margin-bottom:11px;">
					<div id="ganyou_bt2"><a href="{?function jieqi_geturl:'news':'lists':100:1?}" target="_blank">热点网游资讯</a></div>
					<div id="gy_more"><a href="{?function jieqi_geturl:'news':'lists':100:1?}" target="_blank">更多>></a></div>
			   </div>
				  {?tag_news_49_首页热点网游资讯?}
			 </div>
		   </div>
			 <div id="gy_mid_left3">
			   <div id="gy_left_w1">
			     <div id="ganyou_bt"><div id="ganyou_bt2"><a href="{?function jieqi_geturl:'news':'lists':101:1?}" target="_blank">游戏前瞻</a></div>
					  <div id="gy_more"><a href="{?function jieqi_geturl:'news':'lists':101:1?}" target="_blank">更多>></a></div>
			    </div>
<!--				  <div style="margin:8px 0 4px 0;"><a href="#"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/ganyou_11.jpg" border="0" /></a></div>-->
				  <div id="aq" style="margin:8px 0 8px 0;">
				   <ul class="news_list_aq">
					{?tag_news_21_[新闻]通用查询<{inputtime,5,101,0,0,0,36}><{news/block_li.html}>?}
				  </ul>
				</div>
			  </div>
			  <div id="wl_left_w1">
			     <div id="ganyou_bt"><div id="ganyou_bt2"><a href="{?function jieqi_geturl:'news':'lists':130:1?}" target="_blank">精彩视频欣赏</a></div>
					  <div id="gy_more"><a href="{?function jieqi_geturl:'news':'lists':130:1?}" target="_blank">更多>></a></div>
			    </div>
				  {?tag_news_50_首页网游精彩视频欣赏?}
			   </div>
			 </div>
		 </div>
	  </div>
	  			 

	  <div id="ganyou_mid_link">
	     <div id="ganyou_bt"><div class="t_411" style="margin-left:15px;">友情链接</div>
	     </div>
		 <DIV id=ganyou_2_3>
<UL>
  <LI> <A href="http://danji.ganyou.com/1820/" target=_blank>求生之路2 </A>| <A 
  href="http://danji.ganyou.com/1821/" target=_blank>求生之路 </A>| <span class="t_blue"><A 
  href="http://danji.ganyou.com/1822/" target=_blank>怒火橄榄球 </A></span>| <A  
  href="http://danji.ganyou.com/1823/" target=_blank>魔兽争霸3：冰封王座 </A>| <span class="t_blue"><A 
   href="http://danji.ganyou.com/1824/" target=_blank>魔法黎明 </A></span>| <A 
   href="http://danji.ganyou.com/1825/" target=_blank>M.U.D TV</A> | 
      <A  href="http://danji.ganyou.com/1826/" target=_blank>模拟人生2 </A>| 
      <A  href="http://danji.ganyou.com/1827/" target=_blank>美国陆军3 </A>| 
      <A href="http://danji.ganyou.com/1828/" target=_blank>荣誉勋章：联合袭击 </A>| <span class="t_blue"><A 
  href="http://danji.ganyou.com/1829/" target=_blank>明星志愿2000 </A></span>| <A 
  href="http://danji.ganyou.com/1809/" target=_blank>功夫熊猫</A> | <span class="t_blue"><A 
  href="http://danji.ganyou.com/1810/" target=_blank>破碎地平线 </A></span>| <A  
  href="http://danji.ganyou.com/1811/" target=_blank>破坏者 </A>| <A 
  href="http://danji.ganyou.com/1812/" target=_blank>奇点 </A>| <span class="t_blue"><A  
  href="http://danji.ganyou.com/1813/" target=_blank>潜行者：普里皮亚季的召唤 </A></span>| <A 
  href="http://danji.ganyou.com/1814/" target=_blank>前线任务进化 </A>| <A 
  href="http://danji.ganyou.com/1815/" target=_blank>仙狐奇缘2 </A>| <span class="t_blue"><A 
  href="http://danji.ganyou.com/1817/" target=_blank>奇幻战争：精灵遗产 </A></span>| <A 
  href="http://danji.ganyou.com/1818/" target=_blank>秦殇 </A>| <A  
  href="http://danji.ganyou.com/1819/" target=_blank>奇迹餐厅2 </A>| <span class="t_blue"><A 
  href="http://danji.ganyou.com/1802/" target=_blank>NBA2010 </A></span>| <span class="t_blue"><A 
  href="http://danji.ganyou.com/1801/" target=_blank>虐杀原形</A></span> | <A 
  href="http://danji.ganyou.com/1803/" target=_blank>NBA2K10</A> | <A 
   href="http://danji.ganyou.com/1804/" target=_blank>NBA2K9</A> | 
      <span class="t_blue"><A href="http://danji.ganyou.com/1805/" target=_blank>欧洲空战英雄 求生之路2</A></span> | <A 
  href="http://danji.ganyou.com/1821/" target=_blank>求生之路</A> | <A  
  href="http://danji.ganyou.com/1822/" target=_blank>怒火橄榄球</A> | <A  
  href="http://danji.ganyou.com/1823/" target=_blank>魔兽争霸3：冰封王座 </A>| <A 
   href="http://danji.ganyou.com/1824/" target=_blank>魔法黎明 </A>| <A 
   href="http://danji.ganyou.com/1825/" target=_blank>M.U.D TV </A>| 
          <A  href="http://danji.ganyou.com/1826/" target=_blank>模拟人生2</A> | 
          <A  href="http://danji.ganyou.com/1827/" target=_blank>美国陆军3 </A>| 
          <A href="http://danji.ganyou.com/1828/" target=_blank>荣誉勋章：联合袭击</A> | <A 
  href="http://danji.ganyou.com/1829/" target=_blank>明星志愿2000 </A>| <span class="t_blue"><A 
  href="http://danji.ganyou.com/1809/" target=_blank>功夫熊猫 </A></span>| <A 
  href="http://danji.ganyou.com/1810/" target=_blank>破碎地平线 </A>| <A  
  href="http://danji.ganyou.com/1811/" target=_blank>破坏者</A> | <A 
  href="http://danji.ganyou.com/1812/" target=_blank>奇点 </A>| <A  
  href="http://danji.ganyou.com/1813/" target=_blank class="t_blue">欧洲空战英雄求生之路2</a> | <A 
  href="http://danji.ganyou.com/1814/" target=_blank class="t_blue">求生之路2</a> | <A 
  href="http://danji.ganyou.com/1815/" target=_blank>仙狐奇缘2</A> | <A 
  href="http://danji.ganyou.com/1817/" target=_blank>奇幻战争：精灵遗产 </A>| <A 
  href="http://danji.ganyou.com/1818/" target=_blank>秦殇</A> | <A  
  href="http://danji.ganyou.com/1819/" target=_blank>奇迹餐厅2</A> | <A 
  href="http://danji.ganyou.com/1802/" target=_blank>NBA2010</A> | <A 
  href="http://danji.ganyou.com/1801/" target=_blank>虐杀原形 </A>| <A 
  href="http://danji.ganyou.com/1803/" target=_blank>NBA2K10</A> | <A 
   href="http://danji.ganyou.com/1804/" target=_blank>NBA2K9 </A>| 
          <A href="http://danji.ganyou.com/1805/" target=_blank>欧洲空战英雄</A>
          <A href="http://danji.ganyou.com/1820/" target=_blank>求生之路2 </A>| <span class="t_blue"><A  
  href="http://danji.ganyou.com/1822/" target=_blank>怒火橄榄球 </A></span>| <A  
  href="http://danji.ganyou.com/1823/" target=_blank>魔兽争霸3：冰封王座</A> | <span class="t_blue"><A 
   href="http://danji.ganyou.com/1824/" target=_blank>魔法黎明 </A></span>| <A 
   href="http://danji.ganyou.com/1825/" target=_blank>M.U.D TV</A> | 
          <span class="t_blue"><A  href="http://danji.ganyou.com/1826/" target=_blank>模拟人生2 </A></span>| 
          <A  href="http://danji.ganyou.com/1827/" target=_blank>美国陆军3 </A>| 
          <span class="t_blue"><A href="http://danji.ganyou.com/1828/" target=_blank>荣誉勋章：联合袭击</A></span> | <A 
  href="http://danji.ganyou.com/1829/" target=_blank>明星志愿2000</A></LI>
</UL>
       </DIV>
	  </div>
   </div>

