<div id="list_rig">
	      <div id="list_rig_1">
		     <div id="rig_1_a">
			    <div id="rig_1_b"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/li_5.jpg" /></div>
				<div class="t_410" id="rig_1_b"> 同类热点资讯</div>
				<div id="more"><!--<a href="#">更多>></a>--></div>
			 </div>
			 <div id="aq2">
				   <ul class="news_list_aq5">
					{?tag_news_21_[新闻]通用查询<{hits_week,9,$catid,0,0,2,42}><{news/block_li.html}>?}
				  </ul>
				</div>
		  </div>
		  <div id="list_rig_2">
		     <div id="rig_1_a">
			    <div id="rig_1_b"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/li_5.jpg" /></div>
				<div class="t_410" id="rig_1_b"> 热点资讯图文推荐</div>
				<div id="more"><a href="{?function jieqi_geturl:'news':'lists':14:1?}" target="_blank">更多>></a></div>
			 </div>
			 <ul id="newsMeinv">
	          <li><a href="http://news.ganyou.com/41105.html" target="_blank"><img src="{?$_SCONFIG['attachurl']?}/attachment/image/2011/04/15/040504443.jpg" alt="火辣性感！CJ美女小訫演绎桌球诱惑">火辣性感！CJ美女小訫演绎桌球诱惑</a></li>
              <li><a href="http://news.ganyou.com/39574.html" target="_blank"><img src="{?$_SCONFIG['attachurl']?}/attachment/image/2011/04/12/030514196_150.jpg" alt="邪恶到极点！盘点日本十大YY类游戏">邪恶到极点！盘点日本十大YY类游戏
</a></li>
              <li><a href="http://news.ganyou.com/39490.html" target="_blank"><img src="{?$_SCONFIG['attachurl']?}/attachment/image/2011/04/12/025940938_150.jpg" alt="中国功夫无处不在！盘点游戏中的华人武术家
">中国功夫无处不在！盘点游戏中的华人武术家
</a></li>
              <li><a href="http://news.ganyou.com/39482.html" target="_blank"><img src="{?$_SCONFIG['attachurl']?}/attachment/image/2011/04/12/025931306_150.jpg" alt="主流游戏的全裸角色 让人无限遐想的裸露背影">主流游戏的全裸角色 让人无限遐想的裸露背影
</a></li>
              <li><a href="http://www.ganyou.com/pic/33695.html" target="_blank"><img src="{?$_SCONFIG['attachurl']?}/attachment/image/2011/04/12/085545514_150.jpg" alt="网络人气美女诗梓佳最新性感写真">网络人气美女诗梓佳最新性感写真</a></li>
              <li><a href="http://www.ganyou.com/pic/15900.html" target="_blank"><img src="{?$_SCONFIG['attachurl']?}/attachment/image/2011/02/28/090617547_150.jpg" alt="超雷慎入！看奎爷怎样在其他游戏封面上抢风头">超雷慎入！看奎爷怎样在其他游戏封面上抢风头
</a></li>
            </ul>
		  </div>
		  <div id="list_rig_1">
		     <div id="rig_1_a">
			    <div id="rig_1_b"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/li_5.jpg" /></div>
				<div class="t_410" id="rig_1_b"> 今日热点榜</div>
				<div id="more"><!--<a href="#">更多>></a>--></div>
			 </div>
			<div class="main_lt_315">
			  <div id="main2">
				<ul>
				{?tag_news_21_[新闻]通用查询<{hits_day,10,77,0,0,2,40}>?}
				</ul>
			  </div>
			</div>
		  </div>
		  <div id="list_rig_3">
		     <div id="rig_1_a">
			    <div id="rig_1_b"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/li_5.jpg" /></div>
				<div class="t_410" id="rig_1_b"> 游戏视频</div>
				<div id="more"><a href="{?function jieqi_geturl:'news':'lists':94:1?}">更多>></a></div>
			 </div>
			 <ul id="newsMeinv2">
	          <li><a href="http://www.wanyx.com/picnews/18348.html" target="_blank"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/j_1.jpg" alt="火辣性感！CJ美女小訫演绎桌球诱惑">火辣性感！CJ美女小訫</a></li>
              <li><a href="http://www.wanyx.com/picnews/17930.html" target="_blank"><img src="{?$_SGLOBAL['localurl']?}/images/news/images/j_2.jpg" alt="《西游记》美女玩家风采
">《西游记》美女玩家风采
</a></li>
            </ul>
			<div id="shipin">
				   <ul class="news_list_shipin">
					{?tag_news_21_[新闻]通用查询<{hits_day,4,94,0,0,2,46}><{news/block_blueli.html}>?}
				  </ul>
				</div>
		  </div>
	   </div>
