{?set jieqi_page_template = "/modules/news/themes/empty.html"?}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{?$_PAGE['data']['meta_title']?}</title>
<meta name="keywords" content="{?$_PAGE['data']['meta_keywords']?}">
<meta name="description" content="{?$_PAGE['data']['meta_description']?}">
<link href="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/css/gongyong.css" rel="stylesheet" type="text/css" />
<link href="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/css/dl_djyx.css" rel="stylesheet" type="text/css" />
<script type="text/javaScript" src="{?$_SGLOBAL['news']['url']?}/images/js/top.js"></script>
</head>

<body>
<Div class="head">
<div class="head_nr">
<div class="top1">
<div class="top1_l"><script language="javascript" src="{?$_SGLOBAL['localurl']?}/blockshow.php?module=system&filename=block_login&classname=BlockSystemLogin&vars=&template=block_indexlogin.html&contenttype=4&custom=0&publish=3&hasvars=0"></script></div>
<div class="top1_l2"><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/gy_t02.jpg" border="0" /></a></div>
<div class="top1_r"><a href="#" target="_blank">2D角色扮演</a> <a href="#" target="_blank">回合战斗</a> <a href="#" target="_blank" class="xfont06">FPS射击</a> <a href="#" target="_blank">体育运动</a></div>
<div class="clear"></div>
</div>
<div class="top10"><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/new99.jpg" border="0" /></a></div>
<div class="new_menu01">
<div class="new_menu01_s">
<ul>
<li><a href="#" target="_blank">赶游首页</a></li>     
<li><a href="#" target="_blank" class="haver">新闻首页</a></li>
<li><a href="#" target="_blank"> 图库</a></li>
<li><a href="#" target="_blank">赶游演播室</a></li>
<li><a href="#" target="_blank">重案组</a></li>
<li><a href="#" target="_blank"> 赶游有约</a></li>
<li><a href="#" target="_blank">给力周刊</a></li>
<li><a href="#" target="_blank"> C3/COS </a></li>
<li><a href="#" target="_blank">全部新闻</a></li>
</ul>
</div>
<div class="new_menu01_x">
站内搜索<select class="new_input02">
  <option>游戏</option>
</select><input type="text" class="new_input01" value="请输入关键词" />
<input name="button" type="button" class="dl_searchbtn01" value="搜索"  />
热门搜索：
<a href="#" target="_blank">建国大业 </a>
<a href="#" target="_blank">秋喜</a> 
<a href="#" target="_blank">风声</a> 
<a href="#" target="_blank">地铁惊魂 </a>
<a href="#" target="_blank">阿童木</a> 
<a href="#" target="_blank">倔强萝卜</a>
</div>
</div>
</div></Div>

<!-----------内容 start----------->
<div class="contain">
<div class="dl_dxdj_dh">
<div class="dl_dxdj_dh_l">
    <li class="a1">
  <span class="tj_a01">新游戏：</span>  <a href="#" target="_blank">赤壁</a>| 
	<a href="#" target="_blank" class="xfont06">寻仙</a>|
	<a href="#" target="_blank">天下贰</a>|
	<a href="#" target="_blank">龙之谷</a>|
	<a href="#" target="_blank">诛仙-诛仙2</a>|
	<a href="#" target="_blank">梦幻诛仙</a>|
	<a href="#" target="_blank">魔兽世界</a>|
	<a href="#" target="_blank">天下贰</a>|
	<a href="#" target="_blank">龙之谷</a>|
	<a href="#" target="_blank">诛仙-诛仙2</a>|
	<a href="#" target="_blank" class="xfont06">梦幻诛仙</a>|
	<a href="#" target="_blank">魔兽世界</a>|	</li>
    <li class="a1">
  <span class="tj_a02">新游戏：</span>  <a href="#" target="_blank">赤壁</a>| 
	<a href="#" target="_blank">寻仙</a>|
	<a href="#" target="_blank">天下贰</a>|
	<a href="#" target="_blank">龙之谷</a>|
	<a href="#" target="_blank">诛仙-诛仙2</a>|
	<a href="#" target="_blank">梦幻诛仙</a>|
	<a href="#" target="_blank class="xfont06"">魔兽世界</a>|
	<a href="#" target="_blank">天下贰</a>|
	<a href="#" target="_blank">龙之谷</a>|
	<a href="#" target="_blank">诛仙-诛仙2</a>|
	<a href="#" target="_blank">梦幻诛仙</a>|
	<a href="#" target="_blank" class="xfont06">魔兽世界|</a></li>
    <li class="a1">
  <span class="tj_a03">新游戏：</span>  <a href="#" target="_blank">赤壁</a>| 
	<a href="#" target="_blank">寻仙</a>|
	<a href="#" target="_blank">天下贰</a>|
	<a href="#" target="_blank">龙之谷</a>|
	<a href="#" target="_blank" class="xfont06">诛仙-诛仙2</a>|
	<a href="#" target="_blank">梦幻诛仙</a>|
	<a href="#" target="_blank">魔兽世界</a>|
	<a href="#" target="_blank">天下贰</a>|
	<a href="#" target="_blank">龙之谷</a>|
	<a href="#" target="_blank">诛仙-诛仙2</a>|
	<a href="#" target="_blank" class="xfont06">梦幻诛仙</a>|
	<a href="#" target="_blank">魔兽世界</a>|</li>
	<li class="a1">
  <span class="tj_a01">新游戏：</span>  <a href="#" target="_blank">赤壁</a>| 
	<a href="#" target="_blank" class="xfont06">寻仙</a>|
	<a href="#" target="_blank">天下贰</a>|
	<a href="#" target="_blank">龙之谷</a>|
	<a href="#" target="_blank">诛仙-诛仙2</a>|
	<a href="#" target="_blank">梦幻诛仙</a>|
	<a href="#" target="_blank">魔兽世界</a>|
	<a href="#" target="_blank">天下贰</a>|
	<a href="#" target="_blank">龙之谷</a>|
	<a href="#" target="_blank">诛仙-诛仙2</a>|
	<a href="#" target="_blank" class="xfont06">梦幻诛仙</a>|
	<a href="#" target="_blank">魔兽世界</a>|</li>
</div>
<div class="dl_dxdj_dh_r">
<ul>
<li><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/tupsc.jpg" /></li>
<li><a href="#" target="_blank">国外奇幻网游《裂隙》四个全</a></li>
</ul>
</div>
<div class="clear"></div>
</div>


<div class="dl_jd">
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<ul class="dl_jd_nr">
<li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
<li><a href="#" target="_blank">韩服玩家</a></li>
</ul>
<div class="clear"></div>
</div>
<!--第一屏 start-->
<div class="dl_djzx_nr2">
<!-- left start -->
<div class="dl_djzx_left">
<div class="dl_djzx_gg02">
<!--第一屏 广告 开始-->
<script type="text/javascript">
imgUrl1="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg";
imgtext1="《笑傲江湖》上市或与剑灵同期 01"
imgLink1=escape("#");
imgUrl2="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/2.jpg";
imgtext2="《笑傲江湖》上市或与剑灵同期 02"
imgLink2=escape("#");
imgUrl3="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/3.jpg";
imgtext3="《笑傲江湖》上市或与剑灵同期 03"
imgLink3=escape("#");
imgUrl4="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/4.jpg";
imgtext4="《笑傲江湖》上市或与剑灵同期 04"
imgLink4=escape("#");

 var focus_width=250
 var focus_height=210
 var text_height=20
 var swf_height = focus_height+text_height
 
 var pics=imgUrl1+"|"+imgUrl2+"|"+imgUrl3+"|"+imgUrl4
 var links=imgLink1+"|"+imgLink2+"|"+imgLink3+"|"+imgLink4
 var texts=imgtext1+"|"+imgtext2+"|"+imgtext3+"|"+imgtext4
 
 document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ focus_width +'" height="'+ swf_height +'">');
 document.write('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="{?$_SGLOBAL['TPL_DIR']?}/flash/focus2.swf"><param name="quality" value="high"><param name="bgcolor" value="#ededed">');
 document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
 document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'">');
 document.write('</object>');
</script>	
<!--第一屏 广告 结束-->
</div>
<div class="dl_djzx_kuang">
<div class="dl_djzx_01"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/djzx03.jpg" align="absmiddle" />专题策划</div>
<ul class="dl_djzx_ul" style="height:150px">
<div class="top10" >
<div class="dl_new_r01">
<a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
<ul>
<li><a href="#" target="_blank" class="xfont01">韩服玩家</a></li>
<li>引爆眼球！766新游为大家送上全新整 ...</li>
</ul>
</div>
<div class="clear"></div>
</div>
<li><span class="xfont_right2 xfont03">[06-13] </span>· <a href="#" target="_blank">索尼《星球大战：克隆人战争冒险》</a> </li>
<li><span class="xfont_right2 xfont03">[06-13] </span>· <a href="#" target="_blank">索尼《星球大战：克隆人战争冒险》</a> </li>
</ul>
</div>
</div>
<!-- left end -->
<!-- left2 start -->
<div class="dl_djzx_left02">
<div class="dl_jd_ul3">
<div class="v01">

<div class="dl_jd_nr02_ul1">
<p><a href="http://danji.ganyou.com/1122/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2010/09/01/051810936.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/1122/" target="_blank">仙剑奇侠传4</a></p>
<p><a href="http://danji.ganyou.com/1122/" target="_blank">[巅峰之作]</a></p>
</div>
<div class="dl_djzx_ul1">
<p><a href="http://danji.ganyou.com/1113/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2010/09/01/051758911.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/1113/" target="_blank">仙剑奇侠传3</a></p>
<p><a href="http://danji.ganyou.com/1113/" target="_blank">[经典延续]</a></p>
</div>
<div class="dl_djzx_ul1">
<p><a href="http://danji.ganyou.com/3801/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2010/12/21/041657619.gif" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/3801/" target="_blank">仙剑奇侠传</a></p>
<p><a href="http://danji.ganyou.com/3801/" target="_blank">[经典仙剑]</a></p>
</div>
<div class="clear"></div>
<div class="dl_jd_nr02_ul1">
<p><a href="http://danji.ganyou.com/1516/" target="_blank"><img src="http://www.ganyou.com/modules/news/templates/default/images/fm01.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/1516/" target="_blank">极品飞车14</a></p>
<p><a href="http://danji.ganyou.com/1516/" target="_blank">[最新力作]</a></p>
</div>
<div class="dl_djzx_ul1">
<p><a href="http://danji.ganyou.com/5002/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/04/090604537.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5002/" target="_blank">极品飞车13</a></p>
<p><a href="http://danji.ganyou.com/5002/" target="_blank">[变速飞车]</a></p>
</div>
<div class="dl_djzx_ul1">
<p><a href="http://danji.ganyou.com/1572/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2010/09/15/024546534.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/1572/" target="_blank">极品飞车12</a></p>
<p><a href="http://danji.ganyou.com/1572/" target="_blank">[精彩画面]</a></p>
</div>
<div class="clear"></div>
<div class="dl_jd_nr02_ul1">
<p><a href="http://danji.ganyou.com/1275/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2010/09/10/025734131.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/1275/" target="_blank">真三国无双5</a></p>
<p><a href="http://danji.ganyou.com/1275/" target="_blank">[更壮阔的战场]</a></p>
</div>
<div class="dl_djzx_ul1">
<p><a href="http://danji.ganyou.com/1269/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2010/09/10/024647231.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/1269/" target="_blank">真三国无双4</a></p>
<p><a href="http://danji.ganyou.com/1269/" target="_blank">[画面究极鲜艳]</a></p>
</div>
<div class="dl_djzx_ul1">
<p><a href="http://danji.ganyou.com/4926/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/03/034632117.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/4926/" target="_blank">真三国无双3</a></p>
<p><a href="http://danji.ganyou.com/4926/" target="_blank">[男生必玩游戏]</a></p>
</div>
<div class="clear"></div>

</div>

</div>

</div>
<!-- left2 end -->
<!-- right start -->
<div class="dl_djzx_right">
<div class="dl_djzx_kuang2">
<div class="dl_djzx_bt2"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/dl_djyx03.jpg"  align="absmiddle"  />单机游戏视屏</div>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="dl_hw_pm01_table">
  <tr>
    <td width="13%"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/pm_j.jpg" align="absmiddle" /></td>
    <td width="61%"><a href="#" target="_blank">《TERA》韩服性感美女</a></td>
    <td width="26%"><div class="dl_hw_pm02"></div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2" class="dl_hw_pm02ul1"><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
        <ul>
          <li><a href="#" target="_blank" class="xfont01">韩服玩家</a></li>
          <li>引爆眼球！766新游为大家送上全新整 ...</li>
        </ul></td>
  </tr>
  <tr>
    <td><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/pm_y.jpg" align="absmiddle" /></td>
    <td><a href="#" target="_blank">《TERA》韩服性感美女</a></td>
    <td><div class="dl_hw_pm02"></div></td>
  </tr>
  <tr>
    <td><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/pm_t.jpg" align="absmiddle" /></td>
    <td><a href="#" target="_blank">《TERA》韩服性感美女</a></td>
    <td><div class="dl_hw_pm02"></div></td>
  </tr>
  <tr>
    <td><span class="lt_pm">04</span></td>
    <td><a href="#" target="_blank">《TERA》韩服性感美女</a></td>
    <td><div class="dl_hw_pm02"></div></td>
  </tr>
  <tr>
    <td><span class="lt_pm">05</span></td>
    <td><a href="#" target="_blank">《TERA》韩服性感美女</a></td>
    <td><div class="dl_hw_pm02"></div></td>
  </tr>
  <tr>
    <td><span class="lt_pm">06</span></td>
    <td><a href="#" target="_blank">《TERA》韩服性感美女</a></td>
    <td><div class="dl_hw_pm02"></div></td>
  </tr>
  <tr>
    <td><span class="lt_pm">07</span></td>
    <td><a href="#" target="_blank">《TERA》韩服性感美女</a></td>
    <td><div class="dl_hw_pm02"></div></td>
  </tr>
  <tr>
    <td><span class="lt_pm">08</span></td>
    <td><a href="#" target="_blank">《TERA》韩服性感美女</a></td>
    <td><div class="dl_hw_pm02"></div></td>
  </tr>
  <tr>
    <td><span class="lt_pm">09</span></td>
    <td><a href="#" target="_blank">《TERA》韩服性感美女</a></td>
    <td><div class="dl_hw_pm02"></div></td>
  </tr>
  <tr>
    <td><span class="lt_pm">10</span></td>
    <td><a href="#" target="_blank">《TERA》韩服性感美女</a></td>
    <td><div class="dl_hw_pm02"></div></td>
  </tr>
</table>
</div>
</div>

<!-- right end -->
<div class="clear"></div>
</div>
<!--第一屏 end-->
<!--第二屏 start-->
<div class="dl_jd_zj01">
<ul id="menu1">
<li class="hover" onmouseover="setTab(1,0)"><a href="http://danji.ganyou.com/rpg/" target="_blank">经典角色类</a> </li>
<li onmouseover="setTab(1,1)"><a href="#" target="_blank">单机游戏</a></li>
<li onmouseover="setTab(1,2)"><a href="#" target="_blank">psp游戏</a></li>
<li onmouseover="setTab(1,3)"><a href="#" target="_blank">手机游戏</a></li>
<li onmouseover="setTab(1,4)"><a href="#" target="_blank">电玩游戏</a></li>
</ul>
</div>
<div class="dl_jd_nr02">
<div id="main1">
 <ul class="block">
<div class="dl_jd_nr02_01">
  <a href="http://danji.ganyou.com/5356/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/05175721.jpg" border="0" /></a>
  <p><a href="http://danji.ganyou.com/5356/" target="_blank" class="xfont01">波斯王子5遗忘之沙</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="http://danji.ganyou.com/rpg/" target="_blank">角色扮演</a> </p>
  <p>大小：5G</p>
  <p>波斯王子完成冒险之旅后寻找兄长，却发现兄长的王国被兇暴的军队重重包围、王宫面临被摧毁的危机紧张情势。</p>
   </div>
<div class="dl_jd_nr02_01">
  <a href="http://danji.ganyou.com/5182/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/084906921.jpg" border="0" /></a>
  <p><a href="http://danji.ganyou.com/5182/" target="_blank" class="xfont01">寻秦记</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="http://danji.ganyou.com/rpg/" target="_blank">角色扮演</a> </p>
  <p>大小：1.3G</a> </p>
  <p>身为不慎掉入古代的21世纪特种战士，在那个兵荒马乱的时日，产生了一段段与美女间缠绵悱恻、刺激的故事。</p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="http://danji.ganyou.com/5352/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/051034624.gif" border="0" /></a>
  <p><a href="http://danji.ganyou.com/5352/" target="_blank" class="xfont01">生化危机4</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="http://danji.ganyou.com/rpg/" target="_blank">角色扮演</a> </p>
  <p>大小：1.3G</a> </p>
  <p>里恩成为美国政府的顶尖探员，为了执行搜索总统女儿的任务，深入欧洲的某个村落，遭遇到整村的狂暴村民。</p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="http://danji.ganyou.com/4958/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/03/042953253.gif" border="0" /></a>
  <p><a href="http://danji.ganyou.com/4958/" target="_blank" class="xfont01">天河传说</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="http://danji.ganyou.com/rpg/" target="_blank">角色扮演</a> </p>
  <p>大小：707M</p>
  <p>一个心中期望找到天河纯朴的=少年杨别，=救起了一名少妇，没想到这名少妇就是让杨别寻找天河路途的开始。</p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="http://danji.ganyou.com/5329/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/042252945.jpg" border="0" /></a>
  <p><a href="http://danji.ganyou.com/5329/" target="_blank" class="xfont01">古龙群侠传</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="http://danji.ganyou.com/rpg/" target="_blank">角色扮演</a> </p>
  <p>大小：1.6G</a> </p>
  <p>中玩家将亲历古龙小说中著名的的情节事件，与小说中著名的角色进行互动，参与甚至控制各项重大剧情的发展。</p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="http://danji.ganyou.com/4942/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/03/040654973.gif" border="0" /></a>
  <p><a href="http://danji.ganyou.com/4942/" target="_blank" class="xfont01">无冬之夜</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="http://danji.ganyou.com/rpg/" target="_blank">角色扮演</a> </p>
  <p>大小：606M</p>
  <p>采用了划时代的3D图形引擎，把“龙与地下城”的世界以一个3D的形象展示给大家，以360个角度去观察游戏世界。</p>
   </div>  
<div class="clear"></div>
</ul>
<ul  style="display:none">
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>  
<div class="clear"></div>
</ul>
<ul  style="display:none">
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>  
<div class="clear"></div>
</ul>
<ul  style="display:none">
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>  
<div class="clear"></div>
</ul>
<ul  style="display:none">
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>   
<div class="dl_jd_nr02_01">
  <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank" class="xfont01">斗破苍穹</a> </p>
  <p>推荐指数：</p>
  <p>类型：<a href="#" target="_blank">角色扮演</a> </p>
  <p>开发：<a href="#" target="_blank">目标软件</a> </p>
  <p>刚进游戏时领2小时双,找个64法师带进断臂山,组满5个人情况下,2小时到27级左右,然... </p>
   </div>  
<div class="clear"></div>
</ul>
</div>
</div>

<!--第二屏 end-->
<!--第三屏 start-->
<div class="dl_djzx_nr2">
<div class="dl_hw_zj01">
<a href="#" target="_blank">合集</a>  |  
<a href="#" target="_blank">人称射击</a>  |
<a href="#" target="_blank">人称射击</a>  |
<a href="#" target="_blank">人称射击</a>  |
<a href="#" target="_blank">人称射击</a>  |
<a href="#" target="_blank">人称射击</a>  |
<a href="#" target="_blank">人称射击</a>  |
<a href="#" target="_blank">人称射击</a>  |
</div>
<div class="dl_hw_zj02">
<a href="#" target="_blank">合集</a>  |  
<a href="#" target="_blank">人称射击</a>  |
<a href="#" target="_blank">人称射击</a>  |
<a href="#" target="_blank">人称射击</a>  |
<a href="#" target="_blank">人称射击</a>  |
<a href="#" target="_blank">人称射击</a>  |
<a href="#" target="_blank">人称射击</a>  |
<a href="#" target="_blank">人称射击</a>  |
<a href="#" target="_blank">人称射击</a>  |
<a href="#" target="_blank">人称射击</a>  |
<a href="#" target="_blank">人称射击</a>  |
<a href="#" target="_blank">人称射击</a>  |
<a href="#" target="_blank">人称射击</a>  |
<input name="" type="text"  class="input_top"/>
<input type="button" class="dl_searchbtn02" align="absmiddle" />
</div>
</div>
<div class="top10">
<div class="dl_hw_l">
  <li><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></li>
  <li><a href="#" target="_blank">《TERA》韩服性感美女</a></li>
  
  </div>
<div class="dl_hw_l2">
<div class="dl_hw_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫</a></p>
</div>
<div class="dl_hw_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫</a></p>
</div>
<div class="dl_hw_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫</a></p>
</div>
<div class="dl_hw_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫</a></p>
</div>
<div class="dl_hw_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫</a></p>
</div>
<div class="dl_hw_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/1.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫</a></p>
</div>
<div class="clear"></div>
</div>
<div class="dl_hw_r">
<div class="dl_hw_kuang">
<div class="dl_hw_bt3">
<ul id="menu2">
<li class="hover" onmouseover="setTab(2,0)"><a href="#" target="_blank">要文推荐</a> </li>
<li onmouseover="setTab(2,1)"><a href="#" target="_blank">焦点回顾</a></li>
</ul>
</div>
<div class="new_1ping01_2">
    <div id="main2">
	<ul class="block">
     <li><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/pm_j.jpg" align="absmiddle" /><a href="#" target="_blank" >球大战：克隆人战争冒季上市 </a></li> 
	<li><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/pm_y.jpg" align="absmiddle" /><a href="#" target="_blank">球大战：克隆人战季上市 </a></li>
	<li><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/pm_t.jpg" align="absmiddle" /><a href="#" target="_blank">跑跑卡丁跑跑卡丁车跑跑卡丁车车</a></li>
	<li><span class="lt_pm">04</span><a href="#" target="_blank" >星球大战：克隆人战季上市克隆人战季上市克隆人战季上市</a></li>
	<li><span class="lt_pm">05</span><a href="#" target="_blank" >克隆人战争季上市 </a></li>
	<li><span class="lt_pm">06</span><a href="#" target="_blank" >星球大战：克隆人战季上市克隆</a></li>
	<li><span class="lt_pm">07</span><a href="#" target="_blank" >星球大战：克隆人战季上市</a></li>
	<li><span class="lt_pm">08</span><a href="#" target="_blank" >克隆人战争季上市 </a></li>
	<li><span class="lt_pm">09</span><a href="#" target="_blank" >星球大战：克隆人战季上市</a></li>
	<li><span class="lt_pm">10</span><a href="#" target="_blank" >星球大战：克隆人战季上市</a></li>
	</ul>
	<ul  style="display:none">
     <li><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/pm_j.jpg" align="absmiddle" /><a href="#" target="_blank" >球大战：克隆人战争冒季上市 </a></li> 
	<li><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/pm_y.jpg" align="absmiddle" /><a href="#" target="_blank">球大战：克隆人战季上市 </a></li>
	<li><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/pm_t.jpg" align="absmiddle" /><a href="#" target="_blank">跑跑卡丁跑跑卡丁车跑跑卡丁车车</a></li>
	<li><span class="lt_pm">04</span><a href="#" target="_blank" >星球大战：克隆人战季上市克隆人战季上市克隆人战季上市</a></li>
	<li><span class="lt_pm">05</span><a href="#" target="_blank" >克隆人战争季上市 </a></li>
	<li><span class="lt_pm">06</span><a href="#" target="_blank" >星球大战：克隆人战季上市克隆</a></li>
	<li><span class="lt_pm">07</span><a href="#" target="_blank" >星球大战：克隆人战季上市</a></li>
	<li><span class="lt_pm">08</span><a href="#" target="_blank" >克隆人战争季上市 </a></li>
	<li><span class="lt_pm">09</span><a href="#" target="_blank" >星球大战：克隆人战季上市</a></li>
	<li><span class="lt_pm">10</span><a href="#" target="_blank" >星球大战：克隆人战季上市</a></li>
	</ul>
</div>
</div>
</div></div>
<div class="clear"></div>
</div>
<!--第三屏 end-->
<!--bottom-->
<div class="bottom">
  关于我们  |  联系我们  |  帮助中心  |  投稿说明<br/>
Copyright (C) 2002-2010 赶游网 All Rights Reserved | 蜀ICP备05000570号 电信增值业务许可证：川BZ-20070003<br/>
本站所收录所有玄幻小说、言情小说、网游小说及其它各类小说作品、社区话题、小说评论及本站所做之广告均属其个人行为，与本站立场无关，本站努力为大家创造<br/>
一个优秀的小说阅读网络平台和小说创作平台 <a href="#"  title=我的强悍酷老公 target="_blank">站长统计</a><br/>
  </div>
<!--bottom end-->
</div>
<!-----------内容 end----------->
</body>
</html>
