{?set jieqi_page_template = "/modules/news/themes/empty.html"?}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{?$_PAGE['data']['meta_title']?}</title>
<meta name="keywords" content="{?$_PAGE['data']['meta_keywords']?}">
<meta name="description" content="{?$_PAGE['data']['meta_description']?}">
<link href="{?$_SGLOBAL['TPL_DIR']?}/show_special2/{?$_PAGE['data']['t_style']|defaultval:'purple'?}/css/ztmb.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="contain">
<!--顶部文件 开始-->
<div class="top1">
  <span>
  <a href="#" target="_blank">首页</a> | 
  <a href="#" target="_blank">电脑游戏</a> |
  <a href="#" target="_blank">电视游戏</a> |
  <a href="#" target="_blank">网络游戏</a> |
  <a href="#" target="_blank">休闲游戏</a> |
  <a href="#" target="_blank">新闻</a> | 
  <a href="#" target="_blank">下载</a> |
  <a href="#" target="_blank">攻略秘籍</a> | 
  <a href="#" target="_blank">图库</a>|
  <a href="#" target="_blank">论坛</a>
    </span>
  <a href="www.ganyou.com" target="_blank">赶游网 www.ganyou.com</a>  </div>
<!--顶部文件 结束-->
<div class="top2" style="background-image: url({?$_PAGE['data']['specialbanner']?});"></div>
<!--导航 开始-->
<div class="top3">
  <a href="#" target="_blank">专区首页</a> |
  <a href="#" target="_blank">新闻资讯</a> |
  <a href="#" target="_blank">攻略秘籍</a> |
  <a href="#" target="_blank">游戏下载</a> |
  <a href="#" target="_blank">游戏截图</a> |
  <a href="#" target="_blank">游戏壁纸</a> |
  <a href="#" target="_blank">游戏论坛 -- 配音专题</a> | 
  <a href="#" target="_blank">千古剑灵DLC专题 </a> |
  <a href="#" target="_blank">购买数字许可</a> |
</div>
<!--导航 结束-->
<div class="zt_left">
    <!--图片推荐 开始-->
    <div class="zt_left_l">
        {?$_PAGE['data']['vars']['左上角图推']?}
        <div class="clear"></div>
    </div>
    <!--图片推荐 结束-->
    <!--游戏资讯 开始-->
    <div class="zt_left_r">
    <div class="zt_lanm01"><strong>游戏资讯</strong></div>
    <div class="zt_nr">
    <ul>
    <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li class="a1"><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li class="a1"><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li class="a1"><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    <li class="a1"><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
    </ul>
    </div>
    </div>
    <!--游戏资讯 结束-->
    <div class="clear"></div>
    <div>
    <!--游戏攻略 开始-->
    <div class="zt_nr3_l">
        <div class="zt_lanm04">
        <span><a href="#" target="_blank">更多>></a></span>
        <strong>攻略秘籍</strong></div>
        <div class="zt_nr3_k" style="height:510px">
          <div class="zt_nr3_k_n">
                <div class="zt_nr3_k_n1">
                <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a>
                <a href="#" target="_blank">《刺客信条2》图文流程攻略流程                </a></div>
              <div class="zt_nr3_k_n1">
                <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a>
              <a href="#" target="_blank">《刺客信条2》图文流程攻略流程              </a></div>
                <div class="clear"></div>
          </div>
          <ul>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
          </ul>
        </div>
    </div>
    <!--游戏攻略 结束-->
    <div class="zt_nr3_r">
        <div class="zt_lanm04">
        <span><a href="#" target="_blank">更多>></a></span>
        <strong>攻略秘籍</strong></div>
        <div class="zt_nr3_k" style="height:510px">
        <div class="zt_nr3_k_n">
                <div class="zt_nr3_k_n1">
                <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a>
                <a href="#" target="_blank">《刺客信条2》图文流程攻略流程                </a></div>
              <div class="zt_nr3_k_n1">
                <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a>
              <a href="#" target="_blank">《刺客信条2》图文流程攻略流程              </a></div>
                <div class="clear"></div>
          </div>
        
        <table class="table04" border="0" cellspacing="0" cellpadding="0" >
          <tbody>
            <tr>
              <td class="a1">游戏</td>
              <td width="5"></td>
              <td>
              <ul>
              
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
              </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table04" border="0" cellspacing="0" cellpadding="0" >
          <tbody>
            <tr>
              <td class="a1">补丁</td>
              <td width="5"></td>
              <td>
              <ul>
              
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
              </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table04" border="0" cellspacing="0" cellpadding="0" >
          <tbody>
            <tr>
              <td class="a1">游戏</td>
              <td width="5"></td>
              <td>
              <ul>
              
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
              </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table04" border="0" cellspacing="0" cellpadding="0" >
          <tbody>
            <tr>
              <td class="a1">游戏</td>
              <td width="5"></td>
              <td>
              <ul>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
              </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table04" border="0" cellspacing="0" cellpadding="0" >
          <tbody>
            <tr>
              <td class="a1">游戏</td>
              <td width="5"></td>
              <td>
              <ul>
              
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
            <li><a href="#" target="_blank">·《诛仙》美女玩家淡淡：不打不相识</a></li>
              </ul>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
    <div class="clear"></div>
    </div> 
    <!--精华文章推荐 开始-->
    <div class="top10">
    <div class="zt_lanm01">
    <span><a href="#" target="_blank">更多>></a></span>
    <strong>精华文章推荐</strong>
    </div>
    <div class="zt_nr3_k2">
        <div class="zt_nr3_k_n1">
        <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a>
        <a href="#" target="_blank">《刺客信条2》图文流程</a></div>
        <div class="zt_nr3_k_n1">
        <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a>
        <a href="#" target="_blank">《刺客信条2》图文流程</a></div>
        <div class="zt_nr3_k_n1">
        <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a>
        <a href="#" target="_blank">《刺客信条2》图文流程</a></div>
        <div class="zt_nr3_k_n1">
        <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a>
        <a href="#" target="_blank">《刺客信条2》图文流程</a></div>
        <div class="clear"></div>
    </div>
    </div>
    <!--精华文章推荐 结束-->
   <!--截图 开始-->
    <div class="top10">
    <div class="zt_lanm01">
    <span><a href="#" target="_blank">更多>></a></span>
    <strong>游戏截图</strong>    </div>
    <div class="zt_nr3_k2">
        <div class="zt_nr3_k_n1">
        <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a>
        <a href="#" target="_blank">《刺客信条2》图文流程</a></div>
        <div class="zt_nr3_k_n1">
        <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a>
        <a href="#" target="_blank">《刺客信条2》图文流程</a></div>
        <div class="zt_nr3_k_n1">
        <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a>
        <a href="#" target="_blank">《刺客信条2》图文流程</a></div>
        <div class="zt_nr3_k_n1">
        <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a>
        <a href="#" target="_blank">《刺客信条2》图文流程</a></div>
        <div class="clear"></div>
    </div>
    </div>
    <!--截图 结束-->
    <!--壁纸 开始-->
    <div class="top10">
    <div class="zt_lanm01">
    <span><a href="#" target="_blank">更多>></a></span>
    <strong>游戏壁纸</strong>    </div>
    <div class="zt_nr3_k2">
        <div class="zt_nr3_k_n1">
        <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a>
        <a href="#" target="_blank">《刺客信条2》图文流程</a></div>
        <div class="zt_nr3_k_n1">
        <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a>
        <a href="#" target="_blank">《刺客信条2》图文流程</a></div>
        <div class="zt_nr3_k_n1">
        <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a>
        <a href="#" target="_blank">《刺客信条2》图文流程</a></div>
        <div class="zt_nr3_k_n1">
        <a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a>
        <a href="#" target="_blank">《刺客信条2》图文流程</a></div>
        <div class="clear"></div>
    </div>
    </div>
    <!--壁纸 结束-->
    <!--评论 开始-->
    <div class="top10">
    <div class="zt_lanm01">
    <span><a href="#" target="_blank">进入极品飞车14：热力追踪论坛　</a></span>
    <strong>游戏评论</strong>    </div>
    <table width="100%" border="0" cellspacing="0" class="table03">
      <tr class="a1">
        <td width="18%">评论人 </td>
        <td width="65%">评论内容</td>
        <td width="17%">评论时间</td>
      </tr>
      <tr>
        <td>择其善者而用 </td>
        <td><a href="#" target="_blank">这种游戏就是欠破解 </a></td>
        <td>2010-12-9 9:55:38 </td>
      </tr>
      <tr>
        <td>择其善者而用 </td>
        <td><a href="#" target="_blank">这种游戏就是欠破解 </a></td>
        <td>2010-12-9 9:55:38 </td>
      </tr>
      <tr>
        <td>择其善者而用 </td>
        <td><a href="#" target="_blank">这种游戏就是欠破解 </a></td>
        <td>2010-12-9 9:55:38 </td>
      </tr>
      <tr>
        <td>择其善者而用 </td>
        <td><a href="#" target="_blank">这种游戏就是欠破解 </a></td>
        <td>2010-12-9 9:55:38 </td>
      </tr>
      <tr>
        <td height="200" colspan="3"><ul>
            <li><strong>发表评论：</strong></li>
          <li>
              <textarea name="textarea" cols="" rows="" class="zt_input"></textarea>
            </li>
          <li>
            <input type="text" class="zt_input2" />
              <input type="button" class="searchbtn1" />
            </li>
        </ul></td>
      </tr>
    </table>
    </div>
    <!--评论 结束-->
</div>
<!--right 开始-->
<div class="zt_right">
<div class="zt_lanm02"><strong>游戏资讯</strong></div>
<div class="zt_nr2"> 
    <div class="zt_nr2_k">
    {?$_PAGE['data']['vars']['游戏资迅']?}
    <div class="clear"></div>
    </div>
    <p> <strong>游戏介绍：</strong></p>
    <ul class="zt_ul01">
    <li>{?$_PAGE['data']['__content']?}</li></ul>
</div>
<div class="zt_di"></div>

<div class="zt_lanm02"><strong>热门推荐</strong></div>
<div class="zt_nr2">
<table width="100%" border="0" cellspacing="0" class="table01">
  <tr>
    <td colspan="2" class="a1">下载</td>
    </tr>
  <tr>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
  </tr>
  <tr>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
  </tr>
  <tr>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" class="table01">
  <tr>
    <td colspan="2" class="a1">下载</td>
    </tr>
  <tr>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
  </tr>
  <tr>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
  </tr>
  <tr>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" class="table01">
  <tr>
    <td colspan="2" class="a1">下载</td>
    </tr>
  <tr>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
  </tr>
  <tr>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
  </tr>
  <tr>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
    <td><a href="#" target="_blank">· 免安装中文硬盘版</a></td>
  </tr>
</table>
</div>
<div class="zt_di"></div>

<div class="zt_lanm02"><strong>点评文章</strong></div>
<div class="zt_nr2">
<div class="zt_nr2_k">
    <div class="zt_nr2_l2"><a href="#" target="_blank" title="游戏名"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a></div>
    <div class="zt_nr2_r2">
    <ul>
    <li><a href="#" target="_blank" class="f02">《刺客信条2》家用版评测</a> </li>
    <li><a href="#" target="_blank">刺客信条2在修改了前作一些硬伤后加入了不少新要素成功系列化....</a></li>
    </ul>
    </div>
    <div class="clear"></div>
    </div>
<div class="zt_nr2_k">
    <div class="zt_nr2_l2"><a href="#" target="_blank" title="游戏名"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" /></a></div>
    <div class="zt_nr2_r2">
    <ul>
    <li><a href="#" target="_blank" class="f02">《刺客信条2》家用版评测</a> </li>
    <li><a href="#" target="_blank">刺客信条2在修改了前作一些硬伤后加入了不少新要素成功系列化....</a></li>
    </ul>
    </div>
    <div class="clear"></div>
    </div>
</div>
<div class="zt_di"></div>

<div class="zt_gg"><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/zt_dh06.jpg" /></a></div>

<div class="zt_lanm02"><strong>最新热门游戏</strong></div>
<div class="zt_nr2">
<table width="100%" border="0" cellspacing="0" class="table02">
  <tr>
    <td colspan="2"><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" title="游戏名"/></a></td>
    </tr>
  <tr>
    <td width="51%">游戏名称：极品飞车14      </td>
    <td width="49%">游戏类型：竞速 
游戏</td>
  </tr>
  <tr>
    <td>上市：2010.11.16</td>
    <td>游戏平台：PC X360</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" class="table02">
  <tr>
    <td colspan="2"><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg" title="游戏名"/></a></td>
    </tr>
  <tr>
    <td width="51%">游戏名称：极品飞车14      </td>
    <td width="49%">游戏类型：竞速 
游戏</td>
  </tr>
  <tr>
    <td>上市：2010.11.16</td>
    <td>游戏平台：PC X360</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" class="table02">
  <tr>
    <td colspan="2"><a href="#" target="_blank" title="游戏名"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special2/purple/images/i0124_1.jpg"/></a></td>
    </tr>
  <tr>
    <td width="51%">游戏名称：极品飞车14      </td>
    <td width="49%">游戏类型：竞速 
游戏</td>
  </tr>
  <tr>
    <td>上市：2010.11.16</td>
    <td>游戏平台：PC X360</td>
  </tr>
</table>
</div>
<div class="zt_di"></div>

</div>
<!--right 结束-->
<div class="clear"></div>
<!--底 开始-->
<div class="bottom">
		<a href="#" target="_blank">关于赶游网</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="#" target="_blank">联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="#" target="_blank">诚聘英才</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="#" target="_blank">商务合作</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="#" target="_blank">友情链接</a>&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="#" target="_blank">法律声明</a><br />
		本站所收录所有玄幻小说、言情小说、网游小说及其它各类小说作品、小说评论均属其个人行为，不代表本站立场。<br />
		Copyright (C) 2004-2010 赶游网 All Rights Reserved 版权所有<br />
		蜀ICP备05000570号 电信增值业务许可证：川B2-20100073
  </div>
<!--底 结束-->
</div>
</body>
</html>
