{?set jieqi_page_template = "/modules/news/themes/empty.html"?}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{?$_PAGE['data']['meta_title']?}</title>
<meta name="keywords" content="{?$_PAGE['data']['meta_keywords']?}">
<meta name="description" content="{?$_PAGE['data']['meta_description']?}">
<link href="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/css/gongyong.css" rel="stylesheet" type="text/css" />
<link href="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/css/dl_djyx.css" rel="stylesheet" type="text/css" />
<script type="text/javaScript" src="{?$_SGLOBAL['news']['url']?}/images/js/top.js"></script>
</head>

<body>
<Div class="head">
<div class="head_nr">
<div class="top1">
<div class="top1_l"><script language="javascript" src="{?$_SGLOBAL['localurl']?}/blockshow.php?module=system&filename=block_login&classname=BlockSystemLogin&vars=&template=block_indexlogin.html&contenttype=4&custom=0&publish=3&hasvars=0"></script></div>
<div class="top1_l2"><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/gy_t02.jpg" border="0" /></a></div>
<div class="top1_r"><a href="#" target="_blank">2D角色扮演</a> <a href="#" target="_blank">回合战斗</a> <a href="#" target="_blank" class="xfont06">FPS射击</a> <a href="#" target="_blank">体育运动</a></div>
<div class="clear"></div>
</div>
<div class="top10"><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/new99.jpg" border="0" /></a></div>
<div class="new_menu01">
<div class="new_menu01_s">
<ul>
<li><a href="#" target="_blank">赶游首页</a></li>     
<li><a href="#" target="_blank" class="haver">新闻首页</a></li>
<li><a href="#" target="_blank"> 图库</a></li>
<li><a href="#" target="_blank">赶游演播室</a></li>
<li><a href="#" target="_blank">重案组</a></li>
<li><a href="#" target="_blank"> 赶游有约</a></li>
<li><a href="#" target="_blank">给力周刊</a></li>
<li><a href="#" target="_blank"> C3/COS </a></li>
<li><a href="#" target="_blank">全部新闻</a></li>
</ul>
</div>
<div class="new_menu01_x">
站内搜索<select class="new_input02">
  <option>游戏</option>
</select><input type="text" class="new_input01" value="请输入关键词" />
<input name="button" type="button" class="dl_searchbtn01" value="搜索"  />
热门搜索：
<a href="#" target="_blank">建国大业 </a>
<a href="#" target="_blank">秋喜</a> 
<a href="#" target="_blank">风声</a> 
<a href="#" target="_blank">地铁惊魂 </a>
<a href="#" target="_blank">阿童木</a> 
<a href="#" target="_blank">倔强萝卜</a>
</div>
</div>
</div></Div>

<!-----------内容 start----------->
<div class="contain">
<div class="dl_dxdj_dh">
<div class="dl_dxdj_dh_l">
    <li class="a1">
  <span class="tj_a01">新游戏：</span>  <a href="#" target="_blank">赤壁</a>| 
	<a href="#" target="_blank" class="xfont06">寻仙</a>|
	<a href="#" target="_blank">天下贰</a>|
	<a href="#" target="_blank">龙之谷</a>|
	<a href="#" target="_blank">诛仙-诛仙2</a>|
	<a href="#" target="_blank">梦幻诛仙</a>|
	<a href="#" target="_blank">魔兽世界</a>|
	<a href="#" target="_blank">天下贰</a>|
	<a href="#" target="_blank">龙之谷</a>|
	<a href="#" target="_blank">诛仙-诛仙2</a>|
	<a href="#" target="_blank" class="xfont06">梦幻诛仙</a>|
	<a href="#" target="_blank">魔兽世界</a>|	</li>
    <li class="a1">
  <span class="tj_a02">新游戏：</span>  <a href="#" target="_blank">赤壁</a>| 
	<a href="#" target="_blank">寻仙</a>|
	<a href="#" target="_blank">天下贰</a>|
	<a href="#" target="_blank">龙之谷</a>|
	<a href="#" target="_blank">诛仙-诛仙2</a>|
	<a href="#" target="_blank">梦幻诛仙</a>|
	<a href="#" target="_blank class="xfont06"">魔兽世界</a>|
	<a href="#" target="_blank">天下贰</a>|
	<a href="#" target="_blank">龙之谷</a>|
	<a href="#" target="_blank">诛仙-诛仙2</a>|
	<a href="#" target="_blank">梦幻诛仙</a>|
	<a href="#" target="_blank" class="xfont06">魔兽世界|</a></li>
    <li class="a1">
  <span class="tj_a03">新游戏：</span>  <a href="#" target="_blank">赤壁</a>| 
	<a href="#" target="_blank">寻仙</a>|
	<a href="#" target="_blank">天下贰</a>|
	<a href="#" target="_blank">龙之谷</a>|
	<a href="#" target="_blank" class="xfont06">诛仙-诛仙2</a>|
	<a href="#" target="_blank">梦幻诛仙</a>|
	<a href="#" target="_blank">魔兽世界</a>|
	<a href="#" target="_blank">天下贰</a>|
	<a href="#" target="_blank">龙之谷</a>|
	<a href="#" target="_blank">诛仙-诛仙2</a>|
	<a href="#" target="_blank" class="xfont06">梦幻诛仙</a>|
	<a href="#" target="_blank">魔兽世界</a>|</li>
	<li class="a1">
  <span class="tj_a01">新游戏：</span>  <a href="#" target="_blank">赤壁</a>| 
	<a href="#" target="_blank" class="xfont06">寻仙</a>|
	<a href="#" target="_blank">天下贰</a>|
	<a href="#" target="_blank">龙之谷</a>|
	<a href="#" target="_blank">诛仙-诛仙2</a>|
	<a href="#" target="_blank">梦幻诛仙</a>|
	<a href="#" target="_blank">魔兽世界</a>|
	<a href="#" target="_blank">天下贰</a>|
	<a href="#" target="_blank">龙之谷</a>|
	<a href="#" target="_blank">诛仙-诛仙2</a>|
	<a href="#" target="_blank" class="xfont06">梦幻诛仙</a>|
	<a href="#" target="_blank">魔兽世界</a>|</li>
</div>
<div class="dl_dxdj_dh_r">
<ul>
<li><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/tupsc.jpg" /></li>
<li><a href="#" target="_blank">国外奇幻网游《裂隙》四个全</a></li>
</ul>
</div>
<div class="clear"></div>
</div>

<div class="dl_dxdj">
<div class="dl_dxdj_l"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/dl_djyx03.jpg" align="absmiddle" /> <span class="xfont06">最新大型单机游戏</span>即时更新</div>
<div class="dl_dxdj_r"><a href="#" target="_blank">更多>></a></div>
<div class="clear"></div>
<div class="dl_dxdj_nr">
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5321/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/040631828.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5321/" target="_blank">神界2龙骑士传奇</a>，<b>4.3G</b></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5355/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/051525296.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5355/" target="_blank">质量效应2</a>，<b>4.4G</b></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5388/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/07/095710204.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5388/" target="_blank">英雄传说6空之轨迹</a>,<b>2.8G</b></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5352/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/051034624.gif" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5352/" target="_blank">生化危机4</a>，<b>1
.3G</b></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/4829/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/03/104904727.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/4829/" target="_blank">暗黑破坏神2毁灭之王</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/4912/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/03/032452339.gif" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/4912/" target="_blank">功夫熊猫</a>,<b>1.8</b></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5235/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/102346849.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5235/" target="_blank">双星物语2</a>,<b>1.8G</b></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/3763/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2010/12/21/022157859.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/3763/" target="_blank">哥特王朝3</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5138/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/05/093826818.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5138/" target="_blank">侠盗猎车4自由城之章</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5143/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/05/095353927.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5143/" target="_blank">蜘蛛侠破碎维度</a>，<b>5G</b></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5167/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/05/103550394.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5167/" target="_blank">战神2圣剑神罚</a>,<b>4.1G</b></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5349/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/050410782.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5349/" target="_blank">神界2龙裔</a>，<b>5.5G</b></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5356/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/05175721.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5356/" target="_blank">波斯王子5遗忘之沙</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5380/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/07/090540707.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5380/" target="_blank">僵尸围城2</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5046/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/04/10425262.gif" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5046/" target="_blank">波斯王子3王者无双</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5012/" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/tupsc.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5012/" target="_blank">细胞分裂4双重间谍</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5006/" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/tupsc.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5006/" target="_blank">鬼泣4</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/4998/" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/tupsc.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/4998/" target="_blank">侠盗猎车4</a></p>
</div>
<div class="clear"></div>
</div>
</div>

<div class="dl_dxdj">
<div class="dl_dxdj_l"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/dl_djyx03.jpg" align="absmiddle" /> <span class="xfont06">经典</span>大型游戏推荐</div>
<div class="dl_dxdj_r"><a href="#" target="_blank">更多>></a></div>
<div class="clear"></div>
<div class="dl_dxdj_nr">
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5351/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/050821868.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5351/" target="_blank">求生之路2牺牲</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5357/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/051751865.gif" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5357/" target="_blank">使命召唤5战争世界</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5368/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/054434182.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5368/" target="_blank">闪点行动2</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5383/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/07/092133694.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5383/" target="_blank">变形金刚赛博坦之战</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5350/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/050521145.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5350/" target="_blank">荣誉勋章</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5344/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/04521436.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5344/" target="_blank">异形大战铁血战士</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5309/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/034318876.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5309/" target="_blank">辐射新维加斯</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5295/" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_juhe/images/tupsc.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5295/" target="_blank">失落的星球2</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5038/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/04/102326427.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5038/" target="_blank">细胞分裂5断罪</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5346/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/045510259.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5346/" target="_blank">实况足球2011</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5293/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/025924619.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5293/" target="_blank">FIFA11</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5348/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/050234508.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5348/" target="_blank">NBA2K11</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5359/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/052346579.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5359/" target="_blank">实况足球2010</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5163/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/05/102955217.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5163/" target="_blank">富甲天下5</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5374/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/055958659.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5374/" target="_blank">中国2联合国之章</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/3834/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2010/12/22/105204136.gif" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/3834/" target="_blank">美少女梦工厂5</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5343/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/06/045145713.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5343/" target="_blank">鹰击长空2</a></p>
</div>
<div class="tpk_zsnr_l2">
<p><a href="http://danji.ganyou.com/5176/" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/05/104942505.jpg" border="0" /></a></p>
<p><a href="http://danji.ganyou.com/5176/" target="_blank">星际争霸2自由之翼</a></p>
</div>
<div class="clear"></div>
</div>
</div>
<!--bottom-->
<div class="bottom">
  关于我们  |  联系我们  |  帮助中心  |  投稿说明<br/>
Copyright (C) 2002-2010 赶游网 All Rights Reserved | 蜀ICP备05000570号 电信增值业务许可证：川BZ-20070003<br/>
本站所收录所有玄幻小说、言情小说、网游小说及其它各类小说作品、社区话题、小说评论及本站所做之广告均属其个人行为，与本站立场无关，本站努力为大家创造<br/>
一个优秀的小说阅读网络平台和小说创作平台 <a href="#"  title=我的强悍酷老公 target="_blank">站长统计</a><br/>
  </div>
<!--bottom end-->
</div>
<!-----------内容 end----------->
</body>
</html>
