{?set jieqi_page_template = "/modules/news/themes/empty.html"?}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{?$_PAGE['data']['meta_title']?}</title>
<meta name="keywords" content="{?$_PAGE['data']['meta_keywords']?}">
<meta name="description" content="{?$_PAGE['data']['meta_description']?}">
<link href="{?$_SGLOBAL['TPL_DIR']?}/show_special/{?$_PAGE['data']['t_style']|defaultval:'purple'?}/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javaScript" src="{?$_SGLOBAL['news']['url']?}/images/js/top.js"></script>
</head>

<body>
<div class="contain">
<!--top 开始-->
<div class="header" style="background-image: url({?$_PAGE['data']['specialbanner']?});"></div>
<div class="menu_tj01">
<span class="righta">
<a href="#" target="_blank">最新游戏</a> |  
<a href="#" target="_blank">热门游戏排行</a> | 
<a href="#" target="_blank">推荐游戏排行</a> | 
<a href="#" target="_blank">共收录单机游戏<span class="red">2014</span>个</a>
</span>
<ul>
	<li class="hover"><a href="#">综数介绍 </a></li>
	<li><a href="#">新闻（<span class="red">12</span>）</a></li>
	<li><a href="#">视频（<span class="red">2</span>）</a></li>
	<li><a href="#">下载（<span class="red">7</span>）</a></li>
	<li><a href="#">点评（<span class="red">20</span>）</a></li>
	<li><a href="#">论坛（<span class="red">12</span>）</a></li>
	</ul>
</div>
<!--top 结束-->
<div class="top10">
<!--左边 开始-->
<div id="marle_left">
<div class="marle_kuang">
<div class="left01">

<div class="eptj_z01" style="height:240px"><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/02.jpg" border="0" /></a> <strong><a href="#" target="_blank">{?$_PAGE['data']['title']?}游戏</a></strong>
<p>游戏平台：单机游戏</p>
	  <p>游戏类型：体育技能</p>
	  <p>发行日期：2010-12-1</p>
	  <p>开发厂商：EA</p>
	  <p>语言版本：汉语</p>
	  <p>官方网站：<a href="#" target="_blank" class="red">访问官网</a></p>
</div>
<p><input type="button" class="spym_pl_an4" /> <p>
<table width="100%" border="0" cellspacing="0">
  <tr>
    <td width="22%" align="right">网站评分：</td>
    <td width="78%"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/ml_xin01.jpg" align="absmiddle" /><span class="ziti">9.1</span></td>
    </tr>
  <tr>
    <td align="right" class="red">缺点：</td>
    <td>变态猫版《{?$_PAGE['data']['title']?}游戏》通关视频</td>
    </tr>
  <tr>
    <td align="right" class="lv">优点：</td>
    <td>《{?$_PAGE['data']['title']?}游戏》通关视频</td>
    </tr>
</table>

<div></div>

</div>
<div class="right01">
  <div class="eptj_z02">
<input name="button" type="button" class="spym_pl_an3" align="absmiddle" />  我的评分：<img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/ml_xin02.jpg" align="absmiddle" /> <span class="ziti">9.1</span>
  <input type="button" class="spym_pl_an2" />
  
  </div><div class="marle_kuang3">
<div class="right01_bt">
<span class="a1"> <a href="#" target="_blank">最新游戏</a></span>
<img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/ml_07.jpg" align="absmiddle" /><span class="red">{?$_PAGE['data']['title']?}游戏：游戏动态</span>
</div>

<ul class="sy_nrul2">
<li><span class="xfont_right2 xfont03">[06-13] </span>· <a href="#" target="_blank" class="xfont_14">索尼《星球大战：克隆人战争冒险》</a> </li>
<li><span class="xfont_right2 xfont03">[06-13] </span>· <a href="#" target="_blank" class="xfont_14">索尼《星球大战：克隆人战争冒险》</a> </li>

<li><span class="xfont_right2 xfont03">[06-13] </span>· <a href="#" target="_blank" class="xfont_14">索尼《星球大战：克隆人战争冒险》</a> </li>
<li><span class="xfont_right2 xfont03">[06-13] </span>· <a href="#" target="_blank" class="xfont_14">索尼《星球大战：克隆人战争冒险》</a> </li>
<li><span class="xfont_right2 xfont03">[06-13] </span>· <a href="#" target="_blank" class="xfont_14">索尼《星球大战：克隆人战争冒险》</a> </li>
<li><span class="xfont_right2 xfont03">[06-13] </span>· <a href="#" target="_blank" class="xfont_14">索尼《星球大战：克隆人战争冒险》</a> </li>
<li><span class="xfont_right2 xfont03">[06-13] </span>· <a href="#" target="_blank" class="xfont_14">索尼《星球大战：克隆人战争冒险》</a> </li>
<li><span class="xfont_right2 xfont03">[06-13] </span>· <a href="#" target="_blank" class="xfont_14">索尼《星球大战：克隆人战争冒险》</a> </li>
<li><span class="xfont_right2 xfont03">[06-13] </span>· <a href="#" target="_blank" class="xfont_14">索尼《星球大战：克隆人战争冒险》</a> </li>
<li><span class="xfont_right2 xfont03">[06-13] </span>· <a href="#" target="_blank" class="xfont_14">索尼《星球大战：克隆人战争冒险》</a> </li>
</ul>
</div>
</div>
<Div class="clear"></Div>

<Div class="marle_02"> 
<div class="wytj_qh_tc1">
<div class="wytj_qh_tc1_l bai">{?$_PAGE['data']['title']?}游戏简介</div>
<div class="wytj_qh_tc1_r bai">{?$_PAGE['data']['title']?}游戏各版本游戏集</div>
<div class="clear"></div>
</div>

<div class="left01">
 &nbsp; &nbsp;{?$_PAGE['data']['content']?}
</div>
<div class="right02">
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</Div>


<Div class="marle_02">
<div class="wytj_qh_tc2"><span class="rit"><a href="#" target="_blank">查看此游戏的全部图片>></a></span><span class="bai">游戏图片</span></div>

<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="clear"></div>
</Div>

<Div class="marle_02">
<div class="wytj_qh_tc2"><span class="rit"><a href="#" target="_blank">查看此游戏的全部图片>></a></span><span class="bai">游戏图片</span></div>

<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="clear"></div>
</Div>

<Div class="marle_02">
<div class="wytj_qh_tc2"><span class="rit"><a href="#" target="_blank">查看此游戏的全部图片>></a></span><span class="bai">游戏图片</span></div>

  <table border="0" cellspacing="0" class="table01">
    <!--评论可重复-->
    <tr>
      <td class="a1"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/sp_10.jpg" /></td>
      <td><span class="blue">用户名</span> <span class="Black">呵呵，好舒服啊！好久把相机接我玩两天</span> 今天 00:08<img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/sp_11.jpg" align="absmiddle" /></td>
    </tr>
    <!--评论可重复 end-->
    <tr>
      <td><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/sp_10.jpg" /></td>
      <td><span class="blue">用户名</span> <span class="Black">无论对LZ的作品 还是个人对设计的理解， 都有自己深入的想法
        ，都做的很好。非常赞。</span> 今天 00:08<img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/sp_11.jpg" align="absmiddle" /><br/>
        <span class="Black"> &nbsp;&nbsp;&nbsp;&nbsp;用户名</span>回复 <span class="Black">呵呵，好啊！</span> 10分钟前</td>
    </tr>
    <tr>
      <td colspan="2"><textarea name="textarea" class="spym_pl_input">发表评论</textarea>
      </td>
    </tr>
    <tr>
      <td colspan="2"> <input name="" type="button" class="spym_pl_an" /></td>
    </tr>
  </table>
</Div>
</div>

<div class="top10">
<div class="marle_kuang2" style=" width:725px">
<div class="djyx1_bt5"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/xian2.jpg" align="absmiddle" />觉得此游戏好玩的还喜欢</div>

<div class="top10"></div>
<div class="spym_r_ul2">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/02.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul2">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/02.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>

<div class="spym_r_ul2">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/02.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>

<div class="spym_r_ul2">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/02.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>

<div class="spym_r_ul2">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/02.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul2">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/02.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul2">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/02.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>

<div class="spym_r_ul2">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/02.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>

<div class="spym_r_ul2">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/02.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>

<div class="spym_r_ul2">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/02.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul2">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/02.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="spym_r_ul2">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/02.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封</a></p>
</div>
<div class="clear"></div>
</div>
</div>
</div>
<!--左边 结束-->
<!--右边 开始-->
<div id="marle_right">
<Div class="marle_kuang2" style="width:232PX">
<div class="marle_bt01">热点单机资讯</div>
<div class="djyx1_a3">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a3">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="clear"></div>
<div class="djyx1_ul1">
  <p>· <a href="#" target="_blank">重温那份经典的恐怖系列游戏回顾</a></p>
  <p>· <a href="#" target="_blank">重温那份经典的恐怖系列游戏回顾</a></p>
  <p>· <a href="#" target="_blank">重温那份经典的恐怖系列游戏回顾</a></p>
  <p>· <a href="#" target="_blank">重温那份经典的恐怖系列游戏回顾</a></p>
  <p>· <a href="#" target="_blank">重温那份经典的恐怖系列游戏回顾</a></p>
  <p>· <a href="#" target="_blank">重温那份经典的恐怖系列游戏回顾</a></p>
  <p>· <a href="#" target="_blank">重温那份经典的恐怖系列游戏回顾</a></p>
  <p>· <a href="#" target="_blank">重温那份经典的恐怖系列游戏回顾</a></p>
  <p>· <a href="#" target="_blank">重温那份经典的恐怖系列游戏回顾</a></p>
</div>
</Div>
<Div class="marle_kuang2"style="width:232PX">
<div class="marle_bt01">单机游戏排行榜</div>
<div class="djyx1_bt4">
<ul id="menu2">
<li class="hover" onmouseover="setTab(2,0)"><a href="#" target="_blank">本周</a> </li>
<li onmouseover="setTab(2,1)"><a href="#" target="_blank">本月</a></li>
<li onmouseover="setTab(2,2)"><a href="#" target="_blank">全部</a></li>
</ul>
</div>
<div class="sy_nrul5">
<div  id="main2">
	<ul class="block">
    <p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn01" /> 
    </span><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/pm_j.jpg" align="absmiddle" /><a href="#" target="_blank">跑跑卡丁车</a></p> 
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn01" /> 
    </span><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/pm_y.jpg" align="absmiddle" /><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn02" /> 
    </span><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/pm_t.jpg" align="absmiddle" /><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn02" /> 
    </span><span class="lt_pm">04</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn01" /> 
    </span><span class="lt_pm">05</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn01" /> 
    </span><span class="lt_pm">06</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn01" /> 
    </span><span class="lt_pm">07</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn02" /> 
    </span><span class="lt_pm">08</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">11 <input type="button" class="wytj_searchbtn01" /> 
    </span><span class="lt_pm">09</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn02" /> 
    </span><span class="lt_pm">10</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	</ul>
	
	<ul style="display:none">
    <p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn01" /> 
    </span><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/pm_j.jpg" align="absmiddle" /><a href="#" target="_blank">跑跑卡丁车</a></p> 
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn01" /> 
    </span><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/pm_y.jpg" align="absmiddle" /><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn02" /> 
    </span><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/pm_t.jpg" align="absmiddle" /><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn02" /> 
    </span><span class="lt_pm">04</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn01" /> 
    </span><span class="lt_pm">05</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn01" /> 
    </span><span class="lt_pm">06</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn01" /> 
    </span><span class="lt_pm">07</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn02" /> 
    </span><span class="lt_pm">08</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">11 <input type="button" class="wytj_searchbtn01" /> 
    </span><span class="lt_pm">09</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn02" /> 
    </span><span class="lt_pm">10</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	</ul>
	
	<ul style="display:none">
    <p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn01" /> 
    </span><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/pm_j.jpg" align="absmiddle" /><a href="#" target="_blank">跑跑卡丁车</a></p> 
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn01" /> 
    </span><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/pm_y.jpg" align="absmiddle" /><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn02" /> 
    </span><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/pm_t.jpg" align="absmiddle" /><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn02" /> 
    </span><span class="lt_pm">04</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn01" /> 
    </span><span class="lt_pm">05</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn01" /> 
    </span><span class="lt_pm">06</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn01" /> 
    </span><span class="lt_pm">07</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn02" /> 
    </span><span class="lt_pm">08</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">11 <input type="button" class="wytj_searchbtn01" /> 
    </span><span class="lt_pm">09</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	<p><span class="xfont_right2 xfont03">1126 <input type="button" class="wytj_searchbtn02" /> 
    </span><span class="lt_pm">10</span><a href="#" target="_blank">跑跑卡丁车</a></p>
	</ul>
	</div>
	
	</div>
</Div>

<Div class="marle_kuang2"style="width:232PX">
<div class="marle_bt01">热点单机资讯</div>
<div class="djyx1_a3">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a3">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a3">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a3">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a3">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a3">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a3">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a3">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="clear"></div>
</Div>

<Div class="marle_kuang2"style="width:232PX">
<div class="marle_bt01">关注此游戏的玩家</div>
<div class="djyx1_bt4">
<ul id="menu3">
<li class="hover" onmouseover="setTab(3,0)"><a href="#" target="_blank">收藏</a> </li>
<li onmouseover="setTab(3,1)"><a href="#" target="_blank">评分</a></li>
</ul>
</div> 
<div  id="main3">
 <ul class="block">
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="clear"></div>
</ul>
 <ul  style="display:none">
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="djyx1_a4">
<p><a href="#" target="_blank"><img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/01.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">重温那份</a></p>
</div>
<div class="clear"></div>
</ul>
</div> 
</div></div>
<!--右边 结束-->
<div class="clear"></div>
</div>

<!--推荐 开始-->
<div id="tjian">
<ul class="a1">
<img src="{?$_SGLOBAL['TPL_DIR']?}/show_special/purple/images/logo.jpg" />
</ul>
<ul class="a2">
<li class="bold"><a href="#" target="_blank">网络游戏</a></li>
<li><a href="#" target="_blank">角色装扮（1235）</a></li>
<li><a href="#" target="_blank">体育游戏（256）</a></li>
<li><a href="#" target="_blank">休闲游戏（258）</a></li>
<li><a href="#" target="_blank">动作游戏（1235）</a></li>
<li><a href="#" target="_blank">策略游戏（258）</a></li>
<li><a href="#" target="_blank">其他（258）</a></li>
</ul>
<ul class="a2">
<li class="bold"><a href="#" target="_blank">网络游戏</a></li>
<li><a href="#" target="_blank">角色装扮（1235）</a></li>
<li><a href="#" target="_blank">体育游戏（256）</a></li>
<li><a href="#" target="_blank">休闲游戏（258）</a></li>
<li><a href="#" target="_blank">动作游戏（1235）</a></li>
<li><a href="#" target="_blank">策略游戏（258）</a></li>
<li><a href="#" target="_blank">其他（258）</a></li>
</ul>
<ul class="a2">
<li class="bold"><a href="#" target="_blank">网络游戏</a></li>
<li><a href="#" target="_blank">角色装扮（1235）</a></li>
<li><a href="#" target="_blank">体育游戏（256）</a></li>
<li><a href="#" target="_blank">休闲游戏（258）</a></li>
<li><a href="#" target="_blank">动作游戏（1235）</a></li>
<li><a href="#" target="_blank">策略游戏（258）</a></li>
<li><a href="#" target="_blank">其他（258）</a></li>
</ul>
<ul class="a2">
<li class="bold"><a href="#" target="_blank">网络游戏</a></li>
<li><a href="#" target="_blank">角色装扮（1235）</a></li>
<li><a href="#" target="_blank">体育游戏（256）</a></li>
<li><a href="#" target="_blank">休闲游戏（258）</a></li>
<li><a href="#" target="_blank">动作游戏（1235）</a></li>
<li><a href="#" target="_blank">策略游戏（258）</a></li>
<li><a href="#" target="_blank">其他（258）</a></li>
</ul>
<ul class="a3">
<li class="bold"><a href="#" target="_blank">网络游戏</a></li>
<li><a href="#" target="_blank">角色装扮（1235）</a></li>
<li><a href="#" target="_blank">体育游戏（256）</a></li>
<li><a href="#" target="_blank">休闲游戏（258）</a></li>
<li><a href="#" target="_blank">动作游戏（1235）</a></li>
<li><a href="#" target="_blank">策略游戏（258）</a></li>
<li><a href="#" target="_blank">其他（258）</a></li>
</ul>
<div class="clear"></div>
</div>
<!--推荐 结束-->

<!--底部 开始-->
<div class="bottom"><a href="" class=sinatail>关于赶游</a> | 
<a href="" class=sinatail>赶游招聘</a> | 
<a href="" class=sinatail>联系赶游</a> | 
<a href="" class=sinatail>友情链接</a> | 
<a href="" class=sinatail>加入收藏</a> | 
<a href="" class=sinatail>网站帮助</a> | 
<a href="" class=sinatail>意见留言</a> | 
<a href="" class=sinatail>网站地图</a><br/>
Copyright (C) 2002-2010 赶游网 All Rights Reserved | 蜀ICP备05000570号 电信增值业务许可证：川BZ-20070003<br/>
赶游网提供最新网络游戏资讯，提供包含网络游戏、单机游戏、电视游戏、小游戏在内的所有游戏服务，倡导健康游戏生活，打造一站式游戏网站。<br/>
好游戏，好心情，赶快来游戏吧！赶游网为您提供游戏娱乐每一秒！<a href="/"  title=游戏网站 target="_blank">站长统计</a><br/>
  </div>
<!--底部 结束-->

</div>

</body>
</html>
