{?set jieqi_page_template = "/modules/news/themes/default/theme_news.html"?}{?eval $meta_title = $_SGLOBAL['cate']['setting']['meta_title'];?}{?eval $meta_keywords = $_SGLOBAL['cate']['setting']['meta_keywords'];?}{?eval $meta_description = $_SGLOBAL['cate']['setting']['meta_description'];?}{?set $jieqi_pagetitle = "$meta_title $jieqi_sitename"?}
{?set $jieqi_keywords = "$meta_keywords"?}{?set $jieqi_description = "$meta_description"?}
{?eval $catid = $_SGLOBAL['cate']['catid'];?}
	<div id="guanggao"><a href="http://www.2100book.com/" target="_blank"><img src="http://www.2100book.com/gg/02.jpg" width="980" /></a></div>
<div id="guanggao"> 您所在的位置：<a href="{?$_SGLOBAL['localurl']?}/">赶游首页</a> > <a href="{?function jieqi_geturl:'news':'lists':14:1?}">游戏图库</a> > <span class="cRed">{?$_SGLOBAL['cate']['catname']?}</span></div>
	<div class="clear"></div>
	<div id="list_all">
	   <div id="list_left">{?eval if(count($_SGLOBAL['subcate'])<4) $num = 12; else $num=20;?}
	   {?section name=i loop=$_SGLOBAL['subcate']?}
	      <div id="vid_left_1"> <span class="t_bt1">{?$_SGLOBAL['subcate'][i]['catname']?}</span> <a href="{?function jieqi_geturl:'news':'lists':$_SGLOBAL['subcate'][i]['catid']:1?}">查看更多>></a></div>
			    <div id="pic_list">
				   <ul class="clearfix">{?eval $cid = $_SGLOBAL['subcate'][i]['catid'];?}
						{?tag_news_21_[新闻]通用查询<{inputtime,$num,$cid,0,0,0,100}><{photo/block_imgspan.html}>?}
				  </ul>
			    </div>
		{?/section?}
	  </div>
	   {?include file = "modules/news/templates/default/right_news.html" ?}
	</div>

