<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>推荐</title>
<link href="css/gongyong.css" rel="stylesheet" type="text/css" />
<link href="css/ggtj.css" rel="stylesheet" type="text/css" />
<script language="javascript">
function setTab(m,n){
var tli=document.getElementById("menu"+m).getElementsByTagName("li"); /*获取选项卡的LI对象*/
var mli=document.getElementById("main"+m).getElementsByTagName("ul"); /*获取主显示区域对象*/
for(i=0;i<tli.length;i++){
  tli[i].className=i==n?"hover":""; /*更改选项卡的LI对象的样式，如果是选定的项则使用.hover样式*/
  mli[i].style.display=i==n?"block":"none"; /*确定主区域显示哪一个对象*/
}
}
</script>
</head>

<body>
<div class="tjxwy_kuang">
<div class="tjxwy_bt2">
<ul id="menu2">
<li class="hover" onmouseover="setTab(2,0)"><a href="http://news.ganyou.com/" target="_blank">新闻</a> </li>
<li onmouseover="setTab(2,1)"><a href="http://danji.ganyou.com/" target="_blank">单机</a></li>
<li onmouseover="setTab(2,2)"><a href="#" target="_blank">页游</a></li>
<li onmouseover="setTab(2,3)"><a href="#" target="_blank">单机</a></li>
<li onmouseover="setTab(2,4)"><a href="#" target="_blank">八卦</a></li>
<li onmouseover="setTab(2,5)"><a href="#" target="_blank">发号</a></li>
</ul>
</div>
<div class="tjxwy_bt2_nr">
<div id="main2">
 <ul class="block">
  <li class="a1">日本寺庙主持萌化拜萝莉女佛</li>
  <div class="tjxwy_bt2_nr01">
   <a href="http://news.ganyou.com/5667.html" target="_blank"><img src="http://attachment.ganyou.com/attachment/image/2011/01/13/030056585.jpg" border="0" /></a>
   <p><a href="http://news.ganyou.com/5667.html" target="_blank">·动漫催生90后腐女手机瘾</a></p> 
   <p><a href="http://news.ganyou.com/5666.html" target="_blank">·邦德重回荧幕 游戏开发是迷</a></p> 
   <p><a href="http://news.ganyou.com/5668.html" target="_blank">·游戏是高薪行业 22%月入8K</a></p> 
   <p><a href="http://news.ganyou.com/5675.html" target="_blank">·玩家自制电影《马里奥的梦</a></p> 
   <p><a href="http://news.ganyou.com/5676.html" target="_blank">·韩媒称韩国网游仍将是佼佼者</a></p> 
   </div>
   <div class="tjxwy_bt2_nr02">
   <p><a href="http://news.ganyou.com/5677.html" target="_blank">·北美社交游戏年收11亿</a></p> 
   <p><a href="http://news.ganyou.com/5672.html" target="_blank">·这访NesTea：内战自信</a></p> 
   <p><a href="http://news.ganyou.com/5663.html" target="_blank">·索尼将于27日发布PSP2</a></p> 
   <p><a href="http://news.ganyou.com/5658.html" target="_blank">·3DS是个骗人噱头</a></p> 
   <p><a href="http://news.ganyou.com/5656.html" target="_blank">·吉田直树谈最终幻想14</a></p> 
   <p><a href="http://news.ganyou.com/5655.html" target="_blank">·《星际2》春节后上线？</a></p> 
   <div class="clear"></div>
   </div>
 </ul>
 <ul style="display:none">
  <li class="a1">客服世界杯八强诞生2</li>
  <div class="tjxwy_bt2_nr01">
   <a href="#" target="_blank"><img src="images/2.jpg" border="0" /></a>
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   </div>
   <div class="tjxwy_bt2_nr02">
   <p><a href="#" target="_blank">·这货不是成就</a></p> 
   <p><a href="#" target="_blank">·这货不是成就上线</a></p> 
   <p><a href="#" target="_blank">·这货不是成就不</a></p> 
   <p><a href="#" target="_blank">·这货不是成就上线不</a></p> 
   <p><a href="#" target="_blank">·这货不是成就</a></p> 
   <p><a href="#" target="_blank">·这货不是成就上线</a></p> <div class="clear"></div>
   </div>
 </ul>
 <ul style="display:none">
  <li class="a1">客服世界杯八强诞生3</li>
  <div class="tjxwy_bt2_nr01">
   <a href="#" target="_blank"><img src="images/1.jpg" border="0" /></a>
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p>  
   </div>
   <div class="tjxwy_bt2_nr02">
   <p><a href="#" target="_blank">·这货不是成就</a></p> 
   <p><a href="#" target="_blank">·这货不是成就上线</a></p> 
   <p><a href="#" target="_blank">·这货不是成就不</a></p> 
   <p><a href="#" target="_blank">·这货不是成就上线不</a></p> 
   <p><a href="#" target="_blank">·这货不是成就</a></p> 
   <p><a href="#" target="_blank">·这货不是成就上线</a></p> <div class="clear"></div>
   </div>
 </ul>
 <ul style="display:none">
  <li class="a1">客服世界杯八强诞生2</li>
  <div class="tjxwy_bt2_nr01">
   <a href="#" target="_blank"><img src="images/3.jpg" border="0" /></a>
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p>  
   </div>
   <div class="tjxwy_bt2_nr02">
   <p><a href="#" target="_blank">·这货不是成就</a></p> 
   <p><a href="#" target="_blank">·这货不是成就上线</a></p> 
   <p><a href="#" target="_blank">·这货不是成就不</a></p> 
   <p><a href="#" target="_blank">·这货不是成就上线不</a></p> 
   <p><a href="#" target="_blank">·这货不是成就</a></p> 
   <p><a href="#" target="_blank">·这货不是成就上线</a></p> <div class="clear"></div>
   </div>
 </ul>
 <ul style="display:none">
  <li class="a1">客服世界杯八强诞生3</li>
  <div class="tjxwy_bt2_nr01">
   <a href="#" target="_blank"><img src="images/1.jpg" border="0" /></a>
  <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p>  
   </div>
   <div class="tjxwy_bt2_nr02">
   <p><a href="#" target="_blank">·这货不是成就</a></p> 
   <p><a href="#" target="_blank">·这货不是成就上线</a></p> 
   <p><a href="#" target="_blank">·这货不是成就不</a></p> 
   <p><a href="#" target="_blank">·这货不是成就上线不</a></p> 
   <p><a href="#" target="_blank">·这货不是成就</a></p> 
   <p><a href="#" target="_blank">·这货不是成就上线</a></p> <div class="clear"></div>
   </div>
 </ul>
 <ul style="display:none">
  <li class="a1">客服世界杯八强诞生3</li>
  <div class="tjxwy_bt2_nr01">
   <a href="#" target="_blank"><img src="images/2.jpg" border="0" /></a>
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p> 
   <p><a href="#" target="_blank">·这货不是成就 称号系统</a></p>  
   </div>
   <div class="tjxwy_bt2_nr02">
   <p><a href="#" target="_blank">·这货不是成就</a></p> 
   <p><a href="#" target="_blank">·这货不是成就上线</a></p> 
   <p><a href="#" target="_blank">·这货不是成就不</a></p> 
   <p><a href="#" target="_blank">·这货不是成就上线不</a></p> 
   <p><a href="#" target="_blank">·这货不是成就</a></p> 
   <p><a href="#" target="_blank">·这货不是成就上线</a></p> <div class="clear"></div>
   </div>
 </ul>
 </div></div>
<div class="tjxwy_bt2_nr03">
<ul>
	<li><a href="http://news.ganyou.com/5679.html" target="_blank">·巴西自产游戏主机Zeebo进军印度 入</a></li> 
   <li><a href="http://danji.ganyou.com/news/5643.html" target="_blank">·2010年度十部最震撼电影级游戏CG预</a></li> 
</ul>
</div>
</div>
</body>
</html>
