<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={?$jieqi_charset?}" />
<title>找回密码</title>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
<meta http-equiv="Cache-Control" content="no-transform " /> 
<meta name="keywords" content="{?$meta_keywords?}" />
<meta name="description" content="{?$meta_description?}" />
<meta name="author" content="{?$meta_author?}" />
<meta name="copyright" content="{?$meta_copyright?}" />
<link href="{?$jieqi_themeurl?}style/find_password.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="header">
	<div class="shouye"><a href="{?eval echo JIEQI_REFER_URL;?}">返回</a></div>
    <div class="title"><a href="javascript:;">找回密码</a></div>
    <div class="shujia"><a href="{?$SITE_WAP_URL?}">首页</a></div>
</div>
<form action="{?function geturl:'3g':'getpass'?}" method="post">  
<div class="content">
	<div class="yx">
        <span>邮&nbsp;&nbsp;&nbsp;箱：</span>
        <input name="email" type="text" value="" placeholder="输入您注册时填写的邮箱" />
    </div>
    <div class="yx yzm">
        <span>验证码：</span>
        <input type="text" name="checkcode" value="" placeholder="输入字符"/>
        <a onclick="document.getElementById('checkcode').setAttribute('src','{?$jieqi_local_url?}/checkcode.php?rand='+Math.random());" href="javascript:;" class="yzm_img"><img id="checkcode" src="{?$jieqi_local_url?}/checkcode.php" /></a>
    </div>
    <div class="button">
    	<input type="hidden" name="nouser" value="1" />
    	<input type="hidden" name="formhash" value="{?eval echo form_hash();?}" />
    	<input type="submit" class="tj" value="提交" />
    </div>
</div>
</form>
{?include file = "themes/3g/bottom.html"?}
</body>
</html>