{?set $meta_keywords = "小说,好看的小说,小说网,小说推荐,免费小说"?}
{?set $jieqi_pagetitle = "$jieqi_sitename-免费小说,网络小说,最好看的小说推荐"?}
{?set $meta_description = "$jieqi_sitename为最具影响力的原创小说门户,也是最有潜力的网络小说网站,$jieqi_sitename每天拥有海量免费小说更新,包括玄幻小说,穿越小说,都市小说,网游小说,武侠小说,修真小说,恐怖小说,军事小说,历史小说等各类热门小说在线阅读,我们致力于汇集八方作者,共享文学盛事,将好看的小说推荐给读者,做最好看的网络小说网站。"?}
<style>
    ul img{ 

            width:90px!important;
            height:120px!important;;
     }
</style>
{?include file = "themes/3g/search.html"?}
<div class="mt10 bgcfff">
            
    <div class="mlf10 ptb10 f16" style="color: #1fb3b6;">热门推荐</div>
    {?tag_system_363_[新版WAP][首页][热门推荐]?}
    <div class="ptb10 bt bcddd plf10">
        {?tag_system_364_[新版WAP][首页][热门推荐文字]?}
    </div>
</div>
<div class="mt10 bgcfff">
    <h1 class="mlf10 ptb10 f16" style="color: #1fb3b6;" >都市婚姻</h1>
    {?tag_system_365_[新版WAP][首页][都市婚姻]?}
    <div class="f14">
        {?tag_system_366_[新版WAP][首页][都市婚姻文本]?}
    </div>
</div>
<div class="mt10  bgcfff">
    <h1 class="mlf10 ptb10 f16" style="color: #1fb3b6;">豪门总裁</h1>
    {?tag_system_367_[新版WAP][首页][豪门总裁]?}
    <div class="f14">
        {?tag_system_368_[新版WAP][首页][豪门总裁文本]?}
    </div>
</div>
<div class="mt10  bgcfff">
    <div class="mlf10 ptb10 f16" style="color:#1fb3b6;">大神专区</div>
    {?tag_system_369_[新版WAP][首页][大神专区]?}
</div>
<div class="mt10 bgcfff">
    <div class="mlf10 ptb10 f16" style="color:#1fb3b6;">完本专区</div>
    {?tag_system_370_[新版WAP][首页][完本专区]?}
</div>

