<!DOCTYPE html>
<html>
    <head>
       <meta http-equiv="Content-Type" content="text/html; charset={?$jieqi_charset?}" />
        <title>{?$jieqi_pagetitle|str_replace:'$jieqi_sitename':'用户登录-$jieqi_sitename'?}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
       <meta name="keywords" content="{?$meta_keywords?}" />
       <meta name="description" content="{?$meta_description?}" />
       <meta name="author" content="{?$meta_author?}" />
       <meta name="copyright" content="{?$meta_copyright?}" />
       <link rel="stylesheet" href="{?$jieqi_themeurl?}css/common.css">
       <link rel="stylesheet" href="{?$jieqi_themeurl?}css/extend.css">
       <link rel="stylesheet" href="{?$jieqi_themeurl?}fonts/iconfont.css">
        <style>
            html,
            body {
                background: #fff;
            }
              .lists{
                 display: -webkit-flex;
                display: flex;
                justify-content:center;
            }
        </style>
    </head>
    <body oncontextmenu="return false" onselectstart="return false" ondragstart="return false" onbeforecopy="return false" oncopy=document.selection.empty() onselect=document.selection.empty()>
        <div class="clearfix lh55 h55 bgcPink cfff tc f16">
            <a href="/" class="iconfont fl f18 cfff pl10">&#xe602;</a>
            快捷登录
            <a  href="{?function geturl:'3g':'register':'SYS=jumpurl=$jumpurl'?}" class="cfff fr f15 pr10">注册</a>
        </div>
        <!--第三方登陆-->
        <div class="">
            <div class="tc f14 mb10 mt10 c666"><b>第三方登录</b></div>
            <ul class="clearfix tc wp80 mc lists">
                <li class="wp25">
                    <a  class="db" href="javascript:;" onclick="location.href='{?$SITE_WAP_URL?}/qqlogin/?jumpurl='+document.getElementById('ujumpurl').value;" id="qqlogin">
                        <img width="47" height="47" src="{?$jieqi_themeurl?}images/qq.png" alt="" />
                        <p class="pt5 pb5 c666">QQ账号</p>
                    </a>
                </li>
                <li class="wp25">
                    <a class="db" href="javascript:;" onclick="location.href='{?$SITE_WAP_URL?}/sinalogin/?jumpurl='+document.getElementById('ujumpurl').value;"><img width="47" height="47"
                        src="{?$jieqi_themeurl?}images/weibo.png" alt="" />
                        <p class="pt5 pb5 c666">微博账号</p>
                    </a>
                </li>
                <li class="wp25">
                    <a class="db" href="javascript:;" onclick="location.href='{?$SITE_WAP_URL?}/wxlogin/?jumpurl='+document.getElementById('ujumpurl').value;" id="qqlogin"><img width="47" height="47" src="{?$jieqi_themeurl?}images/weixin.png" alt="" />
                        <p class="pt5 pb5 c666">微信账号</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="pr tc p10" style="background:#fff url(images/line.png) repeat-x center center;"><span class="dib plf10 bgcfff c333 f14">或使用本站账号登录</span></div>
        <form action="{?function geturl:'3g':'login'?}" method="post" id="login_form">
            <div class="wp80 mc">
                <div class="mb20"><input type="text" class="bgcWhiteSmoke br0 p10 b bcddd wp100 bsi f14" placeholder="账号：个性账号/邮箱" name="username" /></div>
                <div class="mb20"><input type="password" class="bgcWhiteSmoke br0 p10 b bcddd wp100 bsi f14" placeholder="密码：6-10位数字或者字母" name="password" /></div>
                <div class="tr f14">
                    <a href="#" class="cPink">找回密码？</a>
                </div>
                <div class="mt20 mb30">
                    <a  onclick="document.getElementById('login_form').submit();"  class="db lh40 h40 cfff f15 tc br3 bgcPink">立即登录</a>
                </div>
            </div>
            <input type="hidden" name="jumpurl"  id="jumpurl" value="{?$jumpurl?}">
            <input type="hidden" name="ujumpurl"  id="ujumpurl" value="{?$ujumpurl?}">
            <input type="hidden" name="formhash" value="{?eval echo form_hash();?}" />
    <input type="hidden" name="usecookie" value="1" />
        </form>
       {?include file = "themes/3g/bottom.html"?}
    </body>

</html>