<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={?$jieqi_charset?}" />
    <title>成功提示</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <meta http-equiv="Cache-Control" content="no-transform " />
    <link rel="stylesheet" href="{?$jieqi_themeurl?}css/common.css">
    <link rel="stylesheet" href="{?$jieqi_themeurl?}css/promptPage.css">
    <link rel="stylesheet" href="{?$jieqi_themeurl?}fonts/iconfont.css">
</head>

<body>
{?include file = "themes/3g/header.html"?}
<div class="shibaitit">
    温馨提示
</div>
<div class="img"><img src="{?$jieqi_themeurl?}images/success.gif" /></div>
<p class="shibai">温馨提示</p>
<p class="yuanyin">{?$msg?}</p>
<a href="{?$readurl?}" class="fhbut">继续阅读</a>
{?include file = "themes/3g/bottom.html"?}
</body>
</html>


