
        <style>
        .rankLI li{padding: 10px 0;border-bottom: #ddd 1px solid;}
        .rankLI li:last-child{border-bottom: 0;}
        .rankLI li a{display: block;}
        .rankLI li span{width: 18px;height:18px;line-height: 18px;text-align: center;overflow: hidden;color: #fff;display: inline-block;margin-right: 5px;border-radius: 50%;vertical-align: middle;}
        </style>
        {?include file = "themes/3g/search.html"?}
        <!--男生榜-->
        <div class="mt10 bgcfff plf10">
            <h1 class="ptb10 f16 clearfix" style="color: #1fb3b6;border-bottom:#dad9d9 1px solid;">男生榜</h1>
            <ul class="rankLI">
            {?tag_system_2_通用查询<{totalvisit,3,,0,0,0,0,,0}><{3g/block_toplist.html}>?}
               <!--  <li><a class="tEllipsis" href="details.html"><span class="bgcOrange">1</span>婚色撩人：权少诱妻成瘾</a></li>
                <li><a class="tEllipsis" href="details.html"><span class="bgcOrange">2</span>婚色撩人：权少诱妻成瘾</a></li>
                <li><a class="tEllipsis" href="details.html"><span class="bgcOrange">3</span>婚色撩人：权少诱妻成瘾</a></li>
                <li><a class="tEllipsis" href="details.html"><span class="bgcddd">4</span>婚色撩人：权少诱妻成瘾</a></li>
                <li><a class="tEllipsis" href="details.html"><span class="bgcddd">5</span>婚色撩人：权少诱妻成瘾</a></li>
                <li><a class="tEllipsis" href="details.html"><span class="bgcddd">6</span>婚色撩人：权少诱妻成瘾</a></li>
                <li><a class="tEllipsis" href="details.html"><span class="bgcddd">7</span>婚色撩人：权少诱妻成瘾</a></li> -->
            </ul>
        </div>
        <!--女生榜-->
        <div class="mt10 bgcfff plf10">
            <h1 class="ptb10 f16 clearfix" style="color: #1fb3b6;border-bottom:#dad9d9 1px solid;">女生榜</h1>
            <ul class="rankLI">
                 {?tag_system_2_通用查询<{totalvisit,3,,0,0,0,0,,100}><{3g/block_toplist.html}>?}
            </ul>
        </div>
    
 
</html>