          <dl class="lisd fix">
		  {?section name=i loop=$bookcaserows?}{?eval $aid=$bookcaserows[i].articleid;?}{?eval $cid=$bookcaserows[i].chapterid;?}
           <dd class="fix"><em class="nam"><a href="{?$bookcaserows[i].url_articleinfo?}" target="_blank" class="f_black">《{?$bookcaserows[i].articlename?}》</a></em><em class="nam2"><a href="{?$bookcaserows[i].url_articleinfo?}" target="_blank" class="f_blue1">开始阅读</a></em>
           {?if $bookcaserows[i].chapterid>0?}<p class="nam3">上次您阅读到：<a href="{?function geturl:'article':'reader':'SYS=aid=$aid':'cid=$cid'?}" target="_blank" class="f_black">{?$bookcaserows[i].chaptername?}</a></p>{?/if?}
           </dd>
		   {?/section?}{?if $i.order<1?}<dd class="fix f14 g9 noline tc">您还没有作品加入书架<a class="f_blue5" href="/shuku">点击添加</a></dd>{?else?} 
           <dd class="fix g9 noline tr"><a href="{?function geturl:'article':'article':'SYS=method=bcView'?}" class="f_blue1">查看更多&gt;&gt;</a></dd>{?/if?}
          </dl>
