		{?section name=i loop=$articlerows?}
        	{?if $i.order % 2 == 0?}<dd class="fix dbg">{?else?}
			<dd class="fix">
			{?/if?}
      <a href="#" class="sort" title="都市">[都市]</a>
      <span class="name"><a href="#" target="_blank" class="f_gray54 f14">重生之少年大亨</a><em class="q"></em><a href="#" target="_blank" class="f_gray9">第九十三章</a><em class="v"></em></span>
      <a href="#" target="_blank" class="author">静曲天上白云</a>
      <span class="date">05-09 12:38</span>
     </dd>
        {?/section?} 
