		 <dd class="first fix">
           <em class="no_1">1</em> 
           <a href="#" target="_blank" class="img"><img src="{?$jieqi_themeurl?}images/cover68.jpg" alt="王爷从此不早朝" /></a>
           <h3><a href="book.html" target="_blank" title="王爷从此不早朝">王爷从此不早朝</a></h3>
           <p class="intro">为了心爱的男人，她以婚姻为条件与素昧谋面的腹……</p>
           <p><a href="book.html" target="_blank" class="f_blue">阅读&gt;&gt;</a></p>
         </dd>
		 {?section name=i loop=$articlerows?}<!--{?$i.order?}-->
         <dd class="fix"><em class="no2">2</em><span class="name2"><a href="{?$articlerows[i]['url_articleinfo']?}" target="_blank" title="{?$articlerows[i]['articlename']?}">{?$articlerows[i]['articlename']?}</a></span><span class="num">133票</span></dd>
		 {?/section?}