

  <script type="text/javascript">

    // 导航处理
    var q_run_on=$('.g-head .on').parent();
    var q_main_left=$('#main_left');
    var obj_tmp={};
    if( q_run_on.find('ul').size()>0 ){
        q_main_left.html(q_run_on.find('ul').html());
    }else{
        q_main_left.html(q_run_on.clone());
    }
    q_main_left.find('a').each(function(){
        var q_this=$(this);
        if( location.href.indexOf(q_this.prop('href')) !== -1 ){
            if(q_this.prop('href').length< obj_tmp.l)return true;
            obj_tmp.l=q_this.prop('href').length;
            obj_tmp.q=q_this;
        }
    }); // js
    if(obj_tmp.q)obj_tmp.q.addClass('on');

    
    var baseImgUrl='{?$jieqi_themeurl?}img/';

  </script>

  </body>
</html>