<script type="text/javascript" src="{?$jieqi_url?}/scripts/calendar/WdatePicker.js"></script>
<style>
.layer_notice{float:left; height:75px; width:170px;  overflow:hidden; display:none;  background:#78BA32; padding:10px; border:1px solid #628C1C;}
/*layer_notice li{ height:30px; line-height:30px;}
.layer_notice li a{ display:block; color:#fff;}
.layer_notice li a:hover{ background:#fff; color:#78BA32;}*/
</style>
<form name="frmsearch" method="post" action="?controller=articleMedia">
<table class="grid" width="100%" align="center">
    <tr>
        <td class="odd">总：{?$total?}本，关键字：
            <input name="keyword" type="text" id="keyword" value="{?$_REQUEST['keyword']?}" class="text" size="15" maxlength="50"> <input name="keytype" type="radio" class="radio" value="0"{?if $_REQUEST['keytype']=='0' || $_REQUEST['keytype']==''?} checked{?/if?}>文章名称
            <input type="radio" name="keytype" class="radio" value="1"{?if $_REQUEST['keytype']=='1'?} checked{?/if?}>作者 
			<input type="radio" name="keytype" class="radio" value="2"{?if $_REQUEST['keytype']=='2'?} checked{?/if?}>发表者 
			<input type="checkbox" name="isvip" value="1"{?if $_REQUEST['isvip']>0?} checked{?/if?} /> 只显示VIP&nbsp;&nbsp;
			<select name="nowagent" id="nowagent"><option value="0">-选择责编-</option>{?section name=j loop=$agents?}<option value="{?$agents[j]['uid']?}" {?if $nowagent==$agents[j]['uid']?}selected{?/if?}>{?eval echo ($agents[j]['name'] ? $agents[j]['name'] : $agents[j]['uname']);?}</option>{?/section?}</select>&nbsp;&nbsp;
            <select name="firstflag" id="firstflag">
            	<option value="">-选择来源-</option>
            	{?section name=j loop=$soruce?}
            		<option value="{?$j.key?}" {?if $firstflag != ""  && $firstflag==$j.key ?}selected{?/if?}>{?$j.value?}</option>
            	{?/section?}
            </select>&nbsp;&nbsp;
            <select name="siteid" id="siteid">
            	<option value="">-选择频道-</option>
            	{?section name=i loop=$channel?}
            		<option value="{?$i.key?}" {?if $siteid != "" && $siteid==$i.key ?}selected{?/if?}>{?$channel[i].name?}</option>
            	{?/section?}
            </select>&nbsp;&nbsp;
            <select name="fullflag" id="fullflag">
            	<option>-选择状态-</option>
        		<option value="2" {?if $fullflag != "" && $fullflag==2 ?}selected{?/if?}>连载中</option>
        		<option value="1" {?if $fullflag != "" && $fullflag==1 ?}selected{?/if?}>已完本</option>
            </select>
            <input type="hidden" name="formhash" value="{?eval echo form_hash();?}" /><input type="submit" name="dosubmit" class="button" value="搜 索">
<!--&nbsp;&nbsp;--><br /><a href="{?$article_dynamic_url?}/admin/?controller=articleMedia">全部文章</a>  | <a href="{?$article_dynamic_url?}/admin/?controller=articleMedia&display=sign">签约文章</a> | <a href="{?$article_dynamic_url?}/admin/?controllerMedia=article&display=show">已审文章</a> | <a href="{?$article_dynamic_url?}/admin/?controllerMedia=article&display=hide">待审文章</a> | <a href="{?$article_dynamic_url?}/admin/?controllerMedia=article&display=cool">冷门文章</a> | <a href="{?$article_dynamic_url?}/admin/?controllerMedia=article&display=empty">空文章</a>                
        </td>
        <td class="odd" style="text-align:center">
        	<a href="{?$article_dynamic_url?}/admin/?controller=articleMedia&action=downexcel">下载到EXCEL</a></td>
    </tr>
</table>
</form>
<br />
<form action="{?$url_batchdel?}" method="post" name="checkform" id="checkform" onSubmit="javascript:if(confirm('确实要批量删除文章么？')) return true; else return false;">
<table class="grid" width="100%" align="center">
<caption>{?$articletitle?}</caption>
  <tr align="center">
    <th width="3%">选择</th>
    <th width="12%">文章名称</th>
	<th width="3%">目录</th>
    <th width="15%">最新章节</th>
    <th width="6%">作者</th>
    <th width="3%">来源</th>
	<th width="5%">责编</th>
	<th width="6%">发表者</th>
	<th width="4%">字数</th>
    <th width="3%">更新状态</th>
    <th width="6%">创建时间</th>
    <th width="6%">更新/签约</th>
	<th width="4%">收藏</th>
	<th width="4%">点击</th>
	<th width="4%">推荐</th>
	<th colspan="2">状态操作</th>
    </tr>
  {?section name=i loop=$articlerows?}
  {?function jieqi_geturl:'article':'article':$articlerows[i].articleid:'info'?}
  <tr>
    <td class="odd" align="center">{?$articlerows[i].checkbox?}</td>
    <td class="even">[<a href="{?$articlerows[i].url_class?}" target="_blank">{?$articlerows[i].sort?}</a>] <a href="{?$articlerows[i].url_articleinfo?}" target="_blank">{?$articlerows[i].articlename?}</a>{?if $articlerows[i].articletype>0?}<img src="{?$jieqi_local_url?}/images/vip.gif" border="0" />{?/if?}</td>
	<td class="even" align="center"><a href="{?$articlerows[i].url_articleindex?}" target="_blank">目录</a></td>
    <td class="odd"><a href="{?$articlerows[i].url_lastchapter?}" target="_blank">{?$articlerows[i].lastvolume?} {?$articlerows[i].lastchapter?}</a></td>
    <td class="even" align="center">{?if $articlerows[i].authorid == 0?}{?$articlerows[i].author?}{?else?}<a href="{?function geturl:'system':'userhub':'method=userinfo':'uid=$articlerows[i].authorid'?}" target="_blank">{?$articlerows[i].author?}</a>{?/if?}</td>
    <td class="even" align="center">{?$soruce[$articlerows[i].firstflag]?}</td>
	<td class="odd" align="center">{?$articlerows[i].agent|defaultval:''?}</td>
    <td class="odd" align="center">{?$articlerows[i].poster?}</td>
	<td class="odd" align="center">{?$articlerows[i].size_c?}</td>
	<td class="odd" align="center">{?if $articlerows[i].fullflag>0?}已完本{?else?}设为完本{?/if?}</td>
    <td class="odd" align="center">{?$articlerows[i].postdate|date:'Y-m-d'?}</td>
    <td class="even" align="center">{?$articlerows[i].lastupdate|date:'Y-m-d H:i:s'?}<br>{?if $articlerows[i].signdate>0 && $articlerows[i].permission>3?}<font color=red class="resign" data-id="{?$articlerows[i].articleid?}" title="点击可重新设置签约时间">{?$articlerows[i].signdate|date:'Y-m-d H:i:s'?}</font>{?else?}<a href="{?$article_dynamic_url?}/admin/?controller=articleMedia&action=permission&id={?$articlerows[i].articleid?}" class="notice" ajaxclick="true" retruemsg="false">设置A签</a>{?/if?}</td>
	<td class="even" align="center">{?$articlerows[i].goodnum|defaultval:'0'?}</td>
	<td class="even" align="center">{?$articlerows[i].visit|defaultval:'0'?}</td>
	<td class="even" align="center">{?$articlerows[i].vote|defaultval:'0'?}</td>
	
	  <td align="center" class="even"><a href="{?function geturl:'article':'chapter':'SYS=method=cmView&aid=$articlerows[i].articleid'?}" target="_blank" title="章节管理"><img src="{?$jieqi_local_url?}/images/editor.gif" border="0" /></a></td>
    <td align="center" class="even"><a href="{?$article_dynamic_url?}/admin/?controller=articleMedia&action=download&id={?$articlerows[i].articleid?}" class="notice" title="下载"><img src="{?$jieqi_local_url?}/images/download.gif" border="0" /></a></td>
  
  </tr>
  {?/section?}
<!--  <tr>
    <td width="3%" class="odd" align="center"><input type="checkbox" id="checkall" name="checkall" value="checkall" onclick="javascript: for (var i=0;i<this.form.elements.length;i++){ if (this.form.elements[i].name != 'checkkall') this.form.elements[i].checked = form.checkall.checked; }"></td>
    <td colspan="6" align="left" class="odd"><input type="submit" name="Submit" value="批量删除" class="button"><input name="batchdel" type="hidden" value="1"><input name="url_jump" type="hidden" value="{?$url_jump?}"><input type="hidden" name="formhash" value="{?eval echo form_hash();?}" /><strong></strong></td>
  </tr>-->
</table>
</form>
<div class="pages">{?$url_jumppage?}</div>

<div>
        <ul class="layer_notice"><li><b>[选择责编]</b><a href="{?$article_dynamic_url?}/admin/?controller=articleMedia&action=setagent&uid=-1" agentclick="true">清空</a></li>{?section name=j loop=$agents?}
        	<li style="height:25px; line-height:25px;">[{?$groups[$agents[j]['groupid']]?}]<a href="{?$article_dynamic_url?}/admin/?controller=articleMedia&action=setagent&uid={?$agents[j].uid?}" agentclick="true">{?eval echo ($agents[j]['name'] ? $agents[j]['name'] : $agents[j]['uname']);?}</a></li>
            {?/section?}<input type="hidden" value="0" id='tmpid'>
        </ul>
</div>
<script language="javascript">
function selectAgent(_this, articleid){
	var s = layer.tips($('.layer_notice').html(), _this, {
        guide: 1,
		maxWidth:190,
		closeBtn:[0,true], //显示关闭按钮
        style: ['background-color:#FFF8ED; color:#000; width:190;border:1px solid #FF9900', '#FF9900']//['background-color:#FFF8ED; color:#000; border:1px solid #FF9900', '#FF9900']
    });
	$('#tmpid').val(articleid);
}
layer.ready(function(){
	$("[agentclick]").live('click',function(event){
		event.preventDefault();
		var id = $('#tmpid').val();
		var i = layer.load();//layer.load(0);
		GPage.getJson(urlParams(this.href, 'id='+id),
			function(data){
			    if(data.status=='OK'){			    	
					GPage.loadpage('content', data.jumpurl, true, false);
					layer.closeAll();
				}else{
					layer.alert(data.msg, 8, !1);
				}
			}
		);
	});		
	$(".org").click(function(event){
		event.preventDefault();
		var url = $(this).attr('href');//alert(url);return false;
		$.ajax({
		  url : url,
		  dataType : "json",
		  success : function(data){
			  console.log(data);
			var length = data.chapterrows.length;
			if(length>0){
				var chapterrows = data.chapterrows;
				var html = '<form id="setvip" action="{?$article_dynamic_url?}/admin/?controller=articleMedia&method=setvip" method="post">从<select name="cid">';
				for(var i = 0; i < length; i++){
					html += '<option value="'+chapterrows[i].chapterid+'">'+chapterrows[i].chaptername+'</option>';
				}
				html += '</select>开始入V</form>';//alert(html);
				layer.alert(html,4,"设置VIP",function(){
					$("#setvip").submit();
				});			  
			}else{
				layer.msg("没有未入V章节");
			}
		  },
		  error : function(data){
			layer.alert(data.msg, 8, !1);			  
		  }
		});	
	});
	$(".resign").live("click",function(){
		var oldtime = $(this).html();
		var aid = $(this).attr("data-id");
		var url = "{?$article_dynamic_url?}/admin/?controller=articleMedia&action=resign&id="+aid;
		var msg = "请点击文本框：<input id=\"resign\" onclick=\"WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:00'})\" value=\""+oldtime+"\" />";
		$.layer({
		    area: ['auto','auto'],
		    title: '重新选择签约时间',
		    dialog: {
		        msg: msg,
		        btns: 2,                    
		        type: 4,
		        btn: ['确定', '取消'],
		        yes: function(){
					var time = $("#resign").val();
					url += "&signdate="+time;
					var i = layer.load(0);
					if(!targetid) var targetid = 'content';
					GPage.getJson(url,function(data){
							layer.close(i);
						    if(data.status=='OK'){
		//						if(retruemsg!='false' &&  retruemsg) 
								layer.msg(data.msg, 1, 1);//alert(data.jumpurl);
								GPage.loadpage(targetid, data.jumpurl, true,false);
							}else{
								layer.alert(data.msg, 8, !1);
							}
					});
		        }
		    }
		});
//		layer.confirm(msg, function(){
//			var time = $("#resign").val();
//			url += "&signdate="+time;
//			var i = layer.load(0);
//			if(!targetid) var targetid = 'content';
//			GPage.getJson(url,function(data){
//					layer.close(i);
//				    if(data.status=='OK'){
////						if(retruemsg!='false' &&  retruemsg) 
//						layer.msg(data.msg, 1, 1);//alert(data.jumpurl);
//						GPage.loadpage(targetid, data.jumpurl, true,false);
//					}else{
//						layer.alert(data.msg, 8, !1);
//					}
//			});
//		},"重新选择签约时间")
	});
}); 
</script>