<style>
.layer_notice{float:left; height:75px; width:170px;  overflow:hidden; display:none;  background:#78BA32; padding:10px; border:1px solid #628C1C;}
/*layer_notice li{ height:30px; line-height:30px;}
.layer_notice li a{ display:block; color:#fff;}
.layer_notice li a:hover{ background:#fff; color:#78BA32;}*/
.d6{ width:600px; height:auto; margin:0 auto;}
.d6 table{ background:#fff; border-collapse:collapse;table-layout: fixed}
.d6 table tr:hover{ background:#FC9}
.d6 table th{ color:#333; background:#f8f8f8;}
.d6 table th,table td{ height:30px; line-height:30px; padding:0 10px; white-space:nowrap; overflow:hidden;word-break: break-all}
.sort,.author,.money,.numb{ width:15%;}
.sort{ padding:0;}
.name,.date{ width:20%; height:30px; white-space:nowrap; overflow:hidden;text-overflow: ellipsis;}
.date{ text-align:right; color:#999;}
</style>
<script type="text/javascript" src="{?$jieqi_url?}/scripts/calendar/WdatePicker.js"></script>
<style>
.layer_notice{float:left; height:75px; width:170px;  overflow:hidden; display:none;  background:#78BA32; padding:10px; border:1px solid #628C1C;}
/*layer_notice li{ height:30px; line-height:30px;}
.layer_notice li a{ display:block; color:#fff;}
.layer_notice li a:hover{ background:#fff; color:#78BA32;}*/
</style>
<form name="frmsearch" method="post" action="{?$adminprefix?}&method=bpsalecount">
<table class="grid" width="100%" align="center">
    <tr>
        <td class="odd">关键字：
            <input name="keyword" type="text" id="keyword" value="{?$_REQUEST['keyword']?}" class="text" size="15" maxlength="50">&nbsp;<input type="radio" name="searchkey" value="bpname" {?if $_REQUEST['searchkey']=='bpname' || !isset($_REQUEST['searchkey'])?}checked="checked"{?/if?} />&nbsp;书包名称&nbsp;<input type="radio" name="searchkey" value="account" {?if $_REQUEST['searchkey']=='account'?}checked="checked"{?/if?} />&nbsp;购买用户&nbsp;<input type="radio" name="searchkey" value="articleid" {?if $_REQUEST['searchkey']=='articleid'?}checked="checked"{?/if?} />&nbsp;书籍编号
            &nbsp;&nbsp;起始时间：<input onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:00'})" type="text" name="start" value="{?$_REQUEST['start']?}" />
            &nbsp;&nbsp;结束时间：<input onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:00'})" type="text" name="end" value="{?$_REQUEST['end']?}" />
            &nbsp;&nbsp;销售状态：
            <select name="overtime" >
                <option value="0" {?if $_REQUEST['overtime']==0 ||!$_REQUEST['overtime']?}selected="selected"{?/if?}>全部书包</option>
                <option value="1" {?if $_REQUEST['overtime']==1?}selected="selected"{?/if?}>未过期书包</option>
                <option value="2" {?if $_REQUEST['overtime']==2?}selected="selected"{?/if?}>已过期书包</option>
            </select>
            <input type="submit" name="dosubmit" class="button" style="cursor:pointer" value="搜 索">
        </td>
    </tr>
</table>
</form>
<br />
<table class="grid" width="100%" align="center">
    <caption>书包销售统计（销售总额：{?$totalprice?}书海币）（共{?$count?}条记录）</caption>
    <tr align="center">
        <th width="5%">序号</th>
        <th width="9%">购买日期</th>
        <th width="9%">购买时间</th>
        <th width="15%">书包名称</th>
        <!--<th width="13%">书籍名称</th>-->
        <th width="10%">书包销售单价</th>
        <th width="13%">购买用户</th>
        <th width="16%">阅读量</th>
        <th width="15%">过期时间</th>
        <th width="8%">过期状态</th>
    </tr>
    {?section name=i loop=$salelist?}
        <tr>
            <td align="center">{?$salelist[i].number?}</td>
            <td align="center">{?$salelist[i].days?}</td>
            <td align="center">{?$salelist[i].times?}</td>
            <td align="center">{?$salelist[i].bpname?}</td>
            <!--<td align="center">{?$salelist[i].bookname?}</td>-->
            <td align="center">{?$salelist[i].saleprice?}书海币</td>
            <td align="center">{?$salelist[i].account?}</td>
            <td align="center"><a id="j_bpsale_list" bpsale-id="{?$salelist[i].id?}" bpname="{?$salelist[i].bpname?}" href="javascript:;">[点击查看明细]</a></td>
            <td align="center">{?$salelist[i].end_time?}</td>
            <td align="center">{?if $salelist[i].isend==1?}<p style="color:#66ff00">未过期</p>{?else?}<p style="color:#cc6666">过期</p>{?/if?}</td>
        </tr>
    {?/section?}
</table>
<div class="pagelink">{?$url_jumppage?}</div>
<script language="javascript" type="text/javascript">
$(function(){
   $("#j_bpsale_list").live("click",function(){
       var saleid=$(this).attr("bpsale-id");
       var bpname=$(this).attr("bpname");
       var htmls='';
       GPage.getJson("{?$adminprefix?}&method=search_click&saleid="+saleid,function(data){
           if(data.status=="OK"){
//                alert(111);
                htmls += '<div class="d6"><table width="100%" border="1" bordercolor="#eeeeee" cellspacing="0" cellpadding="0"><tr><th width="15%" align="center" valign="middle" scope="col" class="sort">书籍编号</th><th width="30%" align="left" valign="middle" scope="col" class="name">书籍名称</th><th width="20%" align="left" valign="middle" scope="col" class="author">作者</th><th width="35%" align="center" valign="middle" scope="col" class="money">点击量（书籍/书包）</th></tr>';
                $.each(data.msg, function(i, n){
                    if(!n.articleid){return false}
                    htmls += '<tr><td align="center" valign="middle" class="sort">'+n.articleid+'</td>';
                    htmls += '<td align="left" valign="middle" class="name">'+n.articlename+'</td>';
                    htmls += '<td align="left" valign="middle" class="author">'+n.author+'</td>';
                    htmls += '<td align="center" valign="middle" class="sort">'+n.clicks+'/'+data.msg.total+'</td>';
                });
                htmls += "</table></div>";
           }else{
//               alert(222);
                htmls='当前书包无数据...';
           }
           $.layer({
                type:1,
                area:["auto", "auto"],
                title:bpname,
                page:{
                    html:htmls
            }
        });
       })
   }) 
})
</script>