<style type="text/css">
.layer_notice{float:left; height:75px; width:170px;  overflow:hidden; display:none;  background:#78BA32; padding:10px; border:1px solid #628C1C;}
</style>
<!--<form action="{?function geturl:'article':'chapter':'SYS=method=delChapters'?}" method="post" name="checkform" id="checkform">-->
<table class="grid" width="100%" align="center">
<caption>《{?$articlename?}》</caption>
<tr><td colspan="7">说明：<br />1、功能：可以将之前的章节设为vip（文章入V后发布的章节自动入V）。<br />2、点击设置vip，则该章节<span class="red">之后</span>的<span class="red">所有</span>章节（包括本章，不包括已经入V的章节），都成为vip章节，章节价格按字数自动生成，同时该<span class="red">文章入V</span>（不包括已经入V的文章）。<br />3、分卷、已经入V章节不能设置。</td></tr>
  <tr align="center">
    <th width="10%">设置</th>
    <th width="10%">章节序号</th>
    <th width="30%">章节名称</th>
    <th width="10%">字数</th>
    <th width="10%">价格</th>
	<th width="10%">状态</th>
    <th width="20%">更新/发布</th>
  </tr>
  {?section name=i loop=$chapterrows?}
  <tr{?if $chapterrows[i].chaptertype >0?} style="background-color:#eee;"{?else?} onmouseover="this.style.backgroundColor='#DDF2FF';" onmouseout="this.style.backgroundColor='#ffffff';"{?/if?}>
    <td align="center">{?if $chapterrows[i].chaptertype<1&&$chapterrows[i].isvip<1?}<a href="{?$article_dynamic_url?}/admin/?controller=article&method=setvip&cid={?$chapterrows[i].chapterid?}" target="_blank" class="set">设置vip</a>{?/if?}</td>
    <td align="center">{?$chapterrows[i].chapterorder?}</td>
    <td>{?if $chapterrows[i].chaptertype == 0?}<a href="{?function geturl:'article':'reader':SYS=aid=$aid&cid=$chapterrows[i].chapterid?}" target="_blank">{?$chapterrows[i].chaptername?}</a>{?else?}<b>{?$chapterrows[i].chaptername?}</b>{?/if?}{?if $chapterrows[i].isvip>0?}<img src="{?$jieqi_local_url?}/images/vip.gif" border="0" />{?/if?}</td>
    <td align="center">{?$chapterrows[i].size_c?}</td>
    <td align="center">{?$chapterrows[i].saleprice?}</td>
	<td align="center">{?if $chapterrows[i].display == 0?}正常{?else if $chapterrows[i].display == 1?}<span class="blue">待审</span>{?else if $chapterrows[i].display == 2?}<span class="green">定时</span>{?else if $chapterrows[i].display == 9?}<span class="org">定时待审</span>{?/if?}</td>
    <td align="center">{?$chapterrows[i].lastupdate|date:"Y-m-d H:i:s"?}<br>{?$chapterrows[i].postdate|date:"Y-m-d H:i:s"?}</td>
  </tr>
  {?/section?}
</table>
<!--</form>-->
<script language="javascript">
layer.ready(function(){
//	$(".set").click(function(){
//		event.preventDefault();
//		var i = layer.load();//layer.load(0);
//		GPage.getJson(urlParams(this.href),
//			function(data){
//			    if(data.status=='OK'){			    	
//					GPage.loadpage('content', data.jumpurl, true, false);
//					layer.closeAll();
//				}else{
//					layer.alert(data.msg, 8, !1);
//				}
//			}
//		);
//	});
//	$("[agentclick]").live('click',function(event){
//		event.preventDefault();
//		var id = $('#tmpid').val();
//		var i = layer.load();//layer.load(0);
//		GPage.getJson(urlParams(this.href, 'id='+id),
//			function(data){
//			    if(data.status=='OK'){			    	
//					GPage.loadpage('content', data.jumpurl, true, false);
//					layer.closeAll();
//				}else{
//					layer.alert(data.msg, 8, !1);
//				}
//			}
//		);
//	});			 
});
</script>