<link rel="stylesheet" href="{?$jieqi_url?}/scripts/validator-0.7.0/jquery.validator.css" />
<script type="text/javascript" src="{?$jieqi_url?}/scripts/validator-0.7.0/jquery.validator.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/scripts/validator-0.7.0/local/zh_CN.js"></script>
<table class="grid" width="100%" align="center" id="list">
	<caption>
    频道：<select name="channel" onChange="document.location='{?$adminprefix?}&channel='+this.options[this.selectedIndex].value;">
    		<option value="-1">-全部-</option>
    		{?section name=j loop=$channel?}
    			{?if $j['key'] != 400?}
	    			<option value="{?$j['key']?}" {?if $sel_channel==$j['key']?}selected{?/if?}>
	 					{?$channel[j]['name']?}
	 				</option>
    			{?/if?}
 			{?/section?}
    	</select>
    	<a id="add"  title="点击添加">+添加新标签</a>
	</caption>
  <tr align="center">
  	<th width="2%"></th>
  	<th width="2%"></th>
    <th width="30%">标签名称</th>
    <th width="40%">应用站点</th>
    <th width="">操作</th>
  </tr>
  {?section name=i loop=$rows?}
  <tr>
      <td  align="center"><input type="checkbox" name="selbox"/>
    </td>
      <td  align="center">{?$i.order?}
    </td>
    <td  align="center">{?$rows[i].name?}
    </td>
    <td >
    	{?eval $siteid = explode(",",$rows[i].siteid);?}
    	{?section name=j loop=$siteid?}
    		{?$channel[$j['value']]['name']?}
    	{?/section?}
    </td>
    <td  align="center"><a href="javascript:;" name="edit_tag" value="{?$rows[i].tagid?}">修改</a></td>
  {?/section?}
</table>
<div class="pages">{?$url_jumppage?}</div>
<!-- <form name="add_tag" id="add_tag" method="post" action="{?$adminprefix?}&method=addTag" style="display:none" ajaxpost="true" retruemsg="true"> -->
<form name="add_tag" id="add_tag" method="post" action="{?$adminprefix?}&method=addTag" style="display:none" ajaxpost="true" retruemsg="true">
	<table class="grid" width="400px" align="center" id="list">
	<caption>添加新标签</caption>
	<tr>
		<td>标签名称<br/>(自动去除重复的标签<br/>支持批量录入<br/>如：打怪|升级)</td>
		<td><textarea name="tname" id="tname" cols="30" rows="8" style="border:1px #268BC2 solid;" data-rule="required;"></textarea><font color="red">*</font></td>
	</tr>
	<tr>
		<td>站点</td>
		<td>
			{?section name=j loop=$channel?}
    			{?if $j['key'] != 400?}
    				<label><input name="channel[]" type="checkbox" value="{?$j['key']?}" data-rule="checked"/>{?$channel[j]['name']?} </label> 
    			{?/if?}
 			{?/section?}
		<font color="red">*</font></td> 
	</tr>
	<tr>
		<td colspan="2" align="center"><button type="submit" >提交</button><input type="hidden" name="formhash" value="{?eval echo form_hash();?}" /></td>
	</tr> 
	</table>
</form>
<script>

$(document).ready(function(){
	$("#add_tag").hide();
	$("#add").click(function(){
		$('#add_tag')[0].reset();
// 		$('#articleid').attr("readonly",false);
		$('#add_tag caption').text("添加标签");
		$('#add_tag').attr('action', '{?$adminprefix?}&method=addTag');
		 $.layer({
				shade : [0.5 , '#000' , true],
				type : 1,
//				area : ['60%','560px'],
				area : ['400px','230px'],
				title : false,
				offset : ['60px' , '50%'],
				border : [10 , 0.3 , '#000', true],
				zIndex : 1,
				page: {
			 	       dom: '#add_tag'
			 	    },
				close : function(index){
					layer.close(index);
					$('.ul_con').hide();
				}
			});	
// 		 $("#articleid").focus();
	});
	//修改
	$("a[name='edit_tag']").click(function(){
		var id = $(this).attr("value");
		GPage.getJson('{?$adminprefix?}&method=getTag&id='+id,function(data){
			if(data.status=='OK'){
				$("#tname").val(data.msg["name"]);
				var siteid = data.msg["siteid"];
				siteid = siteid.split(",");
				$("[name='channel[]']").attr("checked",false);//清空
				for(i=0;i<siteid.length;i++){
					$("[name='channel[]'][value='"+siteid[i]+"']").attr("checked",'true');
				}
				$('#add_tag caption').text("修改标签");
				$('#add_tag').attr('action', '{?$adminprefix?}&method=editTag&id='+id);
				$.layer({
					shade : [0.5 , '#000' , true],
					type : 1,
//					area : ['60%','560px'],
					area : ['400px','230px'],
					title : false,
					offset : ['60px' , '50%'],
					border : [10 , 0.3 , '#000', true],
					zIndex : 1,
					page: {
				 	       dom: '#add_tag'
				 	    },
					close : function(index){
						layer.close(index);
						$('.ul_con').hide();
					}
				});	
			}else{
				layer.alert(data.msg, 8, !1);
			}
		})
	});
	$("#list tr:not(':first')").bind("mouseover",function(){
		 $(this).css("background","#DDF2FF");
	});
	$("#list tr:not(':first')").bind("mouseout",function(){
		if($(this).find("input[name='selbox']").attr("checked")){
			$(this).css("background","#C3E8FF");
		}else{
			$(this).css("background","#ffffff");
		}
	});
})
</script>