<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>赶游网视频展示页</title>
<link href="css/spzs.css" rel="stylesheet" type="text/css" />
</head>

<body class="m1">
<div class="top1">
<div class="top1_l">新用户请先 <a href="#" target="_blank" class="xfont13">注册</a> 用户名<input type="text" class="input_top" />
  密码<input type="text" class="input_top" />
  <input name="button" type="button" class="dl_searchbtn01" value="登陆" /> <a href="#" target="_blank" class="Red">忘记密码</a> </div>
<div class="top1_l2"><a href="#" target="_blank"><img src="images/gy_t02.jpg" border="0" /></a></div>
<div class="top1_r"><a href="#" target="_blank">2D角色扮演</a> <a href="#" target="_blank">回合战斗</a> <a href="#" target="_blank" class="xfont06">FPS射击</a> <a href="#" target="_blank">体育运动</a></div>
<div class="clear"></div>
</div>
<div class="header">
<!--header-->
<div class="contain">
	<div class="logo"><a href="#"><img src="images/logo.jpg" width="384" height="100" border="0" /></a></div>
	<div class="top_right">
	<a href="#">分享视频</a>|<a href="#" class="blue">发表视频</a> | <a href="#">我的视频</a>
	<div class="search">
		<ul>
		<li class="sear_01"><input name="" type="button" class="s1" onmousedown="show('nav_s1');"/>综合		  </li>
		<li class="sear_02"><input type="text" value="输入您要查询的关键字" /></li>
		<li><input name="" type="button" class="go"/></li>
		</ul>
	</div>	
	</div>	
	<div class="clear"></div>
	<ul id="nav">
	<li><a href="#" id="m1" onfocus="blur()">赶游视频首页</a></li>
	<li><a href="#" id="m2" onfocus="blur()">网络游戏</a></li>
	<li><a href="#" id="m3" onfocus="blur()">单机游戏</a></li>
	<li><a href="#" id="m4" onfocus="blur()">新游视频</a></li>
	<li><a href="#" id="m5" onfocus="blur()">游戏美女频道</a></li>
	<li><a href="#" id="m6" onfocus="blur()">列表专题</a></li>
	<li><a href="#" id="m7" onfocus="blur()">列表视频</a></li>
	<li><a href="#" id="m8" onfocus="blur()">论坛网站地图</a></li>
	</ul>
</div>
<!--header end-->
<div class="box_hy">
<div class="spym_a1"><img src="images/sp_01.jpg" align="absmiddle" />当前位置: <a href="#" target="_blank">单机游戏</a> -> <a href="#" target="_blank">视频文件</a> -> <a href="#" target="_blank">《诺亚传说》12月3日启航内测预告片</a></div>
<div class="spym_nr">
<!--left-->
<div class="spym_nr_left spym_kuang">
<ul class="spym_ul1">
<li class="a1"><b>《诺亚传说》12月3日启航内测预告片</b></li>
<li class="a2"><img src="images/sp_02.jpg"/></li>
<li class="t"><a href="#" target="_blank">视频标题视频标题</a></li>
<li>视频描述：视频描述视频描述视频描述视频描述视频描述视频描述视频描述视频描述视频描述</li>
<li>
标签：
<a href="#" target="_blank">标签</a> 
<a href="#" target="_blank">标签</a> 
<a href="#" target="_blank">标签</a> 
<a href="#" target="_blank">标签</a> 
<a href="#" target="_blank">标签</a> 
<a href="#" target="_blank">标签</a>
</li>
<li class="a3"> 
<span class="a3_r"><a href="#" target="_blank">我要评论<span class="Red">(111)</span></a></span>
<a href="#" target="_blank"><img src="images/zztp01.jpg" align="absmiddle" />转播到微博</a> 
<a href="#" target="_blank"><img src="images/zztp01-02.jpg"  align="absmiddle"/>分享到空间</a>  
<a href="#" target="_blank"><img src="images/zztp01-03.jpg" align="absmiddle" />RSS</a>  </li>
</ul>
<!--按钮-->
<div class="spym_anniu">
<ul class="spym_anniu01">
<li class="a1">123</li>
<li class="a2"><a href="#" target="_blank">赞一个</a></li>
</ul>
<ul class="spym_anniu02">
<li class="a1">123</li>
<li class="a2"><a href="#" target="_blank">我踩</a></li>
</ul>
<ul class="spym_anniu03">
<li class="a2"><a href="#">我要发言</a></li>
</ul>
<ul class="spym_anniu04">
<li class="a2"><a href="#">返回本版</a></li>
</ul>
</div>
<!--按钮 end-->
<div class="spym_pl_t">
<span class="blue">用户名</span> 49天前上传 / 您是第 <span class="Red">137674</span> 位浏览者 / 目前有 <span class="Red">88</span> 条评论</div>
<div class="spym_pl_t2"></div>
<div class="spym_pl_t3">
<table width="100%" border="0" cellspacing="0">
<!--评论可重复-->
  <tr>
    <td width="10%"><img src="images/sp_10.jpg" /></td>
    <td width="90%"><span class="blue">用户名</span> <span class="Black">呵呵，好舒服啊！好久把相机接我玩两天</span>  今天 00:08<img src="images/sp_11.jpg" align="absmiddle" /></td>
  </tr>
<!--评论可重复 end-->
  <tr>
    <td width="10%"><img src="images/sp_10.jpg" /></td>
    <td width="90%"><span class="blue">用户名</span> <span class="Black">无论对LZ的作品 还是个人对设计的理解， 都有自己深入的想法
，都做的很好。非常赞。</span>  今天 00:08<img src="images/sp_11.jpg" align="absmiddle" /><br/>
<span class="Black"> &nbsp;&nbsp;&nbsp;&nbsp;用户名</span>回复 <span class="Black">呵呵，好啊！</span>  10分钟前</td>
  </tr>
  <tr>
    <td colspan="2">
      <textarea name="textarea" class="spym_pl_input">发表评论</textarea>	  </td>
    </tr>
  <tr>
    <td colspan="2"><input type="submit" name="Submit" value="提交评论" class="spym_pl_an" /></td>
    </tr>
</table>

</div>
</div>
<!--left end-->
<!--right-->
<div class="spym_nr_right">
<div class="spym_kuang" style="height:475px">
<div class="spym_r_bt"><img src="images/sp_a1.jpg"  align="absmiddle" /></div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="spym_r_ul1">
<a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="spym_r_ul1">
<a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="clear"></div>
</div>
<div class="top10"></div>
<div class="spym_kuang" style="height:475px">
<div class="spym_r_bt"><img src="images/sp_a2.jpg"  align="absmiddle" /></div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="spym_r_ul1">
<a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="spym_r_ul1">
<p><a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a></p>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="spym_r_ul1">
<a href="#" target="_blank"><img src="images/spsp.jpg" border="0" /></a>
<p><a href="#" target="_blank">旗舰动漫二次封测 3D卡通星月精灵</a></p>
</div>
<div class="clear"></div>
</div>
</div>
<!--right end-->
<div class="clear"></div>
</div>
</div>
<!--footer-->
<div class="footer">
 <div class="foot_nav"><span>@ 2008-2010 All rights reserved.京ICP证090052号</span>
 <a href="#">投稿说明</a> | <a href="#">我们的团队</a> | <a href="#">关于我们</a> | <a href="#">联系我们</a>
 </div>
</div>
<!--footer end-->
</div>
</body>
</html>
