<div class="box_dwn1">
      <ul class="list_t1 f_black">
      	{?section name=i loop=$articlerows?}
        	<li><span class="sort">[<a href="{?$articlerows[i]['url_class']?}" target="_blank" title="{?$articlerows[i]['sort']?}">{?$articlerows[i]['shortcaption']?}</a>]</span><span class="name"><a href="{?$articlerows[i]['url_articleinfo']?}" target="_blank" title="{?$articlerows[i]['articlename']?}">{?$articlerows[i]['articlename']?}</a></span></li>
        {?/section?}  
        <!--  
        <li><span class="sort">[都市]</span><span class="name"><a href="book.html" target="_blank" title="采花到乡村">采花到乡村</a></span></li>
        <li><span class="sort">[都市]</span><span class="name"><a href="book.html" target="_blank" title="大罗金仙都市销魂记">大罗金仙都市销魂记大罗金仙都市销魂记大罗金仙都市销魂记大罗金仙都市销魂记</a></span></li>
        <li><span class="sort">[都市]</span><span class="name"><a href="book.html" target="_blank" title="女神养成计划">女神养成计划</a></span></li>
          
        <li><span class="sort">[都市]</span><span class="name"><a href="book.html" target="_blank" title="超牛都市兵神">超牛都市兵神</a></span></li>
        <li><span class="sort">[都市]</span><span class="name"><a href="book.html" target="_blank" title="女人，快到碗里来！">女人，快到碗里来！</a></span></li>
        <li><span class="sort">[都市]</span><span class="name"><a href="book.html" target="_blank" title="冷情CEO的">冷情CEO的</a></span></li>
        <li><span class="sort">[都市]</span><span class="name"><a href="book.html" target="_blank" title="大罗金仙都市销魂记">大罗金仙都市销魂记</a></span></li>
        <li><span class="sort">[都市]</span><span class="name"><a href="book.html" target="_blank" title="玩转娱乐">玩转娱乐</a></span></li>
          
        <li><span class="sort">[都市]</span><span class="name"><a href="book.html" target="_blank" title="女人，快到碗里来！" class="f_red">女人，快到碗里来！</a></span></li>
        <li><span class="sort">[都市]</span><span class="name"><a href="book.html" target="_blank" title="冷情CEO的" class="f_red">冷情CEO的</a></span></li>
        <li><span class="sort">[都市]</span><span class="name"><a href="book.html" target="_blank" title="大罗金仙都市销魂记" class="f_red">大罗金仙都市销魂记</a></span></li>
        <li><span class="sort">[都市]</span><span class="name"><a href="book.html" target="_blank" title="女神养成计划">女神养成计划</a></span></li>
        <li><span class="sort">[都市]</span><span class="name"><a href="book.html" target="_blank" title="超牛都市兵神">超牛都市兵神</a></span></li>
        -->
      </ul>
    </div>