<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={?$jieqi_charset?}" />
<title>{?$sort?}小说,好看的{?$sort?}小说,{?$sort?}小说排行榜,{?$sort?}小说排行榜完本</title>
<meta name="keywords" content="{?$sort?}小说,{?$sort?}小说小说排行榜,{?$sort?}小说小说排行榜完本,好看的{?$sort?}小说">
<meta name="description" content="书海{?$sort?}小说网提供最好看的{?$sort?}小说在线阅读与{?$sort?}小说TXT电子书免费下载,我们的{?$sort?}小说小说排行榜上有着好看的{?$sort?}小说推荐,希望您在{?$sort?}小说小说排行榜完本里边找到您喜欢的那本{?$sort?}小说。">
<meta name="author" content="{?$meta_author?}" />
<meta name="copyright" content="{?$meta_copyright?}" />
<link href="{?$jieqi_themeurl?}style/channel.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{?$jieqi_local_url?}/scripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{?$jieqi_local_url?}/scripts/layer/layer.js"></script>
<script type="text/javascript" src="{?$jieqi_local_url?}/scripts/page.js"></script>
<script type="text/javascript" src="{?$jieqi_local_url?}/scripts/channel.js"></script>
<script type="text/javascript" src="{?$jieqi_local_url?}/scripts/jquery-ui.min.js"></script>
<!--[if lt IE 10]>
<script type="text/javascript" src="{?$jieqi_themeurl?}js/PIE.js"></script>
<![endif]-->
<!--[if IE 6]>
<script src="{?$jieqi_themeurl?}js/DD_belatedPNG.js" type="text/javascript"></script>
<script type="text/javascript">
DD_belatedPNG.fix('div, ul, img, li, dl, dd, input,span,h3,h2,a,em');
</script>
<![endif]-->

</head>

<body>
<!--top begin-->
<div class="top fix">
{?include file = "themes/v1/header.html" ?}
  <!--box_ns begin-->
  <div class="box_ns">
    {?include file = "themes/v1/search.html" ?}
  </div><!--box_ns end-->
</div><!--top end-->
<div class="wrap fix">
<div class="ad2"><script type="text/javascript" src="{?$jieqi_url?}/js/bd2.js"></script></div>
{?tag_system_239_[频道]左上角-封面推荐?}
{?tag_system_240_[频道]中上-15推荐?}
  <div class="box_side fr">
    <div class="t1"><h2>本周强推</h2></div>
    <div class="dwn2 qh">
      <dl class="ldt p10">      
        {?tag_system_128_[首页]右上角-百万风云榜?}
      </dl>
    </div>
  </div>
  <div class="cl"></div>
  
  <!--box begin-->
  <div class="box pt10">  
   <div class="box_mid3">
    <div class="down fix"> 
     <div class="t"><h3>{?$sort?}小说精品推荐</h3><span class="orn"></span></div>
     {?eval $tuisorid = $sortid+164;?}
     {?tag_system_$tuisorid_[频道]玄幻小说精品推荐<{}><{v1/block_jingpintuijian.html}>?}
    </div>
   </div>    
  </div><!--box end-->
  <!--sidebar begin-->
  <div class="sidebar fl mt10">
    <!--box_side begin-->
    <div class="box_side">
      <div class="t1"><h2>{?$sort?}小说完本推荐</h2></div>
      <div class="box_dwn11">
        <ul class="list_t11 f_black">
		  {?eval $wanbensorid = $sortid+176;?}
		  {?tag_system_$wanbensorid_[频道]玄幻小说完本推荐<{}><{v1/block_spanli.html}>?}
          </ul>
        </div>
    </div><!--box_side end-->
    
    <!--box_side begin-->
   <!-- <div class="box_side fl mt10">
      <div class="t1"><h2>编辑推荐</h2></div>
      <div class="box_dwn11">
        <ul class="list_t11 f_black">
          <li><span class="sort">[都市]</span><span class="name"><a href="javascript:void(0)" target="_blank" title="霸上天降小萌妃">霸上天降小萌妃</a></span></li>
          <li><span class="sort">[都市]</span><span class="name"><a href="javascript:void(0)" target="_blank" title="九婴邪仙">九婴邪仙</a></span></li>
          <li><span class="sort">[都市]</span><span class="name"><a href="javascript:void(0)" target="_blank" title="采花到乡村">采花到乡村</a></span></li>
          <li><span class="sort">[都市]</span><span class="name"><a href="javascript:void(0)" target="_blank" title="大罗金仙都市销魂记">大罗金仙都市销魂记大罗金仙都市销魂记大罗金仙都市销魂记大罗金仙都市销魂记</a></span></li>
          <li><span class="sort">[都市]</span><span class="name"><a href="javascript:void(0)" target="_blank" title="女神养成计划">女神养成计划</a></span></li>
          
          <li><span class="sort">[都市]</span><span class="name"><a href="javascript:void(0)" target="_blank" title="超牛都市兵神">超牛都市兵神</a></span></li>
          <li><span class="sort">[都市]</span><span class="name"><a href="javascript:void(0)" target="_blank" title="女人，快到碗里来！">女人，快到碗里来！</a></span></li>
          <li><span class="sort">[都市]</span><span class="name"><a href="javascript:void(0)" target="_blank" title="冷情CEO的">冷情CEO的</a></span></li>
          <li><span class="sort">[都市]</span><span class="name"><a href="javascript:void(0)" target="_blank" title="大罗金仙都市销魂记">大罗金仙都市销魂记</a></span></li>
          <li><span class="sort">[都市]</span><span class="name"><a href="javascript:void(0)" target="_blank" title="玩转娱乐">玩转娱乐</a></span></li>
          
          <li><span class="sort">[都市]</span><span class="name"><a href="javascript:void(0)" target="_blank" title="女人，快到碗里来！">女人，快到碗里来！</a></span></li>
          <li><span class="sort">[都市]</span><span class="name"><a href="javascript:void(0)" target="_blank" title="大罗金仙都市销魂记">大罗金仙都市销魂记</a></span></li>
          </ul>
        </div>
    </div>--><!--box_side end-->
  </div><!--sidebar end-->
  
<!--boxm begin-->
  <div class="boxm3 mt10">
    <!--box_mid4 begin-->
	     {?eval $zhuantisorid = $sortid+188;?}
		  {?tag_system_$zhuantisorid_[频道]小说每月专题?}
   <!--box_mid4 end-->
  </div> <!--boxm end-->
    
  <!--sidebar begin-->
  <div class="sidebar fr mt10">
    <!--box_side begin-->
    <div class="box_side">
      <div class="t1"><h2>{?$sort?}小说新书精选</h2></div>
      <div class="box_dwn11">
        <ul class="list_t11 f_black">
         {?eval $xinshusorid = $sortid+200;?}
		  {?tag_system_$xinshusorid_[频道]玄幻小说完本推荐<{}><{v1/block_spanli.html}>?}
          </ul>
        </div>
    </div><!--box_side end-->
  </div><!--box_side end-->
  <!--article2 begin-->
  <div class="article2 fl mt10">
     <div class="update">
       <div class="tt">
         <ul class="tabs2" id="tabs5">
           <li><a href="javascript:void(0)">最新更新小说</a></li>
           <li><a href="javascript:void(0)">最新签约小说</a></li>
         </ul>
       </div>
       <ul class="tab_conbox22" id="tab_conbox5">
        <li class="tab_con2 fix">
          <div class="t">
           <span class="sort">类别</span><span class="name">书名/章节</span><span class="author">作者</span><span class="date">更新时间</span>
          </div>
     	 	{?tag_system_2_通用查询<{lastupdate,21,$sortid,0,0,0}><{block_channellist.html}>?}
          <p class="more"><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=lastupdate&sortid=$sortid&page=1?}" target="_blank" class="f_blue">更多&gt;&gt;</a></p>
        </li>
        <li class="tab_con2">
          <div class="t">
           <span class="sort">类别</span><span class="name">书名/章节</span><span class="author">作者</span><span class="date">签约时间</span>
          </div>
		  {?tag_system_2_通用查询<{signdate,21,$sortid,0,0,0}><{block_channellist.html}>?}
          <p class="more"><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=lastupdate&sortid=$sortid&page=1?}" target="_blank" class="f_blue">更多&gt;&gt;</a></p>
        </li>
       </ul>
     </div>
  </div><!--article2 end-->
  <!--box_side begin-->
  <div class="sidebar fr mt10">
   <div class="tabbox3">
      <div class="t"><h2>推荐榜</h2>
       <ul class="tabs3" id="tabs3">
        <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=weekvote&sortid=$sortid&page=1?}">周</a></li>
        <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=monthvote&sortid=$sortid&page=1?}">月</a></li>
        <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=totalvote&sortid=$sortid&page=1?}">总</a></li>
       </ul>
      </div>
      <ul class="tab_conbox4" id="tab_conbox3">       
         <li class="tab_con3">
          <div class="box_dwn21">
            <dl class="list_t3d f_black">
               {?tag_system_2_通用查询<{weekvote,10,$sortid,0,0,0}><{v1/block_visit2.html}>?}
            </dl>
          </div>
        </li>       
        <li class="tab_con3" style="display:none">
          <div class="box_dwn21">
            <dl class="list_t3d f_black">
             {?tag_system_2_通用查询<{monthvote,10,$sortid,0,0,0}><{v1/block_visit2.html}>?}
            </dl>
          </div>
        </li>       
        <li class="tab_con3" style="display:none">
          <div class="box_dwn21">
            <dl class="list_t3d f_black">
              {?tag_system_2_通用查询<{totalvote,10,$sortid,0,0,0}><{v1/block_visit2.html}>?}
            </dl>
          </div>
        </li>
      </ul>
    </div>    
    
    <div class="tabbox3 mt10">
      <div class="t"><h2>点击榜</h2>
       <ul class="tabs3" id="tabs4">
        <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=weekvisit&sortid=$sortid&page=1?}">周</a></li>
        <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=monthvisit&sortid=$sortid&page=1?}">月</a></li>
        <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=totalvisit&sortid=$sortid&page=1?}">总</a></li>
       </ul>
      </div>
      <ul class="tab_conbox4" id="tab_conbox4">       
        <li class="tab_con3"><div class="box_dwn21">
            <dl class="list_t3d f_black">
               {?tag_system_2_通用查询<{weekvisit,10,$sortid,0,0,0}><{v1/block_visit2.html}>?}
            </dl></div>
        </li>       
        <li class="tab_con3" style="display:none"><div class="box_dwn21">
            <dl class="list_t3d f_black">
             {?tag_system_2_通用查询<{monthvisit,10,$sortid,0,0,0}><{v1/block_visit2.html}>?}
            </dl></div>
        </li>       
        <li class="tab_con3" style="display:none"><div class="box_dwn21">
            <dl class="list_t3d f_black">
              {?tag_system_2_通用查询<{totalvisit,10,$sortid,0,0,0}><{v1/block_visit2.html}>?}
            </dl></div>
        </li>
      </ul>
    </div> 
  </div><!--box_side end-->
  <div class="cl"></div>
<div class="ad4"><script type="text/javascript" src="{?$jieqi_url?}/js/tb1.js"></script></div>
  <div class="fdlink mt10">
   <h3 class="t">友情链接</h3>
   <div class="txt f_gray6">{?if $sortid==2?}{?block bid="280" module="system" filename="" classname="BlockSystemCustom" side="" title="[都市]友链" vars="" template="" contenttype="1" custom="1" publish="3" hasvars="0"?}
{?else if $sortid==1?}{?block bid="281" module="system" filename="" classname="BlockSystemCustom" side="" title="[玄幻]友链" vars="" template="" contenttype="1" custom="1" publish="3" hasvars="0"?}
{?else if $sortid==3?}{?block bid="282" module="system" filename="" classname="BlockSystemCustom" side="" title="[修真]友链" vars="" template="" contenttype="1" custom="1" publish="3" hasvars="0"?}
{?else if $sortid==4?}{?block bid="283" module="system" filename="" classname="BlockSystemCustom" side="" title="[网游]友链" vars="" template="" contenttype="1" custom="1" publish="3" hasvars="0"?}
{?else if $sortid==5?}{?block bid="284" module="system" filename="" classname="BlockSystemCustom" side="" title="[科幻]友链" vars="" template="" contenttype="1" custom="1" publish="3" hasvars="0"?}
{?else if $sortid==6?}{?block bid="285" module="system" filename="" classname="BlockSystemCustom" side="" title="[武侠]友链" vars="" template="" contenttype="1" custom="1" publish="3" hasvars="0"?}
{?else if $sortid==7?}{?block bid="286" module="system" filename="" classname="BlockSystemCustom" side="" title="[竞技]友链" vars="" template="" contenttype="1" custom="1" publish="3" hasvars="0"?}
{?else if $sortid==9?}{?block bid="287" module="system" filename="" classname="BlockSystemCustom" side="" title="[军事]友链" vars="" template="" contenttype="1" custom="1" publish="3" hasvars="0"?}
{?else if $sortid==8?}{?block bid="288" module="system" filename="" classname="BlockSystemCustom" side="" title="[历史]友链" vars="" template="" contenttype="1" custom="1" publish="3" hasvars="0"?}
{?else if $sortid==10?}{?block bid="289" module="system" filename="" classname="BlockSystemCustom" side="" title="[恐怖]友链" vars="" template="" contenttype="1" custom="1" publish="3" hasvars="0"?}
{?else if $sortid==11?}{?block bid="290" module="system" filename="" classname="BlockSystemCustom" side="" title="[同人]友链" vars="" template="" contenttype="1" custom="1" publish="3" hasvars="0"?}
{?else?}{?block bid="291" module="system" filename="" classname="BlockSystemCustom" side="" title="[言情]友链" vars="" template="" contenttype="1" custom="1" publish="3" hasvars="0"?}
{?/if?}</div>
  </div>
</div><!--wrap end-->
{?include file = "themes/v1/bottom.html" ?}
</body>
</html>