{?include file="templates/autor_head.html"?}
{?set jieqi_blocks_module = "article"?}
{?set jieqi_blocks_config = "authorblocks"?}
<link href="{?$jieqi_themeurl?}style/user.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="{?$jieqi_url?}/scripts/validator-0.7.0/jquery.validator.css" />

<link href="{?$jieqi_themeurl?}style/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{?$jieqi_url?}/scripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/scripts/layer/layer.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/scripts/page.js"></script>

<script type="text/javascript" src="{?$jieqi_themeurl?}js/jquery.jNice.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/scripts/calendar/WdatePicker.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/scripts/validator-0.7.0/jquery.validator.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/scripts/validator-0.7.0/local/zh_CN.js"></script>
<script type="text/javascript">
	function bingVolume(){
		var val = $('#chaptername').val();
		if(val == '' || val == null || val == 'undefined'){
			layer.msg('填写分卷名称',1,{type:3,shade:false});
		}else{
			GPage.postForm('newvolume123', $("#newvolume123").attr("action"),
					function(data){
						if(data.status=='OK'){
							$.ajaxSetup ({ cache: false });
							$(".xubox_close").click();
							layer.msg(data.msg,1,{type:1,shade:false},function(){
								$("#tabox").load(location.href + ' #tabox>*',function(responseTxt,statusTxt,xhr){
									//这个方法在jquery.jNice.js中定义好的，详情参考注释
									bindselect();
								});
							});
						}else{
							layer.alert(data.msg, 8, !1);
							document.getElementById("newvolume123").reset();
						}
					}
			);
		}
	}
	function createVolume(){
		$.layer({
			shade : [0.5 , '#000' , true],
			type : 1,
			area : ['770px','auto'],
			title : false,
			offset : ['80px' , '50%'],
			border : [10 , 0.3 , '#000', true],
			zIndex : 1,
			page : {dom : '#juan'},
			close : function(index){
				layer.close(index);
				$('.ul_con').hide();
			}
		});
	}
</script>

<div id="main">
	{?include file="templates/autor_left.html"?}
	<div class="right fl ov">
		<div class="tabox" id="tabox">
			<form name="chapterdel" id="chapterdel" action="{?function geturl:'article':'chapter':'SYS=method=batchHandle'?}" class="jNice">
				<div class="t2">
					<h2>章节管理</h2>
					<p class="fl">
					<div class="selt4 se4">
						<select name="aid" id="now_place1" size="1" class="selt5 f14" onchange="location.href='{?function geturl:'article':'chapter':SYS=method=cmView&aid=?}'+this.value" style="display:none;">
							{?section name=i loop=$articles?}
							<option value="{?$articles[i].articleid?}" {?if $articles[i].articleid == $article.articleid ?} selected {?/if?}>{?$articles[i].articlename?}</option>
							{?/section?}
						</select>
					</div>
					</p>
					<p class="fr pt20 f_blue5"><a href="{?$article.url_articleinfo?}" target="_blank">信息</a>┊<a href="{?function geturl:'article':'index':SYS=&aid=$article.articleid?}" target="_blank">阅读</a></p>
				</div>
				<div class="opit f_blue5">
					<a href="javascript:void(0)" class="creat" onclick="createVolume()">新建分卷</a><a href="{?function geturl:'article':'chapter':'SYS=method=newChapterView&aid=$article.articleid'?}">增加章节</a><a href="{?function geturl:'article':'article':'SYS=method=editArticleView&aid=$article.articleid'?}">编辑文章</a>{?if $delown==1 || $delall==1?}<a href="javascript:delthis('{?function geturl:'article':'article':'SYS=method=articleDelete&aid=$article.articleid'?}','a')">删除文章</a>{?/if?}<a href="javascript:delthis('{?function geturl:'article':'article':'SYS=method=articleClean&aid=$article.articleid'?}','cl')">清空文章</a><!--  <a href="#">管理书评</a><a href="#">新建投票</a>-->
				</div><!--opit end-->
				{?section name=i loop=$chapterrows?}
				{?if $chapterrows[i].chaptertype == 1?}
				<ul class="juan fix cl">
					<li class="fix">
						<div class="tit">
							<p class="bef">
								<em class="switch"></em> <em class="check"><input type="checkbox" name="checkid[]" id="checkid[]" value="{?$chapterrows[i].chapterid?}" /></em> <em class="num"></em><em class="name">{?$chapterrows[i].chaptername?}</em>{?if $chapterrows[i].display == 0?} <em class="g3">正常</em> {?elseif $chapterrows[i].display == 1 || $chapterrows[i].display == 9?} <em class="red3"{?if $chapterrows[i].comment!=''?} tiptitle=ture title="{?$chapterrows[i].comment?}"{?/if?}>{?if $chapterrows[i].comment !=''?}审核驳回{?else?}等待审核{?/if?}</em>
								{?else?} <em class="green2">定时</em>({?$chapterrows[i].postdate|date:"Y-m-d H:i"?}) {?/if?}
							</p>
							<p class="aft f_blue5">
								<a href="{?function geturl:'article':'chapter':'SYS=method=editChapterView&aid=$article.articleid&cid='?}{?$chapterrows[i].chapterid?}"	class="abtn3">修改卷</a>{?if $delown==1 || $delall==1?}<a class="abtn3" href="javascript:delthis('{?function geturl:'article':'chapter':'SYS=method=delChapter&aid=$article.articleid&ctype=1&cid='?}{?$chapterrows[i].chapterid?}','v');">删除分卷</a>{?/if?}<a href="{?function geturl:'article':'chapter':'SYS=method=newChapterView&aid=$article.articleid&vid='?}{?$chapterrows[i].chapterid?}" class="abtn3">增加章节</a>
							</p>
						</div>
					</li>
				</ul>
				{?else?}
				<div class="zhang fix">
					<p class="bef3"><em class="check"><input type="checkbox" name="checkid[]" id="checkid[]" value="{?$chapterrows[i].chapterid?}"/></em><a href="{?function geturl:'article':'reader':SYS=&aid=$article.articleid&cid=$chapterrows[i].chapterid?}" class="f_gray2 f14 pr5" target="_blank">{?$chapterrows[i].chaptername?}</a>
						{?if $chapterrows[i].isvip == 1?}
						<em class="v"></em>
						{?/if?}
					</p>
					<p class="aft3 f_blue5">
						<a href="{?function geturl:'article':'chapter':'SYS=method=editChapterView&aid=$article.articleid&cid='?}{?$chapterrows[i].chapterid?}">修改</a>{?if $delown==1 || $delall==1?}
						<a href="javascript:delthis('{?function geturl:'article':'chapter':'SYS=method=delChapter&aid=$article.articleid&ctype=0&cid='?}{?$chapterrows[i].chapterid?}','c');">删除</a>{?/if?}
						{?if $chapterrows[i].display == 0?}<em class="g3">正常</em>({?$chapterrows[i].postdate|date:"Y-m-d H:i"?})
						{?elseif $chapterrows[i].display == 1 || $chapterrows[i].display == 9?} <em class="red3"{?if $chapterrows[i].comment!=''?} tiptitle=ture title="{?$chapterrows[i].comment?}"{?/if?}>{?if $chapterrows[i].comment !=''?}审核驳回{?else?}等待审核{?/if?}</em>
						{?else?} <em class="green2">定时</em>({?$chapterrows[i].postdate|date:"Y-m-d H:i"?}) {?/if?}&nbsp;&nbsp;<span class="org">{?$chapterrows[i].size_c?} </span>字
					</p>
				</div>
				{?/if?}
				{?/section?}
				{?if $delown==1 || $delall==1 || $mangall == 1?}
				<div class="opit2 fix cl">
					<div class="box">

						<input id="checkall" name="checkall" value="checkall" type="checkbox" onclick="javascript: for(var i=0;i<this.form.elements.length;i++){ if(this.form.elements[i].name != 'checkkall'&&this.form.elements[i].name != 'op') this.form.elements[i].checked = form.checkall.checked; }" /><label>全选</label>
						{?if $mangall == 1?}
						<label><input name="op" type="radio" value="1" />显示</label>
						<label><input name="op" type="radio" value="2" />隐藏</label>
						{?/if?}
						{?if $delown==1 || $delall==1?}
						<label><input name="op" type="radio" value="3" />删除</label>
						{?/if?}
						<label><input name="op" type="radio" value="4" />收费</label>
						<label><input name="op" type="radio" value="5" />免费</label>
						<input type="hidden" name="formhash" id="formhash" value="{?eval echo form_hash();?}" />
						<input type="button" value="提交" class="btn" onclick = "check_confirm();" />
					</div>
				</div>
				{?/if?}
			</form>
			{?if $chapterrows|count > 2?}
			<form name="chaptersort" id="chaptersort" action="{?function geturl:'article':'chapter':'SYS=method=sortChapter'?}" method="post" class="jNice">
				<div class="box_note2 cl bg5">
					<div class="tit pt20">章节排序</div>
					<dl class="box_form fix pb10" id="sort">
						<dd class="fix">
							<em class="tt2">选择章节或分卷：</em>
							<div class="int">
								<div class="selt4">
									<select size="1" class="sel2 mt4 f14"  name="fromid" id="fromid" style="display:none;">
										{?section name=i loop=$chapterrows?}
										{?if $chapterrows[i].chaptertype == 0?}
										<option value="{?$chapterrows[i].chapterorder?}">|-{?$chapterrows[i].chaptername?}</option>
										{?else?}
										<option value="{?$chapterrows[i].chapterorder?}">{?$chapterrows[i].chaptername?}</option>
										{?/if?}
										{?/section?}
									</select>
								</div>
								<span class="hint">新增卷位置将在此卷之下,序号在此卷序号的基础上加1</span>
							</div>
						</dd>
						<dd class="fix">
							<em class="tt2">移动到：</em>
							<div class="int">
								<div class="selt4">
									<select size="1" class="sel2 mt4 f14" name="toid" id="toid" style="display:none" >
										<option value="0">--最前面--</option>
										{?section name=i loop=$chapterrows?}
										{?if $chapterrows[i].chaptertype == 0?}
										<option value="{?$chapterrows[i].chapterorder?}">|-{?$chapterrows[i].chaptername?}</option>
										{?else?}
										<option value="{?$chapterrows[i].chapterorder?}">{?$chapterrows[i].chaptername?}</option>
										{?/if?}
										{?/section?}
									</select>
								</div>
								<span class="red3 pl10">之后</span>
								<p class="cl pt10">
									<input type="hidden" name="aid" id="aid" value="{?$article['articleid']?}" />
									<button class="btn" type="submit">确定</button>
								</p>
							</div>
						</dd>
					</dl>
				</div>
			</form>
			{?/if?}
			<script type="text/javascript">
				function check_confirm(){
					var ids = $('input[name="checkid[]"]:checked').val();
					var op = $('input[name="op"]:checked').val();
					if(ids == '' || ids == null || ids == 'undefined'){
						layer.msg('请先选择要操作的书目!',1,{type:3,shade:false});
					}else if(op == '' || op == null || op == 'undefined'){
						layer.msg('请选择操作!',1,{type:3,shade:false});
					}else{
						var msg = $('input[name="op"]:checked').parent().text();
						//删除
						$.layer({
							shade : [0], //不显示遮罩
							area : ['auto','auto'],
							title:'确定操作',
							dialog : {
								msg:'确实要'+msg+'选中记录么？',
								btns : 2,
								type : 4,
								btn : ['确定','取消'],
								yes : function(){
									GPage.postForm('chapterdel', $('#chapterdel').attr('action'),
											function(data){
												if(data.status=='OK'){
													$.ajaxSetup ({ cache: false });
													layer.msg(data.msg,1,{type:1,shade:false},function(){
														$("#tabox").load(location.href + ' #tabox>*',function(responseTxt,statusTxt,xhr){
															//这个方法是jquery.jNice.js中定义好的，详情参考注释
															bindselect();
														});
													});
												}else{
													layer.alert(data.msg, 8, !1);
												}
											});
								},
								no : function(){
									$(".xubox_close").click();
									checkform.reset();
								}
							}
						});
					}
				}

				function delthis(url,op){
					var msg = '';
					if(op == 'c'){
						//删除章节
						msg='确实要删除选中章节吗？';
					}else if(op == 'v'){
						//删除卷
						msg='确实要删除选中卷吗？';
					}else if(op == 'a'){
						//删除文章
						msg='确实要删除文章吗？删除后不能复原，请谨慎操作。';
					}else if(op == 'cl'){
						//清空文章
						msg='确实要清空文章吗？清空后不能复原，请谨慎操作。';
					}
					$.layer({
						shade : [0], //不显示遮罩
						area : ['auto','auto'],
						dialog : {
							msg:msg,
							btns : 2,
							type : 4,
							btn : ['确定','取消'],
							yes : function(){
								GPage.getJson(url,
										function(data){
											if(data.status=='OK'){
												$.ajaxSetup ({ cache: false });
												layer.msg(data.msg,1,{type:1,shade:false},function(){
													if(op == 'a'){
														//重定向
														location.href='{?function geturl:'article':'article':'SYS=method=masterPage'?}';
													}else{
														//局部刷新
														$("#tabox").load(location.href + ' #tabox>*',function(responseTxt,statusTxt,xhr){
															//这个方法是jquery.jNice.js中定义好的，详情参考注释
															bindselect();
														});
													}
												});
											}else{
												layer.alert(data.msg, 8, !1);
											}
										});
							},
							no : function(){
								$(".xubox_close").click();
							}
						}
					});
				}
				layer.ready(function(){
					$("[tiptitle]").each(function(event){
						layer.tips(this.title,this, {
							maxWidth:185,
							guide:0,
							closeBtn:[0, true]
						});
					});
				});
			</script>


			<!-- create volume begin -->
			<div class="box_note2 cl bg5" id="juan" style="display:none; position:fix;">
				<form name="newvolume123" id="newvolume123"  class="jNice" action="{?function geturl:'article':'chapter':'SYS=method=saveVolume'?}" autocomplete="off" data-validator-option="{theme:'simple_right'}">
					<div class="tit pt20">创建新分卷</div>
					<dl class="box_form fix pb10" id="volume_area">
						{?if $hasvolume == 1?}
						<dd class="fix">
							<em class="tt2">选择新增卷位置：</em>
							<div class="int">
								<div class="selt4" id="selt4">
									<select id="now_place1" name="previous_volume" class="selt5 f14" style="display:none;">
										{?section name=i loop=$volumes?}
										<option value="{?$volumes[i].volumeid?}">{?$volumes[i].volumename?}</option>
										{?/section?}
									</select>
								</div><!--selt4 end-->
								<span class="hint">新增卷位置将在此卷之下,序号在此卷序号的基础上加1</span>
							</div>
						</dd>
						{?/if?}
						<dd class="fix" id="fix">
							<em class="tt2">新增的分卷名称：</em>
							<div class="int">
								<input name="chaptername" id="chaptername" type="text" class="input1 fl"  />
							</div>
						</dd>
						<dd class="fix" id="fix">
							<em class="tt2">说明：</em>
							<div class="int">
								<textarea name="manual" cols="5" rows="20" class="inp3"></textarea>
								<span class="hint">此处填写的是卷的简介内容，之后会显示在卷的说明页面中。请不要超过140字。</span>
							</div>
						</dd>

						<dd class="fix">
							<em class="tt2">定时发布：</em>
							<div class="int">
								<input name="postdate" id="postdate" autocomplete="off" type="text" class="input3 fl" readonly="readonly" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:00',minDate:'%y-%M-%d #{%H+2}:%m:%s',maxDate:'%y-%M-{%d+15}'})"/>
								<span class="hint cl">定时发布，只能选择最近15天以内的时间进行发布。</span>
							</div>
							<!--<div class="int2">
                            <p class="cl">
                                <p class="pb20 cl"><input type="button" value="保存" class="btn" onclick="bingVolume();"/></p>
                            </p>
                             <input type="hidden" name="formhash" value="{?eval echo form_hash();?}" />
                             <input type="hidden" name="aid" id="aid" value="{?$article['articleid']?}" />
                        </div>-->
						</dd>
						<dd class="fix">
							<em class="tt2">验证码：</em>
							<div class="int">
								<input type="text" name="checkcode" class="input1 fl" style="width:160px;" maxlength="4" autocomplete=”off”/><img src="{?$jieqi_local_url?}/checkcode.php" height="28" class="pic" id="checkcode2" /><a class="f_org2 pl10" href="javascript:;" onclick="$('#checkcode2').attr('src','{?$jieqi_local_url?}/checkcode.php?rand='+Math.random());">换一张</a>
								<p class="pb20 cl"><input type="button" value="保存" class="btn" onclick = "bingVolume();" /></p>
								<input type="hidden" name="formhash" value="{?eval echo form_hash();?}" />
								<input type="hidden" name="aid" id="aid" value="{?$article['articleid']?}" />
							</div>
						</dd>
					</dl>
				</form>
			</div>
			<!-- create volume end -->

		</div>
</div>
</div>
<!--header end-->
{?include file="templates/autor_footer.html"?}