<link href="{?$jieqi_themeurl?}style/user.css" type="text/css" rel="stylesheet" />
<!--wrap2 begin-->
<div class="wrap2">
  {?include file = "modules/article/templates/bookFunction.html" ?}
  <!--article2 begin-->
  <div class="article2 fr zsy bg5">
   <!--tabox begin-->
    <div class="tabox">
      <div class="t2">
       <h2>封面管理 </h2>       
      </div>
      <!--cover begin-->
      <div class="cover">
        <div class="img"><img src="images/cover.jpg"/></div>
        <ul>
         <li class="tips tc">现有封面（如果作者未曾上传封面，<em class="org">则默认为网站制作的封面</em>）</li>
         <li>上传作品封面：<input name="" type="file" class="fil" />图片格式：.jpg </li>
         <li class="tc"><button class="btn">确定</button></li>
         <li>
          <dl>
           <dt class="b org">说明：</dt>
           <dd>①只能上传规格为XXXXXXXXXX的图片（附注：图片上传无论如何必须限制为XXk内，高于XXK不让传）</dd>
           <dd>② 禁止上传任何有黄色、暴力、血腥、恐怖、广告宣传或者不适合公众欣赏的封面，一经发现即做禁书处理</dd>
          </dl>
         </li>
        </ul>
      </div><!--cover end-->
    </div><!--tabox end-->
  </div><!--article2 end-->
</div><!--wrap2 end-->
