<link href="{?$jieqi_themeurl?}style/user.css" type="text/css" rel="stylesheet" />
<!--wrap2 begin-->
<div class="wrap2">
  {?include file = "modules/article/templates/bookFunction.html" ?}
  <!--article2 begin-->
  <div class="article3 fr">
   <!--tabox begin-->
    <div class="tabox">
	  {?include file = "modules/article/templates/incometab.html" ?}
	  <ul id="tab_conbox" class="f0">
	  {?if $articlecount > 0?}
	  <li class="fix" style="display:none;">
	  <form id="ajaxformseach" action="{?function geturl:'article':'article':'SYS=method=exceptional'?}" method="post">
	  <div class="finag">选择作品:
	  <select name="cars">
	  {?section name=i loop=$articlerows?}
	  <option value="{?$articlerows[i].articleid?}">{?$articlerows[i].articlename?}</option> 
	  {?/section?}
	  </select>
	  <span class="fr">选择日期<select name="years">
	  	<option value="2015" selected="selected">2015年</option>
	  	<option value="2014">2014年</option>
	  </select><select name="months" class="mr20"><option value="0" {?if $months == 0 ?} selected {?/if?}>全年</option><option value="12" {?if $months == 12 ?} selected {?/if?}>12月</option><option value="11" {?if $months == 11 ?} selected {?/if?}>11月</option><option value="10" {?if $months == 10 ?} selected {?/if?}>10月</option><option value="9" {?if $months == 9 ?} selected {?/if?}>9月</option><option value="8" {?if $months == 8 ?} selected {?/if?}>8月</option><option value="7" {?if $months == 7 ?} selected {?/if?}>7月</option><option value="6" {?if $months == 6 ?} selected {?/if?}>6月</option><option value="5" {?if $months == 5 ?} selected {?/if?}>5月</option><option value="4" {?if $months == 4 ?} selected {?/if?}>4月</option><option value="3" {?if $months == 3 ?} selected {?/if?}>3月</option><option value="2" {?if $months == 2 ?} selected {?/if?}>2月</option><option value="1" {?if $months == 1 ?} selected {?/if?}>1月</option></select><button type="submit" class="ml20 mr10 pl10 pr10">查询</button>
	  </span>
	  </div>
	  </form>
         <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="tabl2">
          <tr class="bgt">
           <td>日期 </td>
           <td>作品</td>
           <td>打赏时间</td>
           <td>打赏人</td>
           <td>打赏金额 </td>
          </tr>
           {?section name=i loop=$queryrows?} 
	          <tr>
	           <td>{?$years?}年{?if $months >0?}{?$months?}月{?else?}{?/if?}</td>
	           <td class="g6"><a class="f_blue5" href="{?function geturl:'article':'articleinfo':'SYS=aid=$queryrows[i].articleid'?}" target="_blank">{?$queryrows[i].articlename?}</a></td>
	           <td>{?$queryrows[i].addtime|date:"Y-m-d h:i:s"?}</td>
	           <td><a href="{?function geturl:'system':'userhub':'method=userinfo':'uid=$queryrows[i].uid'?}" target="_blank" ajaxhover="true" uid="{?$queryrows[i].uid?}" class="f_blue5">{?$queryrows[i].username?}</a></td>
	           	<td>{?$queryrows[i].stat?}书海币</td>
	          </tr>
          {?/section?}
			{?if $querycount == 0?}
				<tr><td>没有数据</td></tr>
			{?/if?}
         </table>
		 {?if $querycount > 0?}
		 <span class="fr f12 mr20 mt10" ><span style="color:#2286d1; font-size:16px; font-weight:bold;">总计</span>:{?$stat?}书海币</span>
		 {?/if?}
		 <div class="page3">{?$url_jumppage?}</div>
<!--		 <dl class="lisd_note">
		 <dl class="list_t4">银行开户名:王文金</dl>
		 <dl class="list_t4">开户行信息:中国工商银行贵州省兴义市场坝支行</dl>
		 <dl class="list_t4">银行账号:6222022409003587673</dl>
		 <dl class="list_t4">备注:显示"已经支付"状态的,就是钱已经汇出来了;显示"信息不全"状态的,就是作者的汇款资料不齐无法支付;显示"累计支付"状态的,就是当月稿酬没超过200元,将累计至下月一起支付</dl>
		 <dl class="list_t4">备注2:目前无法查询当月的稿酬数据,次月方可查询</dl>
		 </dl>-->
        </li>
		{?else?}
		<div class="tips f14 p10 g3 mt10 mb10 tc">您还没有作品,快去<a class="f_blue5" href="{?function geturl:'article':'article':'SYS=method=step1View'?}">创建新作品</a>吧</div>
		{?/if?}
	  </ul>
	</div>
	
  </div>
</div>
