    {?if $jieqi_userid == 0?}<div class="v_note">亲，您已经阅读到VIP章节啦,想看更多精彩章节，马上登录吧</div>
    <!--logn begin-->
    <div class="logn fix">
     <!--logn_l begin-->
     <div class="logn_l fix">      
     <h3>用户登录</h3>    
	 <div id="result_14" class="tip-ok" style="display:none"></div>
<form id="signup_form" class="signup" action="{?function geturl:'system':'login'?}" autocomplete="off" data-validator-option="{theme:'simple_right'}">
<fieldset>
    <div class="form-item">
        <div class="field-name">用户名：</div>
        <div class="field-input">
          <input type="text" maxlength="20" name="username" data-rule="用户名: required;username" />
        </div>
    </div>
    <div class="form-item">
        <div class="field-name">密码：</div>
        <div class="field-input">
          <input type="password" name="password" autocomplete="off" data-rule="密码:required;length[3~]" />
        </div>
    </div>
    <div class="form-item">
        <div class="field-name">验证码：</div>
        <div class="field-input">
           <input type="text" name="checkcode" autocomplete="off" class="yzm">
         <img src="/checkcode.php" width="90" height="35" class="pic" id="checkcode" /><a class="f_org2 pl10" id="recode" onclick="$('#checkcode').attr('src','/checkcode.php?rand='+Math.random());">换一张</a>
          <p><input name="usecookie" type="checkbox" value="1" checked="checked" class="check" />记住我(1个月免登录)</p>
        </div>
    </div>
</fieldset>
    <input type="hidden" name="jumpurl" value="{?$jumpurl|urlencode?}">
    <input type="hidden" name="formhash" value="{?eval echo form_hash();?}">
<button id="btn-submit" class="btn-submit2" type="submit">登录</button>
</form>
     </div><!--logn_l end-->
    <div class="logn_r">
     <h3>用户注册</h3>
     还没有书海小说网账号？
     <a href="{?function geturl:'system':'register'?}" title="立即注册" class="reg"></a>
     你也可以用站外账号登录:
     <p class="o_login pt10"><!--<a href="javascript:;" title="新浪微博" onclick="alert('即将推送，敬请期待！');" class="sina"></a>--><a href="javascript:;" onclick="otherlogin('{?$jieqi_local_url?}/qqlogin/?jumpurl={?eval echo urlencode(JIEQI_REFER_URL);?}');" title="腾讯QQ" class="qq">{?$jumpurl?}</a></p>
    </div>
    </div><!--logn end-->
<link rel="stylesheet" href="{?$jieqi_url?}/scripts/validator-0.7.0/jquery.validator.css" />
<script type="text/javascript">
    layer.ready(function(){
		$('#signup_form').bind('valid.form', function(){
			  GPage.postForm('signup_form', this.action,function(data){
					if(data.status=='OK'){
						GPage.loadpage('content', vurl);
						loadheader("vip");
					}else{
						document.getElementById("signup_form").reset();
						$('#recode').click();
						$('#result_14').html(data.msg).fadeIn(300).delay(2000).fadeOut(1000);
					}
			  });
		});
	}); 
</script>
{?elseif $chapter['content']!='' ?}
{?eval echo preg_replace("/<p>\r\n<p>/",'<p>',str_replace('&nbsp;&nbsp;&nbsp;&nbsp;','<p>',preg_replace("/<br \/>\r\n<br \/>/","</p>\r\n<p>",$chapter['content'])));?}
{?else?}
<!--buy begin-->
    <div class="buy fix">
      <div class="t">此章节为VIP内容,共{?eval echo ceil($chapter['size']/2);?}字,您是{?$vipgrade['caption']?}用户,{?if $vipgrade['setting']['dingyuezhekou']>0?}享受{?eval echo $vipgrade['setting']['dingyuezhekou']*10;?}折章节订阅优惠{?else?}不能享受章节订阅折扣{?/if?}</div>
      <div class="account">
       您的账户余额：<em>{?$_USER['egolds']?}</em>{?eval echo JIEQI_EGOLD_NAME;?}<a href="{?function geturl:'pay':'home'?}" target="_blank" class="pay">充值</a>
      </div>
      <div class="box yline">
<!--       <p>{?$chapter['chaptername']?}</p>
       <p>{?eval echo ceil($chapter['size']/2);?}字/{?$chapter['saleprice']?}{?eval echo JIEQI_EGOLD_NAME;?}</p>-->{?eval $articleid = $chapter['articleid'];$cid=$chapter['chapterid'];?}
	   <p>本章原价：{?$chapter['saleprice']?}{?eval echo JIEQI_EGOLD_NAME;?}</p>
	   <p>折后价格：{?if $vipgrade['setting']['dingyuezhekou']>0?}{?eval echo $chapter['saleprice']*$vipgrade['setting']['dingyuezhekou'];?}{?eval echo JIEQI_EGOLD_NAME;?}{?else?}无折扣{?/if?}</p>
       <a href="{?function geturl:'article':'reader':'method=readvip':'aid=$articleid':'cid=$cid':'SYS=method=buychapter'?}" buychapter="true" class="btn" id="buychapter">购买本章</a>
      </div>
      <div class="box yline">
       <p>还有{?$vip['num']?}章可以购买</p>
       <p>原价约{?$vip['saleprice']?}{?eval echo JIEQI_EGOLD_NAME;?}{?if $vipgrade['setting']['dingyuezhekou']>0?},折后价约{?eval echo $vip['saleprice']*$vipgrade['setting']['dingyuezhekou'];?}{?eval echo JIEQI_EGOLD_NAME;?}{?/if?}</p>
       <a href="{?function geturl:'article':'reader':'method=readvip':'aid=$articleid':'cid=$cid':'SYS=method=batchbuychapter'?}" buychapter="true" class="btn">批量购买</a>
      </div>
      <div class="box">
       <p>自动订阅VIP章节</p>
	   <p>章节直接购买不提示</p>{? if $autobuy > 0?}
       <a href="{?function geturl:'article':'reader':'method=readvip':'aid=$articleid':'cid=$cid':'SYS=method=closebuy'?}" buychapter="true" class="btn">关闭自动阅读</a>
	   {?else?}<a href="{?function geturl:'article':'reader':'method=readvip':'aid=$articleid':'cid=$cid':'SYS=method=autobuy'?}" buychapter="true" class="btn">开启自动阅读</a>{?/if?}
      </div>
	 
    </div><!--buy end-->
<script type="text/javascript">
    layer.ready(function(){
		$("[buychapter]").on('click',function(event){
		     event.preventDefault();
			 GPage.buychapter(this.href);
		});
		{? if $autobuy > 0?} GPage.buychapter($("#buychapter").attr('href')) ;{?/if?}
	}); 
</script>
{?/if?}