<link href="{?$jieqi_themeurl?}style/sort.css" type="text/css" rel="stylesheet" />
<!--wrap begin-->
<div class="wrap fix">
   <!--term begin-->
   <div class="term fix mb10">
     <div class="box_term fix">
       <span class="t">作品类别：</span>
<!--       <div class="sort">
-->        <p class="tag f_gray3"><a href="{?function geturl:'article':'sort'?}">全部</a><a href="{?function geturl:'article':'sort':'SYS=sortid=2'?}">都市</a><a href="{?function geturl:'article':'sort':'SYS=sortid=1'?}">玄幻</a><a href="{?function geturl:'article':'sort':'SYS=sortid=3'?}">修真</a><a href="{?function geturl:'article':'sort':'SYS=sortid=4'?}">网游</a><a href="{?function geturl:'article':'sort':'SYS=sortid=6'?}">武侠</a><a href="{?function geturl:'article':'sort':'SYS=sortid=5'?}">科幻</a><a href="{?function geturl:'article':'sort':'SYS=sortid=9'?}">军事</a><a href="{?function geturl:'article':'sort':'SYS=sortid=8'?}">历史</a><a href="{?function geturl:'article':'sort':'SYS=sortid=7'?}">竞技</a><a href="{?function geturl:'article':'sort':'SYS=sortid=10'?}">恐怖</a><a href="{?function geturl:'article':'sort':'SYS=sortid=11'?}">同人</a><a href="{?function geturl:'article':'sort':'SYS=sortid=12'?}">言情</a></p>
<!--        <div class="show"><em>全部</em><em>东方玄幻</em><em>异界大陆</em><em>异术超能</em><em>异世争霸</em></div >
       </div>
-->     </div>
     
<!--     <div class="box_term fix">
       <span class="t">作品类别：</span>
       <p class="tag f_gray3"><a href="#">全部</a><a href="#">30万以下</a><a href="#">30万-50万</a><a href="#">50万-100万</a><a href="#">100万-200万</a><a href="#">200万以上</a></p>
     </div>
-->     
<!--     <div class="box_term fix">
       <span class="t">写作进度：</span>
       <p class="tag f_gray3"><a href="{?function geturl:'article':'sort'?}">全部</a><a href="{?function geturl:'article':'sort':'SYS=fullflag=0'?}">连载中</a><a href="{?function geturl:'article':'sort':'SYS=fullflag=1'?}">已完本</a></p>
     </div>
-->     
<!--     <div class="box_term fix">
       <span class="t">排序方式：</span>
       <p class="tag f_gray3"><a href="#">默认</a><a href="{?function geturl:'article':'sort':'SYS=orderby=size'?}">总字数</a><a href="#">周点击</a><a href="#">月点击</a><a href="#">总点击</a><a href="#">周收藏</a><a href="#">月收藏</a><a href="#">总收藏</a></p>
     </div>
-->     
<!--     <div class="box_term fix">
       <span class="t">作品状态：</span>
       <p class="tag f_gray3"><a href="#">不限</a><a href="#">只看免费</a><a href="#">只看VIP</a></p>
     </div>
-->   </div><!--term end-->
  <!--article2 begin-->
  <div class="article2 fl fix">
   <!--tabox begin-->
   <div class="tabox">
     <div class="t">
      <h2>精品榜</h2>
<!--      <div class="show">
       <select name="" size="1">
        <option>每页显示30条</option>
        <option>每页显示20条</option>
       </select>
       <a href="{?function geturl:'article':'sort':'SYS=method=sortlist'?}" class="on_list on_img" title="切换显示"></a>
      </div>
-->     </div>
     <!--show_li begin-->
     <div class="show_li fix p5" style="display:none;">
          <div class="tt">
           <span class="sort">类别</span><span class="name">书名/章节</span><span class="author">作者</span><span class="date">更新时间</span>
          </div>
          <dl class="list_td2">
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[仙侠]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">重生之少年大亨</a><a href="#" target="_blank" class="f_gray3 pl5">第九十三章</a></p>
            <span class="author2">静曲天上白云静曲天上白云静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[武侠]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">极品小职员</a><a href="#" target="_blank" class="f_gray3 pl5">第一百零一回</a></p>
            <span class="author2">静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[大陆]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">我的智能老婆</a><a href="#" target="_blank" class="f_gray3 pl5">第十七章</a></p>
            <span class="author2">静曲天上</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[情仇]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">圣武妖皇</a><a href="#" target="_blank" class="f_gray3 pl5">第六十章</a></p>
            <span class="author2">静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[修真]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">异能少年王</a><a href="#" target="_blank" class="f_gray3 pl5">第二十七章</a></p>
            <span class="author2">天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[仙侠]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">重生之少年大亨</a><a href="#" target="_blank" class="f_gray3 pl5">第九十三章</a></p>
            <span class="author2">静曲天上白云静曲天上白云静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[武侠]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">极品小职员</a><a href="#" target="_blank" class="f_gray3 pl5">第一百零一回</a></p>
            <span class="author2">静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[大陆]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">我的智能老婆</a><a href="#" target="_blank" class="f_gray3 pl5">第十七章</a></p>
            <span class="author2">静曲天上</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[情仇]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">圣武妖皇</a><a href="#" target="_blank" class="f_gray3 pl5">第六十章</a></p>
            <span class="author2">静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[修真]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">异能少年王</a><a href="#" target="_blank" class="f_gray3 pl5">第二十七章</a></p>
            <span class="author2">天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[仙侠]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">重生之少年大亨</a><a href="#" target="_blank" class="f_gray3 pl5">第九十三章</a></p>
            <span class="author2">静曲天上白云静曲天上白云静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[武侠]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">极品小职员</a><a href="#" target="_blank" class="f_gray3 pl5">第一百零一回</a></p>
            <span class="author2">静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[大陆]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">我的智能老婆</a><a href="#" target="_blank" class="f_gray3 pl5">第十七章</a></p>
            <span class="author2">静曲天上</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[情仇]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">圣武妖皇</a><a href="#" target="_blank" class="f_gray3 pl5">第六十章</a></p>
            <span class="author2">静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[修真]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">异能少年王</a><a href="#" target="_blank" class="f_gray3 pl5">第二十七章</a></p>
            <span class="author2">天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[仙侠]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">重生之少年大亨</a><a href="#" target="_blank" class="f_gray3 pl5">第九十三章</a></p>
            <span class="author2">静曲天上白云静曲天上白云静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[武侠]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">极品小职员</a><a href="#" target="_blank" class="f_gray3 pl5">第一百零一回</a></p>
            <span class="author2">静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[大陆]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">我的智能老婆</a><a href="#" target="_blank" class="f_gray3 pl5">第十七章</a></p>
            <span class="author2">静曲天上</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[情仇]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">圣武妖皇</a><a href="#" target="_blank" class="f_gray3 pl5">第六十章</a></p>
            <span class="author2">静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[修真]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">异能少年王</a><a href="#" target="_blank" class="f_gray3 pl5">第二十七章</a></p>
            <span class="author2">天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[仙侠]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">重生之少年大亨</a><a href="#" target="_blank" class="f_gray3 pl5">第九十三章</a></p>
            <span class="author2">静曲天上白云静曲天上白云静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[武侠]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">极品小职员</a><a href="#" target="_blank" class="f_gray3 pl5">第一百零一回</a></p>
            <span class="author2">静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[大陆]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">我的智能老婆</a><a href="#" target="_blank" class="f_gray3 pl5">第十七章</a></p>
            <span class="author2">静曲天上</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[情仇]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">圣武妖皇</a><a href="#" target="_blank" class="f_gray3 pl5">第六十章</a></p>
            <span class="author2">静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[修真]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">异能少年王</a><a href="#" target="_blank" class="f_gray3 pl5">第二十七章</a></p>
            <span class="author2">天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[仙侠]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">重生之少年大亨</a><a href="#" target="_blank" class="f_gray3 pl5">第九十三章</a></p>
            <span class="author2">静曲天上白云静曲天上白云静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[武侠]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">极品小职员</a><a href="#" target="_blank" class="f_gray3 pl5">第一百零一回</a></p>
            <span class="author2">静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[大陆]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">我的智能老婆</a><a href="#" target="_blank" class="f_gray3 pl5">第十七章</a></p>
            <span class="author2">静曲天上</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[情仇]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">圣武妖皇</a><a href="#" target="_blank" class="f_gray3 pl5">第六十章</a></p>
            <span class="author2">静曲天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
           <dd>
            <span class="sort"><a href="#" target="_blank" class="f_gray5">[修真]</a></span>
            <p class="name"><a href="#" target="_blank" class="f_blue f14">异能少年王</a><a href="#" target="_blank" class="f_gray3 pl5">第二十七章</a></p>
            <span class="author2">天上白云</span>
            <span class="date2">05-09 12:38</span>
           </dd>
          </dl>
          <div class="page"><a href="#" class="end">首页</a><a href="#" class="end">上一页</a><em class="on">1</em><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">下一页</a><a href="#">尾页</a></div>         
     </div><!--show_li end-->
     
     
     <!--show_img begin-->
     <div class="show_img fix p5">
      <dl class="list_td6">
	  {?section name=i loop=$articlerows?}
       <dd class="fix">
        <a href="{?$articlerows[i].url_articleinfo?}" target="_blank" title="书名" class="img"><img src="{?$articlerows[i].url_image?}"/></a>
        <div class="name"><h6><a href="{?$articlerows[i].url_articleinfo?}" target="_blank" class="f_blue4">{?$articlerows[i].articlename?}</a></h6>
          <div class="opt"><a href="{?$articlerows[i].url_articleindex?}" class="read">立即阅读</a><a href="#" class="collect">收藏本书</a></div>
        </div>
        <div class="info">
         <p class="it"><em>作者：</em>{?$articlerows[i].author?}</p>
         <p class="it"><em>分类：</em><a href="{?$articlerows[i].url_class?}" class="f_gray2">{?$articlerows[i].sort?}</a></p>
         <p class="it"><em>状态：</em>{?$articlerows[i].fullflag_tag?}</p>
         <p class="it"><em>点击：</em>30317 </p>
         <p class="it"><em>更新：</em>{?$articlerows[i].lastupdate|date:'Y-m-d'?}</p>
         <p class="it"><em>字数：</em>{?$articlerows[i].size_c?}</p>
        </div>
        <div class="txt"><em>简介：</em><p>{?$articlerows[i].intro?}</p></div>
       </dd>
	   {?/section?}
      </dl>
	  <div class="page">{?$url_jumppage?}</div>
<!--          <div class="page"><a href="#" class="end">首页</a><a href="#" class="end">上一页</a><em class="on">1</em><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">下一页</a><a href="#">尾页</a></div>         
-->     </div><!--show_img end-->
   </div><!--tabox end-->
  </div><!--article2 end-->
  <!--sidebar begin-->
  <div class="sidebar fr">
    <!--box_side begin-->
    <div class="box_side mt5">
      <div class="t1"><h2>新书榜</h2></div>
          <div class="box_dwn2">
            <dl class="list_t3d f_blue">
              <dd><span class="num1">1</span><p><span class="name"><a href="#" target="_blank" title="霸上天降小萌妃">霸上天降小萌妃</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num1">2</span><p><span class="name"><a href="#" target="_blank" title="九婴邪仙">九婴邪仙</a></span><span class="click">4011</span></dd>
              <dd><span class="num1">3</span><p><span class="name"><a href="#" target="_blank" title="采花到乡村">采花到乡村</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">4</span><p><span class="name"><a href="#" target="_blank" title="大罗金仙都市销魂记">大罗金仙都市销魂记大罗金仙都市销魂记大罗金仙都市销魂记大罗金仙都市销魂记</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">5</span><p><span class="name"><a href="#" target="_blank" title="女神养成计划">女神养成计划</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">6</span><p><span class="name"><a href="#" target="_blank" title="超牛都市兵神">超牛都市兵神</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">7</span><p><span class="name"><a href="#" target="_blank" title="女人，快到碗里来！">女人，快到碗里来！</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">8</span><p><span class="name"><a href="#" target="_blank" title="冷情CEO的">冷情CEO的</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">9</span><p><span class="name"><a href="#" target="_blank" title="大罗金仙都市销魂记">大罗金仙都市销魂记</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">10</span><p><span class="name"><a href="#" target="_blank" title="玩转娱乐">玩转娱乐</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">11</span><p><span class="name"><a href="#" target="_blank" title="女人，快到碗里来！">女人，快到碗里来！</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">12</span><p><span class="name"><a href="#" target="_blank" title="冷情CEO的">冷情CEO的</a></span><span class="click">4011</span></p></dd>
            </dl>
          </div>
    </div><!--box_side end-->
    <!--box_side begin-->
    <div class="box_side mt10">
      <div class="t1"><h2>新书榜</h2></div>
          <div class="box_dwn2">
            <dl class="list_t3d f_blue">
              <dd><span class="num1">1</span><p><span class="name"><a href="#" target="_blank" title="霸上天降小萌妃">霸上天降小萌妃</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num1">2</span><p><span class="name"><a href="#" target="_blank" title="九婴邪仙">九婴邪仙</a></span><span class="click">4011</span></dd>
              <dd><span class="num1">3</span><p><span class="name"><a href="#" target="_blank" title="采花到乡村">采花到乡村</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">4</span><p><span class="name"><a href="#" target="_blank" title="大罗金仙都市销魂记">大罗金仙都市销魂记大罗金仙都市销魂记大罗金仙都市销魂记大罗金仙都市销魂记</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">5</span><p><span class="name"><a href="#" target="_blank" title="女神养成计划">女神养成计划</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">6</span><p><span class="name"><a href="#" target="_blank" title="超牛都市兵神">超牛都市兵神</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">7</span><p><span class="name"><a href="#" target="_blank" title="女人，快到碗里来！">女人，快到碗里来！</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">8</span><p><span class="name"><a href="#" target="_blank" title="冷情CEO的">冷情CEO的</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">9</span><p><span class="name"><a href="#" target="_blank" title="大罗金仙都市销魂记">大罗金仙都市销魂记</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">10</span><p><span class="name"><a href="#" target="_blank" title="玩转娱乐">玩转娱乐</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">11</span><p><span class="name"><a href="#" target="_blank" title="女人，快到碗里来！">女人，快到碗里来！</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">12</span><p><span class="name"><a href="#" target="_blank" title="冷情CEO的">冷情CEO的</a></span><span class="click">4011</span></p></dd>
            </dl>
          </div>
    </div><!--box_side end-->
    <!--box_side begin-->
    <div class="box_side mt10">
      <div class="t1"><h2>新书榜</h2></div>
          <div class="box_dwn2">
            <dl class="list_t3d f_blue">
              <dd><span class="num1">1</span><p><span class="name"><a href="#" target="_blank" title="霸上天降小萌妃">霸上天降小萌妃</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num1">2</span><p><span class="name"><a href="#" target="_blank" title="九婴邪仙">九婴邪仙</a></span><span class="click">4011</span></dd>
              <dd><span class="num1">3</span><p><span class="name"><a href="#" target="_blank" title="采花到乡村">采花到乡村</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">4</span><p><span class="name"><a href="#" target="_blank" title="大罗金仙都市销魂记">大罗金仙都市销魂记大罗金仙都市销魂记大罗金仙都市销魂记大罗金仙都市销魂记</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">5</span><p><span class="name"><a href="#" target="_blank" title="女神养成计划">女神养成计划</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">6</span><p><span class="name"><a href="#" target="_blank" title="超牛都市兵神">超牛都市兵神</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">7</span><p><span class="name"><a href="#" target="_blank" title="女人，快到碗里来！">女人，快到碗里来！</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">8</span><p><span class="name"><a href="#" target="_blank" title="冷情CEO的">冷情CEO的</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">9</span><p><span class="name"><a href="#" target="_blank" title="大罗金仙都市销魂记">大罗金仙都市销魂记</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">10</span><p><span class="name"><a href="#" target="_blank" title="玩转娱乐">玩转娱乐</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">11</span><p><span class="name"><a href="#" target="_blank" title="女人，快到碗里来！">女人，快到碗里来！</a></span><span class="click">4011</span></p></dd>
              <dd><span class="num">12</span><p><span class="name"><a href="#" target="_blank" title="冷情CEO的">冷情CEO的</a></span><span class="click">4011</span></p></dd>
            </dl>
          </div>
    </div><!--box_side end-->
    
  </div><!--sidebar end-->
</div><!--wrap end-->

