<link href="{?$jieqi_themeurl?}style/rank.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{?$jieqi_themeurl?}/js/jquery.cookie.js"></script> 
<!--<script type="text/javascript" src="{?$jieqi_url?}/scripts/layer/layer.js"></script>-->
<!--wrap begin-->
<div class="wrap fix">
  {?include file = "modules/article/templates/toptab.html" ?}
  <!--article3 begin-->
  <div class="article3 fr">
   <!--tabox begin-->
   <div class="tabox pl20">
     <div class="t">
      <h2>小说{?$midname?}榜</h2>
      {?if $havastat>0?}<ul class="tabs6">
       <li{?if $order=='day'?} class="thistab"{?/if?}><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=day$mid&sortid=$sortid&page=1?}">日榜</a></li>
       <li{?if $order=='week'?} class="thistab"{?/if?}><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=week$mid&sortid=$sortid&page=1?}">周榜</a></li>
       <li{?if $order=='month'?} class="thistab"{?/if?}><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=month$mid&sortid=$sortid&page=1?}">月榜</a></li>
       <li{?if $order=='total'?} class="thistab"{?/if?}><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=total$mid&sortid=$sortid&page=1?}">总榜</a></li>
      </ul>{?/if?}
      <div class="show">
<!--       <select name="" size="1">
        <option>每页显示30条</option>
        <option>每页显示20条</option>
       </select>-->
       <a href="javascript:;" class="on_list" title="列表显示" id="switch"></a>
      </div>
     </div>
     <!--box begin-->
     <div class="box">
       <div class="tag_sort">
        <a href="{?function geturl:'article':'top':'method=toplist':'SYS=type=$type&sortid=0&page=1'?}"{?if $sortid<1?} class="on_sort"{?/if?}>全部</a>
		{?section name=i loop=$sort?}<a href="{?function geturl:'article':'top':'method=toplist':SYS=type=$type&sortid=$i.key&page=1?}"{?if $sortid==$i.key?} class="on_sort"{?/if?}>{?$sort[i]['shortcaption']?}</a>{?/if?}
       </div>
       <ul class="f0">
        <li>
		 <!--show_img begin-->
		 <div class="show_img fix p5">
		  <dl class="list_td6">
		  {?section name=i loop=$articlerows?}
		   <dd class="fix">
			<a href="{?$articlerows[i].url_articleinfo?}" target="_blank" title="书名" class="img"><img src="{?$articlerows[i].url_image?}"/></a>
			<div class="name"><h6><a href="{?$articlerows[i].url_articleinfo?}" target="_blank" class="f_blue4">{?$articlerows[i].articlename?}</a></h6>
			  <div class="opt"><a href="{?$articlerows[i].url_articleindex?}" class="read">立即阅读</a><a href="javascript:;" class="collect" onclick="GPage.addbook('{?function geturl:'article':'huodong':'SYS=method=addBookCase&aid=$articlerows[i].articleid'?}');">收藏本书</a></div>
			</div>
			<div class="info">
			 <p class="it"><em>作者：</em>{?if $articlerows[i].authorid>0?}<a href="{?function geturl:'system':'userhub':'method=userinfo':'uid=$articlerows[i].authorid'?}" ajaxhover="true" uid="{?$articlerows[i].authorid?}" class="f_gray6" target="_blank">{?$articlerows[i].author?}</a>{?else?}{?$articlerows[i].author?}{?/if?}</p>
			 <p class="it"><em>分类：</em><a href="{?$articlerows[i].url_class?}" class="f_gray2">{?$articlerows[i].sort?}</a></p>
			 <p class="it"><em>状态：</em>{?$articlerows[i].fullflag_tag?}</p>
			 <p class="it"><em>点击：</em>{?$articlerows[i].total?}</p>
			 <p class="it"><em>更新：</em>{?$articlerows[i].lastupdate|date:'Y-m-d'?}</p>
			 <p class="it"><em>字数：</em>{?$articlerows[i].size_c?}</p>
			</div>
			<div class="txt"><em>简介：</em><p>{?$articlerows[i].intro?}</p></div>
		   </dd>
		   {?/section?}
		  </dl>
		  <div class="page3">{?$url_jumppage?}</div>
         </div><!--show_img end-->
         </li>       
        </ul>
     </div><!--box end-->
   </div><!--tabox end-->
  </div><!--article3 end-->
</div><!--wrap end-->
<script>
$("#switch").click(function(){
	$.cookie("topview",$(this).attr("class"),{expires:1, path: '/'});
	window.location.reload();
});
</script>