  <!--sidebar2 begin-->
  <div class="sidebar2 fl">
   <!--box_side2 begin-->
    <div class="box_side2">
      <div class="t"><h3>小说排行榜</h3></div>
      <ul class="list_b f_gray3">
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=totalvisit&sortid=0&page=1?}" {?if $mid=='visit'?} class="on"{?/if?}>小说点击榜</a></li>
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=totalvote&sortid=0&page=1?}" {?if $mid=='vote'?} class="on"{?/if?}>小说推荐榜</a></li>
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=totalgoodnum&sortid=0&page=1?}" {?if $mid=='goodnum'?} class="on"{?/if?}>小说收藏榜</a></li>
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=totalreward&sortid=0&page=1?}" {?if $mid=='reward'?} class="on"{?/if?}>小说打赏榜</a></li>
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=lastupdate&sortid=0&page=1?}" {?if $type=='lastupdate'?} class="on"{?/if?}>小说更新榜</a></li>
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=size&sortid=0&page=1?}" {?if $type=='size'?} class="on"{?/if?}>小说字数榜</a></li>
      </ul>
    </div><!--box_side2 end-->
   <!--box_side2 begin-->
   <!-- <div class="box_side2">
      <div class="t"><h3>女生言情排行榜</h3></div>
      <ul class="list_b f_gray3">
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=totalvisit&sortid=12&page=1?}" {?if $mid=='visit'&&$sortid==12?} class="on"{?/if?}>言情小说点击榜</a></li>
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=totalvote&sortid=12&page=1?}" {?if $mid=='vote'&&$sortid==12?} class="on"{?/if?}>言情小说推荐榜</a></li>
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=totalgoodnum&sortid=12&page=1?}" {?if $mid=='goodnum'&&$sortid==12?} class="on"{?/if?}>言情小说收藏榜 </a></li>
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=lastupdate&sortid=12&page=1?}" {?if $mid=='reward'&&$sortid==12?} class="on"{?/if?}>言情小说打赏榜 </a></li>
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=lastupdate&sortid=12&page=1?}" {?if $type=='lastupdate'&&$sortid==12?} class="on"{?/if?}>言情小说更新榜 </a></li>
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=size&sortid=12&page=1?}" {?if $type=='size'&&$sortid==12?} class="on"{?/if?}>言情小说字数榜</a></li>
      </ul>
    </div>--><!--box_side2 end-->
   <!--box_side2 begin-->
    <div class="box_side2">
      <div class="t"><h3>VIP小说排行榜</h3></div>
      <ul class="list_b f_gray3">
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=daysale&sortid=0&page=1?}" {?if $type=='daysale'?} class="on"{?/if?}>VIP小说订阅日榜</a></li>
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=weeksale&sortid=0&page=1?}" {?if $type=='weeksale'?} class="on"{?/if?}>VIP小说订阅周榜</a></li>
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=monthsale&sortid=0&page=1?}" {?if $type=='monthsale'?} class="on"{?/if?}>VIP小说订阅月榜</a></li>
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=totalsale&sortid=0&page=1?}" {?if $type=='totalsale'?} class="on"{?/if?}>VIP小说订阅总榜</a></li>
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=dayvipvote&sortid=0&page=1?}" {?if $type=='dayvipvote'?} class="on"{?/if?}>VIP小说月票日榜</a></li>
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=weekvipvote&sortid=0&page=1?}" {?if $type=='weekvipvote'?} class="on"{?/if?}>VIP小说月票周榜</a></li>
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=monthvipvote&sortid=0&page=1?}" {?if $type=='monthvipvote'?} class="on"{?/if?}>VIP小说月票月榜</a></li>
       <li><a href="{?function geturl:'article':'top':'method=toplist':SYS=type=totalvipvote&sortid=0&page=1?}" {?if $type=='totalvipvote'?} class="on"{?/if?}>VIP小说月票总榜</a></li>
      </ul>
    </div><!--box_side2 end-->
   <!--box_side2 begin-->
<!--    <div class="box_side2">
      <div class="t"><h3>作者排行榜</h3></div>
      <ul class="list_b f_gray3">
       <li><a href="#" target="_blank">作者财富榜</a></li>
       <li><a href="#" target="_blank">天道酬勤榜</a></li>
       <li><a href="#" target="_blank">互动排行榜</a></li>
      </ul>
    </div>--><!--box_side2 end-->
  </div><!--sidebar2 end-->
