     <div class="box0 fix">
	  {?section name=i loop=$articlerows?}
      <!--workbox begin-->
      <div class="workbox">
        <div class="img fix"><a href="{?$articlerows[i].url_articleinfo?}" target="_blank"><img src="{?$articlerows[i].url_image?}" onerror="this.src='/modules/article/images/nophoto.jpg'" /></a>
         <a href="{?$articlerows[i].url_articleinfo?}" target="_blank" class="f_gray3 db tc">{?$articlerows[i].articlename?}</a>
        </div>
        <dl>
         <dd>作品类型：<em class="b g3">{?$articlerows[i].sort?}</em></dd>
         <dd>文章字数：<em class="blue2">{?$articlerows[i].size_c?}</em> 字</dd>
         <dd>最近更新：{?$articlerows[i].lastupdate|date:Y-m-d H:i?}</dd>
         <dd class="txt">{?$articlerows[i].intro?}</dd>
         <dd>
          <div class="ope mt10">
           <a href="{?$articlerows[i].url_articleinfo?}" target="_blank" class="on mr10">立即阅读</a><a href="#" target="_blank">加入收藏</a>
       </div></dd>
        </dl>
      </div><!--workbox end-->
	  {?/section?}
	  <div class="page3" style="clear:left;">{?$url_jumppage?}</div>
<!--     <div class="page mt20"><a href="#" class="end">首页</a><a href="#" class="end">上一页</a><em class="on">1</em><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">下一页</a><a href="#">尾页</a>共18页 第1页</div>
-->     </div><!--box0 end-->
