{?include file="tuike/templates/public/header.html" ?}
{?include file="tuike/templates/public/left.html" ?}
    <div class="g-main">
      <div class="m-panel ">
        <div class="panel-body">
          <div class="container wrap">
            <div class="container-hd">
              <h2>平台公告</h2>
            </div>
            <div class="container-bd" style="margin: 0 auto;">
              <!-- 公告详情 [[ -->
              <div class="data-box" id="content_detail">
                
                {?$info.content?}
              </div>
              <!-- 公告详情 ]] -->
            </div>
          </div>
        </div>
      </div>
    </div>
{?include file="tuike/templates/public/footer.html"?}