{?include file="tuike/templates/public/header.html" ?}
{?include file="tuike/templates/public/left.html" ?}
    <div class="g-main">



      <div class="m-book-title">平台公告</div>
      <div class="to_leave"></div>

      <div class="m-panel ">
        <div class="panel-body">
          <div class="container wrap">
            <div class="container-bd" style="margin: 0 auto;">
              <!-- 公告详情 [[ -->
              <div class="data-box" id="content_detail">
                <p class="MsoNormal" style="text-align:center; font-size: 24px;">
                  关于调整平台分成的公告
                </p>
                <p class="MsoNormal"><br /> </p>
                <p class="MsoNormal"><br /> </p>
                <p class="MsoNormal" style="text-indent: 0;">
                  尊敬的各位用户：<br> <br> </p>
                <p class="MsoNormal">
                  为了鼓励广大流量主的入驻，优阅云现提升分成比例以回馈新老用户，调整如下：
                </p>
                <p class="MsoNormal">
                  用户充值分成由70%提升到85%
                </p>
                <p class="MsoNormal">
                  调整日期自即日起。
                </p>
                <div>
                  <p class="MsoNormal">
                    <br>
                  </p>
                  <p class="MsoNormal">
                    <br>
                  </p>
                  <p class="MsoNormal" align="right" style="text-align:right;">
                    优阅云团队
                  </p>
                  <p class="MsoNormal" align="right" style="text-align:right;">
                    2016年11月1日
                  </p>
                </div>
              </div>
              <!-- 公告详情 ]] -->
            </div>
          </div>
        </div>
      </div>
    </div>


    <style>
      html, body {
        background-color: #e5f3fc;
      }
    </style>

{?include file="tuike/templates/public/footer.html"?}