{?include file="tuike/templates/public/header.html" ?}
{?include file="tuike/templates/public/left.html" ?}
    <div class="g-main">

 
      <div class="m-book-title">平台公告</div>
      <div class="to_leave"></div>

      <div class="m-panel ">
        <div class="panel-body">
          <div style="max-width: 1000px; margin: 0 auto;" class="contai ner wrap"> <div class="container-bd" style="margin: 0 auto;">

              <!-- 公告详情 [[ -->
              <div class="data-box" id="content_detail">
                <p class="MsoNormal" style="text-align:center; font-size: 24px;">
                  优阅小说充值活动上线通知
                </p>
                <p class="MsoNormal"><br /> </p>
                <p class="MsoNormal"><br /> </p>



                <p class="MsoNormal">
                  各位流量主知悉，优阅小说网将在春节期间上线粉丝看小说充值优惠活动，于除夕至初六总共7天的活动时间（活动详情到公告处详看）。据往常活动期间时充值收入会大大提升，推广收益大故提前通知，建议各位合作伙伴适时安排推广，收入翻倍！
                </p>



                <div>
                  <p class="MsoNormal">
                    <br>
                  </p>
                  <p class="MsoNormal">
                    <br>
                  </p>
                  <p class="MsoNormal" align="right" style="text-align:right;">
                    优阅网络科技股份有限公司
                  </p>
                  <p class="MsoNormal" align="right" style="text-align:right;">
                    2017年01月20日
                  </p>
                </div>

                <div>
                  
                  <img style="width:100%; padding-top: 14px;" src="{?$jieqi_themeurl?}img/yun_2342.jpg" alt="">
                </div>


              </div>
              <!-- 公告详情 ]] -->


            </div>
          </div>
        </div>
      </div>
    </div>


    <style>
      html, body {
        background-color: #e5f3fc;
      }
    </style>

{?include file="tuike/templates/public/footer.html"?}