{?include file="tuike/templates/public/header.html" ?}
{?include file="tuike/templates/public/left.html" ?}
    <div class="g-main">



      <div class="m-book-title">平台公告</div>
      <div class="to_leave"></div>

      <div class="m-panel ">
        <div class="panel-body">
          <div style="max-width: 1000px; margin: 0 auto;" class="contai ner wrap"> <div class="container-bd" style="margin: 0 auto;">

              <!-- 公告详情 [[ -->
              <div class="data-box" id="content_detail">
                <p class="MsoNormal" style="text-align:center; font-size: 24px;">
                  春节长假优阅云提现公告
                </p>
                <p class="MsoNormal"><br /> </p>
                <p class="MsoNormal"><br /> </p>
                <p class="MsoNormal" style="text-indent: 0;">
                  尊敬的客户：<br>
                  您好!<br> <br> </p>
                <p class="MsoNormal">
                  自2017年01月23日起优阅云分成平台推广收益提现时间因传统春节长假关系暂停提现服务，2月6日开始恢复提现。平台其余功能正常运转。给您带来的不便，敬请谅解！优阅云向各位合作伙伴拜个早年！预祝2017赚盆满钵满！
                </p>
                <p class="MsoNormal">
                  以上敬请知悉！ 谢谢！
                </p>
                <div>
                  <p class="MsoNormal">
                    <br>
                  </p>
                  <p class="MsoNormal">
                    <br>
                  </p>
                  <p class="MsoNormal" align="right" style="text-align:right;">
                    优阅网络科技股份有限公司
                  </p>
                  <p class="MsoNormal" align="right" style="text-align:right;">
                    2017年01月17日
                  </p>
                </div>
              </div>
              <!-- 公告详情 ]] -->


            </div>
          </div>
        </div>
      </div>
    </div>


    <style>
      html, body {
        background-color: #e5f3fc;
      }
    </style>

{?include file="tuike/templates/public/footer.html"?}