<link href="{?$jieqi_themeurl?}style/user.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="{?$jieqi_url?}/scripts/validator-0.7.0/jquery.validator.css" />
<script type="text/javascript" src="{?$jieqi_url?}/scripts/validator-0.7.0/jquery.validator.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/scripts/validator-0.7.0/local/zh_CN.js"></script>
<!--wrap2 begin-->
<div class="wrap2">
  {?include file = "modules/article/templates/bookFunction.html" ?}
  <!--article3 begin-->
  <div class="article3 fr">
   <!--tabox begin-->
    <div class="tabox">
      <div class="t2">
       <h2>收入管理</h2>
       <ul class="tabs62" id="tabs">
        <li id="monthincome"><a href="javascript:void(0)">收入月报</a></li>
        <li id="eachother"><a href="javascript:void(0)">奖励保障</a></li>
        <li id="author"><a href="javascript:void(0)">打赏明细</a></li>
        <li id="add"><a href="javascript:void(0)">渠道收入</a></li>
       </ul>
      </div>
	  <div>选择作品<select value="至尊狂医"></select>
	  </div>
	 </div>
	</div>
</div>