{?set $jieqi_pagetitle = "用户注册-$jieqi_sitename"?}<link rel="stylesheet" rev="stylesheet" href="{?$jieqi_themeurl?}style/login.css" type="text/css" media="all" />
<link rel="stylesheet" href="{?$jieqi_url?}/scripts/validator-0.7.0/jquery.validator.css" />
<script type="text/javascript" src="{?$jieqi_url?}/scripts/validator-0.7.0/jquery.validator.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/scripts/validator-0.7.0/local/zh_CN.js"></script>
<div class="box_mid fix">
  <div class="regist fix">
    <h4>用户注册</h4>
    <div class="step"></div>
    <div class="box_form">
	<div id="result_14" class="tip-ok" style="display:none"></div>
     <form id="signup_form" class="signup" action="{?function geturl:'system':'register'?}" autocomplete="off" data-validator-option="{theme:'simple_right'}" >
<fieldset class="fix">
    <div class="form-item">
        <div class="field-name">用户名：</div>
        <div class="field-input">
          <input type="text" name="username" maxlength="30" autocomplete="off"  data-rule="用户名: required;username;remote[{?function geturl:'system':'register':'SYS=method=checkUser'?}]" />
        </div>
    </div>
    <div class="form-item">
        <div class="field-name">邮箱：</div>
        <div class="field-input">
          <input type="text" name="email" maxlength="40" autocomplete="off"  data-rule="邮箱: required;email;remote[{?function geturl:'system':'register':'SYS=method=checkEmail'?}]" />
        </div>
    </div>
    <div class="form-item">
        <div class="field-name">密码：</div>
        <div class="field-input">
          <input type="password" name="password" value="" autocomplete="off"  data-rule="密码: required;password;" />
        </div>
    </div>
    <div class="form-item">
        <div class="field-name">确认密码：</div>
        <div class="field-input">
          <input type="password" name="repassword" value="" autocomplete="off" data-rule="确认密码: required;match(password);" />
        </div>
    </div>
    <div class="form-item">
        <div class="field-name">验证码：</div>
        <div class="field-input">
          <input type="text" name="checkcode" autocomplete="off" class="yzm" />
          <img src="{?$url_checkcode?}" class="pic" id="checkcode" /><a id="recode" class="f_org2 pl10" onclick="$('#checkcode').attr('src','{?$url_checkcode?}?rand='+Math.random());" href="javascript:;">换一张</a>
        </div>          
    </div>
    <div class="form-item">
     <div class="f12 g6 xy">
     <input type="checkbox" checked="checked" name="interest[]" class="check" data-rule="checked[1]" />我已阅读并同意<a href="javascript:void(0)" onclick="shxy()" class="f_blue">《{?$jieqi_sitename?}用户协议》</a>
     </div>
    </div>
    
    </div>
    <input type="hidden" name="jumpurl" value="{?$jumpurl?}">
	<input type="hidden" name="formhash" value="{?eval echo form_hash();?}" />
    <div class="cl"><input id="btn-submit" name="dosubmit" class="btn-sn" type="submit" value="立即注册"></div>
</fieldset>
</form>
    </div>
  <div class="remark">   
    <div class="t">已有{?$jieqi_sitename?}帐号？ <a href="{?function geturl:'system':'login'?}" class="dl">登 录</a><p class="other f_blue">其他登录方式：<a href="javascript:;" id="otherlogin"><em></em>QQ登录</a></p></div>
    <dl>
     <dt>注册成为{?$jieqi_sitename?}会员，您将拥有：</dt>
     <dd>&middot;拥有海量书架收藏更多图书</dd>
     <dd>&middot;投推荐票给喜欢的小说,支持作者创作</dd>
     <dd>&middot;升级为VIP,章节订阅最优惠</dd>
     <dd>&middot;购买会员,最好的上架作品随便看</dd>
    </dl>
    <dl>
     <dt class="tt">客服中心</dt>
     <dd>在线时间：9:00-17:30</dd>
     <dd>读者Q Q ：724171887</dd>
     <dd>作者Q Q ：724171887</dd>
     <dd>微信公众号 pinshunet</dd>
     <!--<dd>客服邮箱：sxshuhai@qq.com</dd>-->
     <!--<dd>商务邮箱：sxshuhai@qq.com</dd>-->
    </dl>
  </div>
  </div>
</div><!--box_mid end-->
<!--用户协议 弹出层-->
<div id="cont" style="display:none;">
    	<h1>{?$jieqi_sitename?}网协议</h1>
		<p>
    	您只有无条件接受以下所有服务条款，才能申请{?$jieqi_sitename?}网注册帐号
		</p>
		<p>
		1. 特别提示
		<br />{?$jieqi_sitename?}网同意按照本协议的规定及其不时发布的操作规则提供基于互联网的相关服务(以下称"网络服务")，为获得网络服务，服务使用人(以下称"用户")同意本协议的全部条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击"同意"按钮即表示用户完全接受本协议项下的全部条款。这些条款可由{?$jieqi_sitename?}网域名所有者随时更新，本服务协议一旦发生变动，{?$jieqi_sitename?}网将会在相关的页面上提示修改内容。修改后的服务协议一旦在页面上公布即有效代替原来的服务协议。用户在使用{?$jieqi_sitename?}网提供的各项服务之前，应仔细阅读本服务协议，如用户不同意本服务协议及/或随时对其的修改，用户可以主动取消{?$jieqi_sitename?}网提供的服务。
		</p>
		<p>
		2. 服务内容
		<br />
		2.1 {?$jieqi_sitename?}网网络服务的具体内容由{?$jieqi_sitename?}网根据实际情况提供，例如文学作品阅读、论坛(BBS)、聊天室、电子邮件、发表新闻评论等。{?$jieqi_sitename?}网保留随时变更、中断或终止部分或全部网络服务的权利。
		<br />2.2 {?$jieqi_sitename?}网在提供网络服务时，可能会对部分网络服务(例如VIp作品阅读)的用户收取一定的费用。在此情况下，{?$jieqi_sitename?}网会在相关页面上做明确的提示。如用户拒绝支付该等费用，则不能使用相关的网络服务。
		<br />2.3 用户理解，{?$jieqi_sitename?}网仅提供相关的网络服务，除此之外与相关网络服务有关的设备(如电脑、调制解调器及其他与接入互联网有关的装置)及所需的费用(如为接入互联网而支付的电话费及上网费)均应由用户自行负担。
		</p>
		<p>
		3. 使用规则
		<br />
		3.1 用户在申请使用{?$jieqi_sitename?}网网络服务时，必须向{?$jieqi_sitename?}网申请注册并提供准确的个人资料，如个人资料有任何变动，必须及时更新。如因资料提供不准确而享受不到相关服务时，{?$jieqi_sitename?}网不承担任何责任。
		
		<br />3.2 用户注册成功后，{?$jieqi_sitename?}网将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。
		
		<br />3.3 用户同意接受{?$jieqi_sitename?}网通过电子邮件或其他方式向用户发送的商品促销或其他相关商业信息。
		
		<br />3.4 用户在使用{?$jieqi_sitename?}网网络服务过程中，必须遵循以下原则：
		
		<br />(A) 遵守中国有关的法律和法规；
		
		<br />(B) 不得为任何非法目的而使用网络服务系统；
		
		<br />(C) 遵守所有与网络服务有关的网络协议、规定和程序；
		
		<br />(D) 不得利用{?$jieqi_sitename?}网网络服务系统进行任何可能对互联网的正常运转造成不利影响的行为；
		
		<br />(E) 不得利用{?$jieqi_sitename?}网网络服务系统传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；
		
		<br />(F) 不得利用{?$jieqi_sitename?}网网络服务系统进行任何不利于{?$jieqi_sitename?}网的行为；
		
		<br />(G) 就{?$jieqi_sitename?}网及合作商业伙伴的服务、产品、业务咨询应采取相应机构提供的沟通渠道，不得在公众场合发布有关{?$jieqi_sitename?}网及相关服务的负面宣传。
		
		<br />(H) 如发现任何非法使用用户帐号或帐号出现安全漏洞的情况，应立即通告{?$jieqi_sitename?}网。
		</p>
		<p>
		4. 内容所有权
		<br />4.1 {?$jieqi_sitename?}网提供的网络服务内容可能包括：文字、软件、声音、图片、录象、图表等。所有这些内容受版权法、商标法和其它财产所有权法律的保护。
		<br />4.2 用户只有在获得{?$jieqi_sitename?}网或其他相关权利人的书面授权之后才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的派生产品。
		</p>
		<p>
		5. 隐私保护
		<br />5.1 保护用户（特别是未成年人）的隐私是{?$jieqi_sitename?}网的一项基本政策，因此，若父母（监护人）希望未成年人（尤其是十岁以下子女）得以使用本服务，必须以父母（监护人）名义申请注册，在接受本服务时，应以法定监护人身份加以判断本服务是否符合于未成年人。 {?$jieqi_sitename?}网保证不对外公开或向第三方（5.2所列情况除外）提供用户注册资料及用户在使用网络服务时存储在{?$jieqi_sitename?}网的非公开内容，但下列情况除外：
		<br />(A) 事先获得用户的明确授权；
		<br />(B) 根据有关的法律法规要求；
		<br />(C) 按照相关政府主管部门的要求；
		<br />(D) 为维护社会公众的利益；
		<br />(E) 为维护{?$jieqi_sitename?}网的合法权益。
		<br />5.2 {?$jieqi_sitename?}网可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与{?$jieqi_sitename?}网同等的保护用户隐私的责任，则{?$jieqi_sitename?}网可将用户的注册资料等提供给该第三方。
		<br />5.3在不透露单个用户隐私资料的前提下，{?$jieqi_sitename?}网有权对整个用户数据库进行技术分析并对已进行分析、整理后的用户数据库进行商业上的利用。 尽管{?$jieqi_sitename?}网对用户的隐私权保护做了极大的努力，但是仍然不能保证现有的安全技术措施使用户的技术信息等不受任何形式的损失。
		</p>
		<p>
		6. 免责声明
		<br />6.1 {?$jieqi_sitename?}网所有者不保证以下事宜：
		<br />(A)本服务将符合您的要求
		<br />(B)本服务将不受干扰、及时提供、安全可靠或不会出错。
		<br />(C){?$jieqi_sitename?}网将努力保证连载作品的完整性，但如果由于作者或其它非{?$jieqi_sitename?}网所能控制的原因导致作品的连载不能继续时，{?$jieqi_sitename?}网对用户不承担任何责任。
		<br />(D)因用户滥用帐户权力而对{?$jieqi_sitename?}网服务构成破坏、损害时，{?$jieqi_sitename?}网有权停止该帐号的使用权力。
		<br />6.2用户明确同意其使用{?$jieqi_sitename?}网网络服务所存在的风险将完全由其自己承担；因其使用{?$jieqi_sitename?}网网络服务而产生的一切后果也由其自己承担，{?$jieqi_sitename?}网对用户不承担任何责任。
		</p>
		<p>
		7. 服务变更、中断或终止
		<br />7.1 如因系统维护或升级的需要而需暂停网络服务，{?$jieqi_sitename?}网将尽可能事先进行通告。
		<br />7.2 如发生下列任何一种情形，{?$jieqi_sitename?}网有权随时中断或终止向用户提供本协议项下的网络服务而无需通知用户：
		<br />(A)用户提供的个人资料不真实；
		<br />(B)用户违反本协议中规定的使用规则。
		<br />7.3 除前款所述情形外，{?$jieqi_sitename?}网同时保留在不事先通知用户的情况下随时中断或终止部分或全部网络服务的权利，对于所有服务的中断或终止而造成的任何损失，{?$jieqi_sitename?}网无需对用户或任何第三方承担任何责任。
		</p>
		<p>
		8. 违约赔偿
		<br />用户同意保障和维护{?$jieqi_sitename?}网及其他用户的利益，如因用户违反有关法律、法规或本协议项下的任何条款而给{?$jieqi_sitename?}网或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。
		</p>
		<p>
		9. 法律管辖
		<br />9.1 本协议的订立、执行和解释及争议的解决均应适用中国法律。
		<br />9.2 如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均应向{?$jieqi_sitename?}网域名所有者所在地的人民法院提起诉讼。
		</p>
		<p>
		10. 通知和送达
		<br />本协议项下所有的通知均可通过重要页面公告、电子邮件或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。
		</p>
		<p>
		11. 其他规定
		<br />11.1 本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。
		<br />11.2 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。
		<br />11.3 本协议中的标题仅为方便而设，不具法律或契约效果。
    </div>
<script type="text/javascript">
layer.ready(function(){
	$('#signup_form').bind('valid.form', function(){
		  GPage.postForm('signup_form', this.action,
			   function(data){
					if(data.status=='OK'){
						layer.msg(data.msg,1,{type:1,shade:false},function(){
							jumpurl(data.jumpurl);
						});
					}else{
						//$('#recode').click();
						$('#result_14').html(data.msg).fadeIn(300).delay(2000).fadeOut(1000);
						if(data.msg == '对不起，校验码错误！'){
							$("[name='checkcode']").focus();
							$('#recode').click();
						}
					}
			   }
		  );
	});
	var jumpurl_c = "{?$jieqi_url?}";
	var url_c = "{?$url?}/qqlogin/";
	if (jumpurl_c && jumpurl_c!="undefined"){
		url_c = url_c + "?jumpurl=" + jumpurl_c;
	}
   $("#otherlogin").bind("click",function(){
		otherlogin(url_c);
	});
});
function shxy(){
	$.layer({
		type: 1,
		title: false,
		offset: ['160px' , ''],
		area: ['980px', 'auto'],
//		shade: [0],
		page: {
			dom: '#cont'
		}, 
		success: function(){
//			layer.shift('left',400); //左边动画弹出
		}
	});
}
</script>