<link href="{?$jieqi_themeurl?}style/user.css" type="text/css" rel="stylesheet" />
<!--wrap2 begin-->
<div class="wrap2">
  {?include file = "modules/article/templates/bookFunction.html" ?}
  <!--article2 begin-->
  <div class="article2 fr zsy bg5">
   <!--tabox begin-->
    <div class="tabox">
      <div class="t2">
       <h2>隐私设置 </h2>       
      </div>
      <dl class="list_txt2">
       <dt>私信：设置谁可以给我发私信</dt>
       <dd><input name="" type="radio" value="" />所有人(不包括你的黑名单用户)</dd>
       <dd><input name="" type="radio" value="" />我关注的人</dd>
       <dd><input name="" type="radio" value="" />关闭</dd>
      </dl>
      <dl class="list_txt2">
       <dt>搜索：允许别人通过搜索找到我</dt>
       <dd><input name="" type="radio" value="" />真实姓名和昵称</dd>
       <dd><input name="" type="radio" value="" />真实姓名</dd>
       <dd><input name="" type="radio" value="" />昵称</dd>
       <dd><button class="btn mt20">保存</button></dd>
      </dl>
    </div><!--tabox end-->
  </div><!--article2 end-->
</div><!--wrap2 end-->
