/* SHUHAI.COM CSS-book.css v1.0 | 2014*/
@import url(style.css);

/*公共图片*/
.book_top_r .name .rank{background: url(../images/icon_book.gif) no-repeat;}
.book_top .path{ padding-left:20px;}
/*.book_top .path .g6{border-left:4px solid #3CABDB; padding-left:10px; margin-left:8px;}*/
.book_top2 .path{ width:auto; height:32px; line-height:32px; padding:0px 5px; border-bottom:1px solid #bababa; background:#f8f8f8;}
.book_top2 .path .g6{ border-left:4px solid #9d5501; padding-left:10px; margin-left:8px;}
.book_top2{width:706px; height:478px; overflow:hidden; padding:0px 0px 0px; border:1px solid #bcbcbc; background:#fff;}
.book_top2 .book_top_l{ margin-left:10px;}
.book_top{width:686px; height:470px; overflow:hidden; padding:8px 10px 0px; border:1px solid #d2e1f1;}
.book_top_l{ float:left; width:236px; height:auto;}
.book_top_l .img{ width:200px; height:260px; padding:0px 0px 10px 11px; margin-left:10px;/* background: url(../images/icon_book.gif) no-repeat; background-position:0px -15px;*/ position:relative;}
.book_top_l .img img{ width:183px; height:244px;}
.book_top_l .ope{ width:auto; height:auto; margin-left:30px;}
.book_top_l .ope a{ display:block; width:110px; height:35px; line-height:25px; padding-left:40px; text-align:center; background:url(../images/icon_book.gif) no-repeat; font-family:"微软雅黑", "黑体"; font-size:16px;}
.book_top_l .ope a:link,.book_top_l .ope a:visited{ color:black; background-position:-252px -240px;}
.book_top_l .ope a:hover,.book_top_l .ope a:active{ color:#e33116; background-position:-252px -192px;}
.book_top_l .ope a.on:link,.book_top_l .ope a.on:visited{ background-position:-252px -192px;color:red;}
.book_top_l .img .state1,.book_top_l .img .state2{ position:absolute; width:80px; height:80px;background: url(../images/icon_png.png) no-repeat;}
.book_top_l .img .state1{ left:-7px; top:0px; background-position:0px 0px;}
.book_top_l .img .state2{ left:-7px; top:0px; background-position:0px -82px;}
.book_top_r{ float:left; width:450px; height:auto;}
.book_top_r .t{ width:auto; height:42px;overflow:hidden;}
.book_top_r .name{ float:left; line-height:42px; color:#e62a07; font-family:"隶书"; font-size:32px; font-weight:normal; position:relative; }
.book_top_r .name .rank{ display:block; position:absolute; right:-60px; top:10px; width:56px; height:20px; background-position:-653px 0px;}
.book_top_r .author{color:#999; padding:15px 0px 0px 10px; float:left;}
.tabbox_bk{ width:auto; height:auto; padding-top:10px;}
.tabbox_bk .tt1,.tabbox_bk .tt2{ width:auto; height:31px; position:relative;}
.tabbox_bk .tt1{border-bottom:1px solid #b3cbe6;}
.tabbox_bk .tt2{border-bottom:1px solid #bababa;}
.tabs_bk{ width:auto; height:32px; position:absolute; left:0px; top:1px;}
.tabs_bk li{ float:left; width:92px; height:24px; padding-top:7px; margin-right:3px; background:url(../images/icon_book.gif) no-repeat -584px -78px; color:#7c7d7e; font-weight:800; text-align:center; cursor:pointer;}
.tabs_bk li a{ color:#666; font-size:12px; padding-top:8px;}
/*.tabs_bk li a{display: block; height:22px; padding-top:8px; text-align:center;outline: none; color:#333; font-size:12px;}
.tabs_bk li a:hover{ background:#fff;width:90px; height:22px; padding-top:8px; border:1px solid #b3cbe6; border-bottom:0px; color:#2974ab; font-size:14px; }*/
.tabs_bk .thistab a{ color:#000; font-size:14px;}
.tabs_bk .thistab{ height:26px; padding-top:4px; border:1px solid #b3cbe6; border-bottom:0px; color:#000; font-size:14px; background:#fff;}
.tabs_bk2{ width:auto; height:31px; position:absolute; left:0px; top:0px;}
.tabs_bk2 li{ float:left; width:92px; height:31px; margin-right:3px; background:#f8f8f8; color:#7c7d7e; font-weight:800; text-align:center;position: relative;}
.tabs_bk2 li a{display: block; height:22px; padding-top:8px; border:1px solid #bababa; border-bottom:0px; text-align:center;outline: none; color:#333; font-size:12px;}
.tabs_bk2 li a:hover{ background:#fff;width:90px; height:23px; padding-top:8px; color:#9d5501; font-size:14px; background:#fff; }
.tabs_bk2 .thistab a{ color:#9d5501; font-size:14px; height:23px; background:#fff;}
.tabs_bk2 .thistab,.tabs_bkt .thistab a:hover{ color:#9d5501; height:24px; font-size:14px; background:#fff;}
.tab_conbox_bk{ width:auto; height:190px; padding:10px 5px; margin:0px;}
.tab_conbox_bk li{width:auto; height:170px; overflow:hidden;}
.tab_conbox_bk .one dl{ width:100%; height:22px; overflow:hidden;}
.tab_conbox_bk .one dl dd{ float:left; width:23.8%; height:22px; line-height:22px; color:#999; overflow:hidden; padding-right:5px;}
.tab_conbox_bk .one dl dd span{ color:#333;}
.tab_conbox_bk .one .intro{ width:auto; height:110px; padding:5px 0px 20px; color:#444; line-height:180%; overflow:hidden;/* border-bottom:1px solid #f9f9f9;*/}
.tab_conbox_bk .two dl dd{ float:left; width:45%; line-height:180%; padding-right:10px; overflow:hidden;}
.tab_conbox_bk .two dl dd em{ color:#999; padding-right:5px;}
.tab_conbox_bk .tags{ width:auto; height:auto; line-height:180%; margin-top:12px; padding:6px; _padding:7px; background:#eaf7ff;}
.tab_conbox_bk .tags a{ padding:0px 5px;}
.tab_conbox_bk .three dl dd{ width:auto; height:30px; line-height:30px; overflow:hidden; border-bottom:1px dotted #c5c5c5;}
.tab_conbox_bk .three dl dd p{ float:left; height:30px; padding-right:6px; overflow:hidden;}
.tab_conbox_bk .three dl dd p em{ color:#999;}
.tab_conbox_bk .three dl dd .tname{ width:40%;}
.tab_conbox_bk .three dl dd .sort{ width:16%;}
.tab_conbox_bk .three dl dd .staus{ width:16%;}
.tab_conbox_bk .three dl dd .num{ width:22%;}
.tabbox_sid { width:260px; height:auto;}
.tabbox_sid .tt1{ width:auto; height:30px; line-height:30px; border-bottom:1px solid #d2e1f1; border-top:2px solid #41b7e1; border-left:none; border-right:1px solid #d2e1f1; background:#EAF7FF; position:relative;}
.tabs_sid { width:100%; height:32px; position:absolute; top:0px; left:0px;}
.tabs_sid li{ float:left; width:49.6%; height:31px; background:#eaf7ff; border-left:1px solid #d2e1f1; text-align:center; position:relative;}
.tabs_sid li a{ line-height:31px; font-size:14px; color:#2974ab;}
.tabs_sid .thistab{height:32px; color:#2974ab; font-size:14px; font-weight:800; background:#fff; border-bottom:none;}
.tabs_sid2{ width:100%; height:32px; position:absolute; top:-1px; left:0px;}
.tabs_sid2 li{ float:left; width:50%; height:32px;}
.tabs_sid2 li a{display:block; height:33px; line-height:34px; border-right:1px solid #bcbcbc; text-align:center; font-size:14px; color:#666; font-weight:800;}
.tabs_sid2 .thistab a{ height:33px; border-top:1px solid #9d5501; color:#9d5501;}
.tabs_sid2 .thistab{height:34px; background:#fff;}
.tab_conbox_sid{ width:auto; height:auto; border:1px solid #d2e1f1; margin:0px;}
.tab_conbox_sid .sid{ width:auto; height:auto; padding:10px 0px;}
.box_side2{ width:auto; height:auto;}
.box_side2 .t1{ width:auto; height:30px; line-height:30px; border:1px solid #d2e1f1; background:#eaf7ff; position:relative;}
.box_side2 .t1 .orn{ position:absolute; right:0px; top:0px; display:block; width:100px; height:30px; background:url(../images/icon_book.gif) no-repeat -411px -146px;}
.box_side2 .t1 h2{ font-size:14px; color:#2974ab; padding-left:20px;}
.box_dwn{width:auto; height:auto; border:1px solid #d2e1f1; border-top:0px; background:#fff;}
.dwnline{ width:auto; height:1px; border-bottom:1px solid #dcdcdc; padding-top:10px; font-size:0px; line-height:0px; clear:both;}
.book_top_r .wap{ clear:both; width:auto; height:34px; line-height:34px; padding-left:30px; color:#e62a07; font-size:14px; background:url(../images/ipg.png) no-repeat 2px -362px; border-bottom:1px dotted #c5c5c5; border-top:1px dotted #c5c5c5;}
.book_top_r .renew{ width:auto; height:auto; padding:15px 0px; _padding:10px 0px;border-bottom:1px dotted #c5c5c5;}
.book_top_r .renew dd{ width:98%; height:22px; line-height:22px; overflow:hidden;}
.book_top_r .renew dd span{ display:block; float:left; height:22px; line-height:22px; overflow:hidden;}
.book_top_r .renew dd .t{ width:86px; color:#999;}
.book_top_r .renew dd .name{ width:50%; font-size:12px; font-family:"宋体";}
.book_top_r .renew dd .time{ width:130px; color:#999;}
.moving{ width:auto; height:auto; /*height:324px;*/ border:1px solid #d2e1f1;}
.moving .t{ width:auto; height:34px; line-height:34px; padding-left:25px; font-size:14px; font-weight:800; color:#2974ab; background:url(../images/icon_book.gif) no-repeat -738px 5px #eaf7ff;}
.moving .tips_mov{ display:block;width:auto; width:258px; height:228px; background:url(../images/beg.jpg) no-repeat 0px 0px;}
/*dl.line,dl.mulitline{width:auto;height:30px;background:#eee;overflow:hidden;margin-bottom:20px;border:2px solid #a40000;}
dl.mulitline{height:90px;}
dl.line dd,.mulitline dd{height:30px;text-indent:15px;font-size:12px;line-height:30px;list-style:none;}*/
.moving .mulitline{ width:auto; height:215px; margin-left:auto; margin-right:auto; margin-top:10px; padding:0px 5px 13px; background:#fff; overflow:hidden;}
.moving .mulitline dd{ width:auto; height:26px; line-height:26px; border-bottom:1px dotted #c5c5c5; overflow:hidden;}
.moving .mulitline dd .name,.moving dl dd .data{ float:left; display:block; height:26px; overflow:hidden;}
.moving .mulitline dd .name{ width:48%; padding-left:10px;}
.moving .mulitline dd .data{ width:45%; color:#e62a07;}
.moving .mulitline dd .data .nm{ color:#999; display:inline-block; width:40px; height:26px;}
.moving .ope2{ width:auto; height:32px; padding:10px 0px 10px 10px; margin:0px auto; background:#eaf7ff;}
.moving .ope2 a{ display:block; float:left; height:32px; line-height:28px; text-align:center; background:url(../images/icon_book.gif) no-repeat;}
.moving .ope2 a:link,.moving .ope2 a:visited{ }
.moving .ope2 a:hover,.moving .ope2 active{ color:#e62a07;}
.moving .ope2 a.vote{ width:68px; padding-left:10px;}
a.vote:link,a.vote:visited{ background-position:-261px 0px;color:#3cabdb;}
a.vote:hover,a.vote:active{ background-position:-261px -48px;}
a.reward:link,a.reward:visited{width:66px; padding-left:16px; background-position:-338px -48px;color:red;}
a.reward:hover,a.reward:active{width:67px; padding-left:15px; background-position:-338px -48px;}
a.urge:link,a.urge:visited{width:64px; padding-left:15px; background-position:-420px 0px;color:#3cabdb;}
a.urge:hover,a.urge:active{width:65px; padding-left:15px; background-position:-419px -48px;}
.bk_author{ width:auto; height:142px; background:#eaf7ff; border:1px solid #d2e1f1; overflow:hidden;}
.bk_author .t{ width:auto; height:25px; padding-top:15px; padding-left:40px; font-size:14px; font-weight:800; color:#2974ab; background:url(../images/icon_book.gif) no-repeat -715px -38px #eaf7ff; border-bottom:1px solid #d2e1f1;}
.bk_author p{ width:auto; height:65px; text-indent:2em; color:#555; line-height:180%; padding:20px 15px 0px; overflow:hidden;}
.bk_comment .t,.bk_comment .t2{ width:auto; height:32px; position:relative;}
.bk_comment .t{ border:1px solid #d2e1f1; background:#eaf7ff;}
.bk_comment .t2{ border:1px solid #bababa; background:#f8f8f8;}
.bk_comment .t .orn{ display:block; width:252px; height:32px; background:url(../images/icon_book.gif) no-repeat -260px -96px #FF9900; position:absolute; right:0px; top:0px;}
.bk_comment .t .btn_comm,.bk_comment .t2 .btn_comm{ display:block; width:100px; height:32px; line-height:34px; position:absolute; left:260px; top:0px; padding-left:20px; background:url(../images/icon_book.gif) no-repeat -573px -41px;}
.bk_comment .t .btn_comm{ color:#2e9ecf;}
.bk_comment .t2 .btn_comm{ color:#9d5501;}
.tabs_comm,.tabs_comm2{ position:absolute; top:-1px; left:0px; width:260px; height:34px;}
.tabs_comm li{ float:left; width:130px; height:34px; text-align:center; font-size:14px; position:relative;}
.tabs_comm li a{ display:block; height:24px; padding-top:8px; color:#2974ab; border-right:1px solid #d2e1f1;}
.tabs_comm li a:hover{ background:#fff; font-weight:800;}
.tabs_comm .thistab{ color:#2974ab; font-weight:800; font-size:14px; background:#fff; border-top:2px solid #41b7e1;}
.tabs_comm2{position:absolute; top:-1px; left:0px; width:260px; height:34px;}
.tabs_comm2 li{ float:left; width:130px; height:34px; text-align:center; font-size:14px; position:relative;}
.tabs_comm2 li a{ display:block; height:24px; padding-top:8px; color:#9d5501; border-right:1px solid #bababa;}
.tabs_comm2 li a:hover{ background:#fff; font-weight:800; height:24px;}
.tabs_comm2 .thistab{ color:#9d5501; font-weight:800; font-size:14px; background:#fff; border-top:2px solid #9d5501;}
.tab_con_comm,.tab_con_comm2{ width:auto; height:auto; padding:20px 10px 0px; border-bottom:none;}
.tab_con_comm{ border:1px solid #d2e1f1; border-top:none;}
.tab_con_comm2{ border:1px solid #bababa; border-top:none;}
.list_t1d{ width:auto; height:auto; padding:5px 10px; font-family:"宋体";}
.list_t1d dd{ clear:both; height:28px; _height:24px; font-size:13px;}
.list_t1d .sort,.list_t1d .name{ display:block; float:left; }
.list_t1d .sort{width:45px; height:24px; line-height:24px; color:#666;}
.list_t1d .name{width:80%; height:20px; padding-top:3px; border-bottom:1px dotted #c5c5c5; overflow:hidden; letter-spacing:-1px;}
.list_t22,.list_t32{ width:auto; height:auto; padding:0px 5px; font-family:"宋体";}
.list_t22 dd{ clear:both; height:27px; _height:23px; font-size:13px; border-bottom:1px dotted #c5c5c5; overflow:hidden;}
.list_t22 .name{ display:block; float:left; width:75%; height:22px; padding-top:5px; padding-left:5px; overflow:hidden;}
.list_t22 .chapter{ display:block; float:right; width:45px; height:22px; padding-top:5px; text-align:right; color:#666;}
.list_t32 li{height:28px; _height:24px; font-size:13px; overflow:hidden;}
.list_t32 li .sort{ float:left; display:block; width:45px; height:24px; line-height:24px; color:#666; }
.list_t32 li p{float:left; width:80%; height:24px; _height:22px; line-height:24px; _line-height:22px; border-bottom:1px dotted #c5c5c5; font-size:13px; overflow:hidden;}
.list_t32 li p .name{float:left; display:block; width:67%; height:24px; _height:22px; line-height:24px; _line-height:22px; padding-right:4px; overflow:hidden;}
.list_t32 li p .date{float:left; display:block; width:28%; height:24px; _height:22px; line-height:24px; _line-height:22px; color:#999; font-size:12px; text-align:right;}
/*.maylike{width:686px;height:200px;border: 1px solid #d2e1f1;padding: 8px 10px 0px;margin: 10px 0 0 0;}
.changes{float:right;cursor:pointer;}
.picbox{width: 686px;height: 150px;overflow: hidden;position: relative;}
.piclist{height: 150px;position: absolute;}
.piclist li{background: #eee;margin:0 18px 0 18px;padding: 5px;float: left;width:90px;height:120px;text-align:center;}
.piclist li a img{width:90px; height:120px;}
#row2,#row3{display:none;}
.piclist li span{margin:5px 0 0 0;}*/
.box{ width:706px; position:relative; /*overflow:hidden;*/ _height:100%;border: 1px solid #d2e1f1;margin: 10px 0 0 0;}
.picbox{ width:706px; height:150px; overflow:hidden; position:relative;margin:0 0 20px 0;}
.piclist{ height:150px;position:absolute; left:0px; top:0px}
.piclist li{  padding:5px; float:left;margin:0 20px 0 21px;width:90px;height:120px;display:inline;text-align:center;}
.swaplist{ position:absolute; left:-3000px; top:0px}
.piclist li a img{width:90px; height:120px;}
.changes{float:right;cursor:pointer;font-size: 12px; background: url(../images/icon_book.gif) no-repeat -737px -251px; padding-left:27px; padding-right:10px;}
.maylike{float:left;width:706px;height:34px;line-height:34px;border-bottom: 1px solid #d2e1f1; color: #333;font-family: "宋体";margin-bottom: 20px;font-size: 14px;color: #2974ab; background:#EAF7FF; position:relative; top:-1px; border-top:2px solid #41b7e1;}
.maylike .backright{ float:right; /*background:url(../images/icon_book.gif) no-repeat -256px -96px;*/ width:255px; text-align:right;}
.maylike_s{float:left;padding:0 0 0 25px; font-weight:800;}
.aname{float:left;margin:5px 0 0 0;overflow:hidden;width:90px;text-align:center;}