/* SHUHAI.COM CHANNEL.CSS v1.0 | 2014*/
@import url(style.css);

.boxm3{ float: left; height: auto; padding-left: 10px; width: 560px;}
.box_news{ width:auto; height:135px; margin:0px; clear:both; border:1px solid #d2e1f1; border-top:none; background-color:#fff;}
.box_news h2{ width:auto; height:25px; font-family:"Î¢ÈíÑÅºÚ"; font-size:18px; color:#2974ab; font-weight:normal; background:url(../images/icon.gif) no-repeat -250px 5px;}
.box_news h2 .ito{ display:inline-block; width:20px; height:20px; background:url(../images/icon.gif) no-repeat -204px -120px;}
.box_news h2 .ien{ font-size:16px; color:#87c8f8;}
.box_news .headline{ width:auto; height:50px; line-height:50px; font-family:"Î¢ÈíÑÅºÚ"; font-size:18px; text-align:center; overflow:hidden; padding:0px 20px;}
.box_news .headline a{ color:#f00;}
.list_t11{ width:auto; height:auto; font-family:"ËÎÌå";}
.list_t11 li{ clear:both; height:28px; _height:24px; font-size:13px; border-bottom:1px dotted #c5c5c5;}
.list_t11 .sort,.list_t11 .name{ display:block; float:left;}
.list_t11 .sort{width:45px; height:24px; line-height:24px; color:#666;}
.list_t11 .name{width:75%; height:20px; padding-top:3px; overflow:hidden; letter-spacing:-1px;}
.list_t11 .on{clear:both; width:auto; height:120px; border-bottom:none;}
.list_t11 .on a img{ display:block; float:left; width:80px; height:108px;}
.list_t11 .on dl{ float:left; width:84px; height:auto; padding-left:10px;}
.list_t11 .on dl dt,.list_t11 .on dl dd{ display:block; width:100%; height:24px; line-height:24px; overflow:hidden; font-size:12px;}
.list_t11 .on dl .name{ font-size:14px; font-weight:800;}
.list_t11 .on dl .author{ color:#999;}
.list_t11 .on dl .author em{ color:#555; padding-left:5px;}
.list_t11 .on dl .txt{ height:60px; color:#666; line-height:20px;}
.list_img3{ float:left; width:226px; height:140px; padding:20px 0px 20px 15px;}
.list_img3 dt{ float:left; width:105px; height:auto;}
.list_img3 dt a img{ width:95px; height:127px;}
.list_img3 dd{ float:left; width:110px; height:24px; line-height:24px; color:#a3a3a3; overflow:hidden;}
.list_img3 .name{ font-size:14px; font-weight:800;}
.list_img3 .author{ color:#999;}
.list_img3 .author em{ color:#555;}
.list_img3 .txt{ height:66px; line-height:180%; padding-top:5px; color:#666;}
.box_mid4{ width:560px; height:405px;}
.box_mid4 .t{ width:auto; height:30px; border-top:2px solid #41b7e1; background:#e8f6ff;}
.box_mid4 .t h3{ width:538px; clear:both; height:24px; padding-top:6px; color:#2974ab; font-size:14px; font-weight:800; padding-left:20px; border:1px solid #a8d2fd; border-top:none; background:#e8f6ff;}
.box_mid4 .first{ width:auto; height:180px; overflow:hidden; border-bottom:1px dotted #ccc;}
.box_mid4 .first .nbk{ display:block; width:98%; height:30px; overflow:hidden; margin:0px auto; padding:20px 0px 10px; font-size:18px; text-align:center;}
.box_mid4 .first .txt1{ width:auto; height:60px; line-height:180%; padding:5px 5px 10px; text-indent:2em;  color:#999; overflow:hidden;}
.box_mid4 .box_li{ float:left; width:48%; height:auto; padding-top:20px; padding-left:10px;}
.box_li .bok .img{ float:left; width:105px; height:127px;}
.box_li .bok .img a img{ width:95px; height:127px;}
.box_li .bok dd{ float:left; width:150px; overflow:hidden;}
.box_li .bok .name{ height:24px; line-height:24px; font-size:14px; font-weight:800;}
.box_li .bok .intro{ height:100px; line-height:170%; text-indent:2em; padding-top:5px; color:#999; word-break:break-all;}
.box_li ul{ width:auto; height:auto; padding-top:15px;_padding-top:8px;  padding-right:0px; padding-left:5px; clear:both;}
.box_li ul li{ width:auto; height:24px; line-height:24px; padding:0px;  overflow:hidden;}
.box_li ul li .sort{ color:#555; padding-right:5px;}
/* tmall focus */
#focus {width:560px; height:330px; overflow:hidden; position:relative;}
#focus ul {height:330px; position:absolute;}
#focus ul li {float:left; width:560px; height:330px; overflow:hidden; position:relative; background:#000;}
#focus ul li div {position:absolute; overflow:hidden;}
#focus .btnBg {position:absolute; width:560px; height:40px; left:0; bottom:0; background:#000;}
#focus .bbtn {position:absolute; width:560px; height:24px; left:0; bottom:5px; padding-left:10px; left:400px;}
#focus .bbtn span {display:inline-block; _display:inline; _zoom:1; width:18px; height:18px; line-height:18px; text-align:center; font-size:14px; font-family:"Microsoft YaHei",SimHei; margin-right:10px; cursor:pointer; color:#949494; background:#fbfbfb;}
#focus .bbtn span.on {background:#4cb6ff; color:#fff;}






