<link href="{?$jieqi_themeurl?}style/user.css" type="text/css" rel="stylesheet" />
<link href="{?$jieqi_themeurl?}style/mod_task.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
	var sendUrl = "{?function geturl:'task':'task':'SYS=method=taskComplete'?}";
</script>
<!--wrap2 begin-->
<div class="wrap2">
	{?include file = "modules/article/templates/bookFunction.html" ?}
	<!--article2 begin-->
	<div class="article3 fr">
		<!--tabox begin-->
		<div class="tabox">
			{?include file = "modules/task/templates/tasktab.html" ?}
			<div class="tips f14 p10 g3 mt10 mb10 pl20 b">过去完成的所有任务。</div>
			<ul id="tab_conbox" class="f0">
				<li class="fix">
					<table width="98%" border="0" cellspacing="0" cellpadding="0" class="tabl2">
							<tr class="bgt b">
							<th width="8%" align="center" scope="col">序号</th>
							<th width="67%" align="center" scope="col">任务描述</th>
							<th width="25%" align="center" scope="col">完成时间</th>
						</tr>
						{?section name=i loop=$lists?}
						<tr>
							<td align="center" valign="middle">{?$i.order?}</td>
							<td valign="middle">{?$lists[i].records?}</td>
							<td align="center" valign="middle">{?$lists[i].createtime|date:'Y-m-d'?}</td>
						</tr>
						{?/section?}
					</table>
					<div class="bar fix tc">
						<div class="page2 auto">{?$url_jumppage?}</div>
					</div>
				</li>
			</ul>
		</div>
		<!--tabox end-->
	</div>
	<!--article2 end-->
</div>
<!--wrap2 end-->
<script type="text/javascript" src="{?$jieqi_themeurl?}js/mod.task.js"></script>