
        <style>
        .rankLI li{padding: 10px 0;border-bottom: #ddd 1px solid;}
        .rankLI li:last-child{border-bottom: 0;}
        .rankLI li a{display: block;}
        .rankLI li span{width: 18px;height:18px;line-height: 18px;text-align: center;overflow: hidden;color: #fff;display: inline-block;margin-right: 5px;border-radius: 50%;vertical-align: middle;}
        </style>
        <div class="p10 pb0 tc">
    <form action="http://m.suixinmh.com/search/" method="post" data-name="search_form" id="search_form">
        <input type="text" class="p10 c666 b bcddd bgcfff wp70" placeholder="请您少输也别输错字" name="searchkey" id="searchkey"/>
        <a href="javascript:" class="ptb10 plf15 ml10 vat bgcddd c666 vam" onclick="document.getElementById('search_form').submit()">搜索</a>
    </form>
</div>
        <!--男生榜-->
        <div class="mt10 bgcfff plf10">
            <h1 class="ptb10 f16 clearfix" style="color: #1fb3b6;border-bottom:#dad9d9 1px solid;">男生榜</h1>
            <ul class="rankLI">
            
<li class="pr pl10 pr10 bb bcddd">
        <a href="http://m.suixinmh.com/book/11707.htm" target="_self">
                <span class="bgcPink cfff dib brp50 mr5 lh20 tc w20 h20 ">1</span> 亲爱的鬼先生
        </a>
        <!--<span class="pa f12 c888 right10">187053</span>-->
</li>

<li class="pr pl10 pr10 bb bcddd">
        <a href="http://m.suixinmh.com/book/11705.htm" target="_self">
                <span class="bgcPink cfff dib brp50 mr5 lh20 tc w20 h20 ">2</span> 神级保安
        </a>
        <!--<span class="pa f12 c888 right10">187053</span>-->
</li>

<li class="pr pl10 pr10 bb bcddd">
        <a href="http://m.suixinmh.com/book/11711.htm" target="_self">
                <span class="bgcPink cfff dib brp50 mr5 lh20 tc w20 h20 ">3</span> 妙手圣医
        </a>
        <!--<span class="pa f12 c888 right10">187053</span>-->
</li>

               <!--  <li><a class="tEllipsis" href="details.html"><span class="bgcOrange">1</span>婚色撩人：权少诱妻成瘾</a></li>
                <li><a class="tEllipsis" href="details.html"><span class="bgcOrange">2</span>婚色撩人：权少诱妻成瘾</a></li>
                <li><a class="tEllipsis" href="details.html"><span class="bgcOrange">3</span>婚色撩人：权少诱妻成瘾</a></li>
                <li><a class="tEllipsis" href="details.html"><span class="bgcddd">4</span>婚色撩人：权少诱妻成瘾</a></li>
                <li><a class="tEllipsis" href="details.html"><span class="bgcddd">5</span>婚色撩人：权少诱妻成瘾</a></li>
                <li><a class="tEllipsis" href="details.html"><span class="bgcddd">6</span>婚色撩人：权少诱妻成瘾</a></li>
                <li><a class="tEllipsis" href="details.html"><span class="bgcddd">7</span>婚色撩人：权少诱妻成瘾</a></li> -->
            </ul>
        </div>
        <!--女生榜-->
        <div class="mt10 bgcfff plf10">
            <h1 class="ptb10 f16 clearfix" style="color: #1fb3b6;border-bottom:#dad9d9 1px solid;">女生榜</h1>
            <ul class="rankLI">
                 
<li class="pr pl10 pr10 bb bcddd">
        <a href="http://m.suixinmh.com/book/11721.htm" target="_self">
                <span class="bgcPink cfff dib brp50 mr5 lh20 tc w20 h20 ">1</span> 爱上郁金香
        </a>
        <!--<span class="pa f12 c888 right10">187053</span>-->
</li>

            </ul>
        </div>
    
 
</html>