{?set jieqi_page_template = "/empty.html"?}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{?$_SGLOBAL['cate']['setting']['meta_title']?}-{?$_SGLOBAL['sitename']?}</title>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta name="keywords" content="{?$_SGLOBAL['cate']['setting']['meta_keywords']?}" />
<meta name="description" content="{?$_SGLOBAL['cate']['setting']['meta_description']?}" />
<link href="http://img.xunshuba.com/about/kfcss.css" rel="stylesheet" type="text/css" />

<style type="text/css">
<!--
body {
	background-color: #FFFFFF;
}
.style2 {color: #666666}
.style3 {
	font-size: 16px;
	font-weight: bold;
}
-->
</style><body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="30" bgcolor="F8F8F8">
<div align="right" class="style2"><script src="/scripts/toplink_new.js" type="text/javascript" ></script></div>
</div></td>
  </tr>
  <tr>
    <td height="1" bgcolor="E6E6E6"></td>
  </tr>
  <tr>
    <td height="106" background="http://img.xunshuba.com/about/body_bg.png">
      <table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="300" height="84" rowspan="2" valign="bottom"><img src="http://img.xunshuba.com/about/logo.png" width="300" height="71" /></td>
        <td width="352" height="44">&nbsp;</td>
        <td width="308">&nbsp;</td>
      </tr>
      <tr>
        <td height="40"><div align="center"></div></td>
        <td><!--搜索条[ ]--></td>
      </tr>
    </table></td>
  </tr>
</table>

 <div class="clear"></div>
    <div id="cz_mid">
	    <div id="cz_mid_1">
		   <div id="cz_mid_3">
	         <div class="djyx1_bt3">
			   <ul id="menu8">
			     <li{?if $_SGLOBAL['cate']['catid']==1?} class="hover"{?/if?}><a href="http://www.xunshuba.com" target="_blank"><img src="http://www.xunshuba.com/Service/images/cz0.gif" align="absmiddle" style="padding-right:5px;" width="18" height="18" />首页</a> </li>
				 <li{?if $_SGLOBAL['cate']['catid']==2?} class="hover"{?/if?}><a href="{?function jieqi_geturl:'news':'lists':2:1?}"><img src="http://www.xunshuba.com/Service/images/cz02.gif" align="absmiddle" style="padding-right:5px;" width="18" height="18" />关于{?$jieqi_sitename?}</a> </li>
				 <li{?if $_SGLOBAL['cate']['catid']==75?} class="hover"{?/if?}><a href="{?function jieqi_geturl:'news':'lists':75:1?}"><img src="http://www.xunshuba.com/Service/images/cz02.gif"align="absmiddle" style="padding-right:5px;" width="18" height="18" />合作伙伴</a></li>
				 <li{?if $_SGLOBAL['cate']['catid']==5?} class="hover"{?/if?}><a href="{?function jieqi_geturl:'news':'lists':5:1?}"><img src="http://www.xunshuba.com/Service/images/cz02.gif"align="absmiddle" style="padding-right:5px;" width="18" height="18" />包月会员</a></li>
				 <li{?if $_SGLOBAL['cate']['catid']==1?} class="hover"{?/if?}><a href="http://pay.xunshuba.com" target="_blank"><img src="http://www.xunshuba.com/Service/images/cz02.gif"align="absmiddle" style="padding-right:5px;" width="18" height="18" />充值中心</a></li>
				 <li{?if $_SGLOBAL['cate']['catid']==4?} class="hover"{?/if?}><a href="{?function jieqi_geturl:'news':'lists':4:1?}"><img src="http://www.xunshuba.com/Service/images/cz02.gif"align="absmiddle" style="padding-right:5px;" width="18" height="18" />客服中心</a></li>
				 <li{?if $_SGLOBAL['cate']['catid']==67?} class="hover"{?/if?}><a href="{?function jieqi_geturl:'news':'lists':67:1?}"><img src="http://www.xunshuba.com/Service/images/cz02.gif"align="absmiddle" style="padding-right:5px;" width="18" height="18" />帮助中心</a></li>
				 <li{?if $_SGLOBAL['cate']['catid']==1?} class="hover"{?/if?}><a href="http://www.xunshuba.com/newmessage.php?tosys=1" target="_blank"><img src="http://www.xunshuba.com/Service/images/cz02.gif"align="absmiddle" style="padding-right:5px;" width="18" height="18" />意见反馈</a></li>
				 <li{?if $_SGLOBAL['cate']['catid']==69?} class="hover"{?/if?}><a href="{?function jieqi_geturl:'news':'lists':69:1?}"><img src="http://www.xunshuba.com/Service/images/cz02.gif"align="absmiddle" style="padding-right:5px;" width="18" height="18" />网站地图</a></li>
				 <li{?if $_SGLOBAL['cate']['catid']==3?} class="hover"{?/if?}><a href="{?function jieqi_geturl:'news':'lists':3:1?}"><img src="http://www.xunshuba.com/Service/images/cz05.gif"align="absmiddle" style="padding-right:5px;" width="18" height="18" />联系我们</a></li>

<li></li>
			   </ul>
			  </div>
		   </div>
		   <div class="t_red" id="cz_mid_4"></div>
      </div>
<div class="main_lt_316">
		<div class="right_q">{?section name=i loop=$_SGLOBAL['subcate']?}
			<!-- 主体:右侧问题{?$i.order?} 开始 -->
			<div class="right357 f_left">
				<div class="right_btbg"><span class="span_left"><a href="{?function jieqi_geturl:'news':'lists':$_SGLOBAL['subcate'][i]['catid']:1?}">{?$_SGLOBAL['subcate'][i]['catname']?}</a></span><span class="span_right"></span></div>
				<div class="right_rt1"><a href="{?function jieqi_geturl:'news':'lists':$_SGLOBAL['subcate'][i]['catid']:1?}"><img src="{?$_SGLOBAL['subcate'][i]['image']?}" border="0" /></a></div>
				<div class="right_rt2">
					<ul>
						{?eval $cid = $_SGLOBAL['subcate'][i]['catid'];?}
						{?tag_news_22_[新闻]通用查询<{inputtime,5,$cid,0,0,0,38}>?}
					</ul>
				</div>
			</div>
			<!-- 主体:右侧问题{?$i.order?} END -->
{?/section?}
		</div>
		 
</div>
	   </div>
     <table width="100%" border="0" cellpadding="0" cellspacing="0">
       <tr>
         <td height="100" bgcolor="F8F8F8"><div align="center">{?$jieqi_sitename?} &copy; 2012 Xunshuba.com 版权所有</div><div style="display:none"> <script src="http://s4.cnzz.com/stat.php?id=4810600&web_id=4810600" language="JavaScript"></script></div>
</td>
       </tr>
     </table>
</body>
</html>
