{?include file="tuike/yuntest/templates/public/header.html" ?}
{?include file="tuike/yuntest/templates/public/left.html" ?}

    <div class="g-main">
      <div class="m-book-title">平台公告</div>
      <div class="to_leave"></div>
      <div class="m-panel ">
        <div class="panel-body">
          <div class="container wrap">
            <link rel="stylesheet" href="{?$jieqi_themeurl?}css/uesyouyueyun.css" />
            <div class="rich_media">
              <div id="page-content">
                <div id="img-content" class="rich_media_area_primary">
                  <h2 class="rich_media_title" id="activity-name">  【坐享分成】年度返利活动正式上线!    </h2>
                  <div class="rich_media_meta_list">
          
                  </div>
                  <div class="rich_media_content " id="js_content">
                    <img src="{?$jieqi_themeurl?}img/new_ear_day.jpg" alt="">
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <style>
      html, body {
        background-color: #e5f3fc;
      }
    </style>
{?include file="tuike/yuntest/templates/public/footer.html"?}