/* CSS Document */

.xznr01_b_cs{ background:url(images/fh.jpg) no-repeat; width:600px; height:176px; margin-left:30px;}
.xznr01_b_cs ul{}
.xznr01_b_cs ul li{ float:left;  padding:40px 30px; }
.xznr01_b_cs ul li a{text-indent:-99999px;display:block; width:100px; height:30px;}