    <div class="ad1"><a href="javascript:void(0)" target="_blank" title=""><embed src=/themes/v1/images/tj1.png width="480" height="95" 

type=application/x-shockwave-flash wmode="transparent" quality="high" ;> </embed></a></div>
    <div class="top_news">
     <ul class="f_gray3">
      <li><a href="http://m.pinshu.net/" target="_blank">2015年作者福利！专注一品红文！</a></li>
      <li><a href="http://m.pinshu.net/">WAP客户端，更多好看言情小说</a></li>
      <li><a href="http://m.pinshu.net/" target="_blank" class="f_red">品书网网站内测中，请多包涵！</a></li>
      <li><a href="http://m.pinshu.net/" target="_blank" class="f_red">更多精彩小说，轻松手机阅读</a></li>
     </ul>
    </div>