<?xml version="1.0" encoding="utf-8"?>
<book>
	  	<Channel><![CDATA[1]]></Channel>		
	  	<Sort><![CDATA[{?eval echo gb2utf8XHSafeStr($article['sort'],false);?}]]></Sort>		
	  	<title><![CDATA[{?eval echo gb2utf8XHSafeStr($article['articlename'],false);?}]]></title>		
	  	<author><![CDATA[{?eval echo gb2utf8XHSafeStr($article['author'],false);?}]]></author>		
	  	<cover><![CDATA[{?$article['url_image_l']?}]]></cover>		
	  	<summary><![CDATA[{?eval echo gb2utf8XHSafeStr($article['intro'],false);?}]]></summary>			
		<role><![CDATA[{?eval echo gb2utf8XHSafeStr($article['keywords'],false);?}]]></role>		
		<state><![CDATA[{?eval echo gb2utf8XHSafeStr($article['fullflag_tag'],false);?}]]></state>		
		<IsVip><![CDATA[{?$article['articletype']?}]]></IsVip>
</book>