<?xml version="1.0" encoding="UTF-8" ?>
<data>
<cname><![CDATA[{?eval echo gb2utf8XHSafeStr($article['shortcaption'],false);?}]]></cname>
<bookname><![CDATA[{?eval echo gb2utf8XHSafeStr($article['articlename'],false);?}]]></bookname>
<bookid>{?$article['articleid']?}</bookid>
<bookpic><![CDATA[{?$article['url_image_l']?}]]></bookpic>
<intro><![CDATA[{?eval echo gb2utf8XHSafeStr($article['intro'],false);?}]]></intro>
<authorname><![CDATA[{?eval echo gb2utf8XHSafeStr($article['author'],false);?}]]></authorname>
<createtime>{?$article['postdate']?}</createtime>
<allsize>{?$article['size_c'];?}</allsize>
<fullflag>{?$article['fullflag']?}</fullflag>
<sortid>{?$article['sortid']?}</sortid>
</data>