<?xml version="1.0" encoding="utf-8"?>
<data>
<cname><![CDATA[{?eval echo gb2utf8XHSafeStr(getCategory_shenma($article['sortid']),false);?}]]></cname>
<bookname><![CDATA[{?eval echo gb2utf8XHSafeStr($article['articlename'],false);?}]]></bookname>
<bookid><![CDATA[{?$article['articleid']?}]]></bookid>
<bookpic><![CDATA[{?$article['url_image_l']?}]]></bookpic>
<zzjs><![CDATA[{?eval echo gb2utf8XHSafeStr($article['intro'],false);?}]]></zzjs>
<authorname><![CDATA[{?eval echo gb2utf8XHSafeStr($article['author'],false);?}]]></authorname>
<createtime><![CDATA[{?$article['postdate']|date:"Y-m-d H:i:s"?}]]></createtime>
<bksize><![CDATA[{?eval echo $article['size']/2;?}]]></bksize>
<weekvisit><![CDATA[{?$article['weekvisit']?}]]></weekvisit>
<monthvisit><![CDATA[{?$article['monthvisit']?}]]></monthvisit>
<allvisit><![CDATA[{?$article['allvisit']?}]]></allvisit>
<writestatus><![CDATA[{?$article['fullflag']?}]]></writestatus>
<license><![CDATA[{?$article['articletype']?}]]></license>
<channel><![CDATA[0]]></channel>
<keyword><![CDATA[{?eval echo str_replace(' ',';',gb2utf8XHSafeStr($article['keywords'],false));?}]]></keyword>
</data>