<?xml version="1.0" encoding="UTF-8" ?>
<data>
<cname><![CDATA[{?eval echo gb2utf8XHSafeStr($article['shortcaption'],false);?}]]></cname>
<bookname><![CDATA[{?eval echo gb2utf8XHSafeStr($article['articlename'],false);?}]]></bookname>
<bookid>{?$article['articleid']?}</bookid>
<bookpic><![CDATA[{?$article['url_image_l']?}]]></bookpic>
<zzjs><![CDATA[{?eval echo gb2utf8XHSafeStr($article['intro'],false);?}]]></zzjs>
<authorname><![CDATA[{?eval echo gb2utf8XHSafeStr($article['author'],false);?}]]></authorname>
<createtime>{?$article['postdate']?}</createtime>
<bksize>{?$article['size_c']?}</bksize>
<weekvisit>{?$article['weekvisit']?}</weekvisit>
<monthvisit>{?$article['monthvisit']?}</monthvisit>
<allvisit>{?$article['allvisit']?}</allvisit>
<writestatus>{?$article['fullflag']?}</writestatus>
<license>{?$article['articletype']?}</license>
</data>