{?if $ajax_request == 0?}
{?include file="tuike/super/templates/public/header.html" ?}
{?include file="tuike/super/templates/public/left.html" ?}
    <div class="g-main">
      <h3>推客管理 </h3>
      <div class="m-panel " id="form_main">
{?/if?}
        <div class="panel-body">
          <div class="m-table-tool f-cb">
            <div class="tool-search f-cb">
              <form action="{?function geturl:super:manusers?}" style="display:inline;" method="post">
                <input type="text" class="form-element" name="keyword" value="">
                <button class="u-btn u-btn-primary" type="submit">搜索</button>
              </form>
              <a class="u-btn u-btn-primary" href="{?function geturl:'super':'manusers':'SYS=method=manadd'?}">增加经理</a>
            </div>
          </div>
          <table id="table" class="m-table ">
            <thead>
              <tr>
                <th><i class="sortOr" _z="tkuid">用户ID</i></th>
                <th><i class="sortOr" _z="tkunn">用户名</i></th>
                <th>详情</th>
              </tr>
            </thead>
            <tbody>
              {?if intval($ktList)==0?}
              <tr>
                  <td class="tl col-1" colspan = " 7 ">亲，当前还没有记录哦~</td>
              </tr>
              {?else?}
              {?eval $url=geturl('super','manusers');?}
              {?section name=i loop=$ktList?}
              <tr>
                <td>{?$ktList[i].uid?}</td>
                <td>{?$ktList[i].uname?}</td>
                <td>
                  <a class="u-btn u-btn-primary" href="{?$url?}tkuinfo?uid={?$ktList[i].uid?}">查看</a>
                </td>
              </tr>
              {?/section?}
              {?/if?}
            </tbody>
          </table>
          <div class="m-table-bar">
            <div class="bar-pages">
              <div class="m-page">
                {?$page?}
              </div>
            </div>
            <div class="f-cb"></div>
          </div>
        </div>
{?if $ajax_request == 0?}
      </div>
    </div>
    {?eval $filter_jsobj=json_encode($filter);?}
    <script type="text/javascript">
      var filter=$.parseJSON('{?$filter_jsobj?}');  // jq
      var q_main=$('#form_main');
      var baseImgUrl='{?$jieqi_themeurl?}img/';
    </script>
{?include file="tuike/super/templates/public/footer.html"?}
{?/if?}