<table class="grid" width="100%" align="center">
  <caption>标签分类管理</caption>
  <tr>
    <td>
    	<form action="{?$adminprefix?}" method="post">
    		<label for="">按名称搜索</label>
    		<input type="text" name="name" placeholder="支持模糊查询" />
    		<input type="submit" class="button" value="搜索" />
    		<a href="{?$adminprefix?}" class="button">搜索全部</a>
    	</form>
    </td>
  </tr>
</table>
<form method="post" action="{?$adminprefix?}&method=order">
<table class="grid" width="100%" align="center">
    <caption>标签分类列表&nbsp;[<a href='{?$adminprefix?}&method=add'>+<span>添加新的标签</span></a>]</caption>
    <tr>
        <th width="4%">ID</th>
        <th width="20%">分类名称</th>
		<th width="15%">对应模块</th>
		<th width="35%">描述</th>
		<th width="16%">创建时间</th>
        <th width="10%">管理操作</th>
    </tr>
    {?section name=i loop=$lists?}
    	<tr onmouseover="this.style.backgroundColor='#EAF8FF'" onmouseout="this.style.backgroundColor='#ffffff'">
	        <td class="align_c">{?$lists[i].id?}</td>
	        <td class="align_c">{?$lists[i].name?}</td>
			<td class="align_c">{?$lists[i].module?}</td>
			<td class="align_c">{?$lists[i].description?}</td>
			<td class="align_c">{?$lists[i].createtime|date:'Y-m-d H:i:s'?}</td>
	        <td class="align_c"><a href="{?$adminprefix?}&method=edit&ptid={?$lists[i].id?}">修改</a>  | <a href="javascript:confirmurl('{?$adminprefix?}&method=del&ptid={?$lists[i].id?}', '是否删除该推荐位')">删除</a> </td>
    	</tr>
    {?/section?}  
</table>
{?$url_jumppage?}
</form>